﻿@using ONSJobTracker.Models
@model List<ONSJobTracker.ViewModels.MenuDetails.MenuDetailsViewModel>
@{
    ViewBag.Title = "User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var collapse = "collapse";
    var assign = "assign";
    var unassign = "unassign";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "userrole" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="content-header">
        <h1>
            User Menu Role
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">MenuRoleIndex</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">

                        <div class="row">
                            <div class="col-sm-7"><h3 class="box-title">Assign User Role</h3></div>
                            <div class="col-md-5" style="text-align: right">@Html.DropDownList("User", ViewBag.alluser as SelectList, "---Select User---", new { id = "ddlUser", @class = "form-control select2", style = "width:100%" })</div>


                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            @if (Model != null)
                            {
                                int sl = 0;
                                var groupmenu = Model.GroupBy(x =>new{ x.ModuleName,x.ModuleId});
                                foreach (var data in groupmenu)
                                {
                                    int num = 0;
                                    sl += 1;
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@collapse@sl">
                                                    @data.Key.ModuleName
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@collapse@sl" class="panel-collapse collapse ">
                                            <div class="box-body">
                                                <table class="table table-striped tablewithsearch ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10%">#</th>
                                                            <th style="width: 40%">Menu Name</th>
                                                            <th style="width: 20%">Menu Type</th>
                                                            <th style="width: 20%">Is Menu</th>
                                                            <th style="width: 10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var submenu in data.OrderBy(x => x.MenuSl))
                                                            {
                                                                num += 1;
                                                                <tr>
                                                                    <td style="font-weight: bold">@num</td>
                                                                    <td>@submenu.MenuName</td>
                                                                    <td>@submenu.MenuType</td>
                                                                    <td>@submenu.IsMenu</td>
                                                                    <td style="cursor: pointer;">
                                                                        <a id="@assign@submenu.Id" style="display: none" onclick=" menuassign(@data.Key.ModuleId,@submenu.Id,true);" title="Assign"
                                                                           data-placement="top">
                                                                            <i  class="fa fa-times" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a id="@unassign@submenu.Id" style="display: none" onclick=" menuassign(@data.Key.ModuleId,@submenu.Id,false);" title="Unassign"
                                                                           data-placement="top">
                                                                            <i  class="fa fa-check" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                                                }
                                                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
                                                            }

@section ScriptFile
{
    <script type="text/javascript">
        $('#ddlUser').on("change",
            function(e) {
                var uid = $('#ddlUser').val();
                if (uid !== '') {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetUserMenuRole", "Helper")",
                        data: { userid: uid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {                          
                            $.each(data,
                                function(i, row) {
                                    var menudetailsfk = data[i].MenuDetailsFk;
                                    var status = data[i].Status;
                                    if (status) {
                                        $('#assign' + menudetailsfk).hide();
                                        $('#unassign' + menudetailsfk).show();
                                    } else {
                                        $('#assign' + menudetailsfk).show();
                                        $('#unassign' + menudetailsfk).hide();
                                    }

                                });
                        }
                    });
                }
            });

        function menuassign(masterid, detailsid, stat) {
            
            var moduleid = masterid;
            var detailsmenuid = detailsid;
            var status = stat;
            var userid = $('#ddlUser').val();           
            $.ajax({
                type: "post",
                url: "@Url.Action("SetUserMenuRole", "Helper")",
                data: { moduleid: moduleid, detailsmenuid: detailsmenuid, status: status, userid: userid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.updatedstatus) {
                        $('#assign' + data.menuid).hide();
                        $('#unassign' + data.menuid).show();

                    } else {
                        $('#assign' + data.menuid).show();
                        $('#unassign' + data.menuid).hide();
                    }
                }
            });
        }
    </script>
}
