﻿@using ONSJobTracker.Models
@model MenuMaster
@{
    ViewBag.Title = "Master Menu Index";
    var tdname = "tdname";
    var tdsl = "tdsl";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateMenuMaster", "UserMenu", FormMethod.Post, new { id = "menumaster" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Menu
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">MasterMenuIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Master Menu</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModuleName) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.ModuleName, new { id = "txtModuleName", placeholder = "Module Name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ModuleName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModuleSl)
                            @Html.TextBoxFor(model => model.ModuleSl, new { id = "txtModuleSl", placeholder = "Module Sl", @class = "form-control", style = "width:100%;",type= "number" })
                            @Html.ValidationMessageFor(model => model.ModuleSl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Master Menu</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 30%">Name</th>
                                    <th style="width: 50%">Serial</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<MenuMaster> mastermenus = ViewBag.allmastermenu as List<MenuMaster>;
                                    int sl = 0;
                                    if (mastermenus != null)
                                    {

                                        foreach (var menu in mastermenus)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@menu.Id</td>
                                                <td>@sl</td>
                                                <td id="@tdname@menu.Id">@menu.ModuleName</td>
                                                <td id="@tdsl@menu.Id">@menu.ModuleSl</td>
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@menu.Id" onclick=" menuinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteMenuMaster", "UserMenu", new RouteValueDictionary(new {id = menu.Id}))" id="@menu.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Master Menu Deleting"
                                                       data-swal-text="Are you sure to Delete this Master Menu">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    }

@section ScriptFile {
    <script type="text/javascript">
        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtModuleName').val($('#tdname' + r).text().trim());
                $('#txtModuleSl').val($('#tdsl' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtModuleName').val("");
                $('#txtModuleSl').val("");
            } else {

            }
        });
    </script>

}