﻿@using ONSJobTracker.CustomizedFunction
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONS Job Tracer| Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/daterangepicker.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/bootstrap-datepicker.min.css">

    <!-- Time picker -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/bootstrap-timepicker.min.css">
    <!-- Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/select2.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="~/Content/bower_components/iCheck/square/blue.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/_all-skins.min.css">

    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/bower_components/CSS/bootstrap3-wysihtml5.min.css">
    <!--Sweet alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.css" />

    <link rel="stylesheet" href="~/Content/bower_components/CSS/AdminLTE.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style type="text/css">
        .swal2-container {
            zoom: 1.3;
        }

        .swal2-confirm {
            margin: 5px !important;
        }
    </style>
    @RenderSection("head", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        string userName = HttpContext.Current.Request.Cookies["UserInfo"]?["UserName"];
        string userDesignation = HttpContext.Current.Request.Cookies["UserInfo"]?["UserDesignation"];
        string userImage = HttpContext.Current.Request.Cookies["UserInfo"]?["UserImage"];
        string userEmail = HttpContext.Current.Request.Cookies["UserInfo"]?["UserEmail"];
        string userId = EncryptDecrypt.Decrypt(HttpContext.Current.Request.Cookies["UserInfo"]?["UserId"]);
    }
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ONS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ONS</b>Admin</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Image/@userImage" class="user-image" alt="User Image">
                                <span class="hidden-xs">@userName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/Image/@userImage" class="img-circle" alt="User Image">
                                    <p>
                                        @userName - @userDesignation
                                        <small>@userEmail</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("UpdateEmployeeProfile", "UserAccess",new RouteValueDictionary(new {id = userId}))" id="@userId" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout","Account")" class="btn btn-default btn-flat">Sign Out</a>
                                        @*@Html.ActionLink("Sign out", "Logout", "Account", new { @class = "btn btn-default btn-flat" }, null)*@
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Image/@userImage" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@userName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>@Html.Partial("_MenuPartial")
                    @*<li><a href="@Url.Action("ProjectTypeIndex", "Setting")"><i class="fa fa-circle-o"></i>Project Type </a></li>
                        <li><a href="@Url.Action("ProjectStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>Project Status </a></li>
                        <li><a href="@Url.Action("ProjectClusterIndex", "Setting")"><i class="fa fa-circle-o"></i> Project Cluster </a></li>
                        <li><a href="@Url.Action("ProjectRegionIndex", "Setting")"><i class="fa fa-circle-o"></i>Project Region</a></li>
                        <li><a href="@Url.Action("ProjectWorkStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>       Work Status </a></li>
                        <li><a href="@Url.Action("ReportStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>Report Status </a></li>
                        <li><a href="@Url.Action("PacStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>Pac Status</a></li>
                        <li><a href="@Url.Action("FacStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>Fac Status </a></li>
                        <li><a href="@Url.Action("InvoiceStatusIndex", "Setting")"><i class="fa fa-circle-o"></i>Invoice Status </a></li>
                        <li><a href="@Url.Action("ClientInfoIndex", "Setting")"><i class="fa fa-circle-o"></i>Client Info </a></li>*@
                    @*<li><a href="@Url.Action("PoMasterIndex", "PurchaseOrder")"><i class="fa fa-circle-o"></i>Purchase Order</a></li>

                        <li><a href="@Url.Action("WorkPlanIndex", "Planning")"><i class="fa fa-circle-o"></i>Work Plan</a></li>
                        <li><a href="@Url.Action("TransportPlanIndex", "Planning")"><i class="fa fa-circle-o"></i>Transport Plan</a></li>
                        <li><a href="@Url.Action("WorkPlanListForApproval", "Planning")"><i class="fa fa-circle-o"></i>Plan List</a></li>
                        <li><a href="@Url.Action("DailyWorkUpdateIndex", "Planning")"><i class="fa fa-circle-o"></i>Daily Work Update</a></li>
                        <li><a href="@Url.Action("ReportEngineerWorkStatusIndex", "Status")"><i class="fa fa-circle-o"></i>Report Eng. Work Status</a></li>

                        <li><a href="@Url.Action("WorkDeliveryStatusIndex", "Status")"><i class="fa fa-circle-o"></i>Work Delivery</a></li>
                        <li><a href="@Url.Action("AcceptanceStatusIndex", "Status")"><i class="fa fa-circle-o"></i>Acceptances</a></li>
                        <li><a href="@Url.Action("InvoiceMasterStatusIndex", "Status")"><i class="fa fa-circle-o"></i>Invoices</a></li>
                        <li><a href="@Url.Action("PaymentStatusIndex", "Status")"><i class="fa fa-circle-o"></i>Payments</a></li>
                        <li><a href="@Url.Action("PaidPaymentIndex", "Status")"><i class="fa fa-circle-o"></i>Payments</a></li>*@
                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">

            @RenderBody()

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.ons.com.tr/">Optimum Network Solutions</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                </div>
                <!-- /.tab-pane -->

            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/JS/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/JS/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Jquery Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/bower_components/JS/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/bower_components/JS/select2.full.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/bower_components/JS/moment.min.js"></script>
    <script src="~/Content/bower_components/JS/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/bower_components/JS/bootstrap-datepicker.min.js"></script>
    <!-- timeicker -->
    <script src="~/Content/bower_components/JS/bootstrap-timepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/bower_components/JS/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/JS/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/JS/fastclick.js"></script>
    <!-- sweet alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/bower_components/iCheck/icheck.min.js"></script>
    <!--Moment.Js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/af.js"></script>
    <!--Inline Editing Js-->
    <script src="~/Content/bower_components/JS/eip.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Content/bower_components/JS/adminlte.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/bower_components/JS/demo.js"></script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        //Initialize Datatable
        $('#example1').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        $('#example').DataTable({
            dom: 'lBfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true
        });
        $('#tablewithsearch').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true
        });
        $('.tablewithsearch').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
        //Date picker
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true

        });

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        });

        //Initialize Select2 Elements
        $('.select2').select2();

        //**--------------------Delete Confirmation------------------------**//
        $(document).off('click', '[data-delconfirm]');

        $(document).on('click',
            '[data-delconfirm]',
            function (e) {
                e.preventDefault();
                var swalTitle = $(this).attr('data-swal-title');
                var swalText = $(this).attr('data-swal-text');
                var confirmBtnText = $(this).attr('data-swal-confirm-button-text');
                var redirectUrl = $(this).attr('href');

                const swalWithBootstrapButtons = swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                });
                swalWithBootstrapButtons({
                    html: false,
                    title: swalTitle,
                    text: swalText,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: confirmBtnText,
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        window.location.replace(redirectUrl);
                        return true;
                    } else if (
                        // Read more about handling dismissals
                        result.dismiss === swal.DismissReason.cancel) {
                        return false;
                    }

                    return true;
                });
            });

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


@RenderSection("ScriptFile", false)
@Html.Partial("_FlashMessage")