﻿
@{
    if (Session["MenuMaster"] != null)
    {
        var menuMaster = (List<ONSJobTracker.ViewModels.MenuModels>)Session["MenuMaster"];
        var groupMenu = menuMaster.Where(x=>x.IsMenu).GroupBy(x => x.ModuleName).ToList();

        foreach (var menu in groupMenu)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>@menu.Key</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    @foreach (var submenu in menu.OrderBy(x=>x.MenuSl))
                    {
                        <li class="active"><a href="@Url.Action(submenu.ActionResult,submenu.Controller)" ><i class="fa fa-circle-o"></i> @submenu.MenuName</a></li>
                    }
                                   
                </ul>
            </li>
        }
        
    }
}