﻿@using ONSJobTracker.ViewModels.Report
@{
    ViewBag.Title = "OverallWorkStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- form start -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Account Status For All Projects
        <small>Status</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">AccountStatusForAllProjects</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Account Status For All Projects</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-striped table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;text-align:center">Sl</th>
                                                <th style="width:15%;text-align:center">Project</th>
                                                <th style="width:15%;text-align:center">PO</th>
                                                <th style="width:15%;text-align:center">Site ID</th>
                                                <th style="width:15%;text-align:center">Site Name</th>
                                                <th style="width:9%;text-align:center">Invoice Status</th>
                                                <th style="width:9%;text-align:center">Invoice Date</th>
                                                <th style="width:9%;text-align:center">Payment Status</th>
                                                <th style="width:9%;text-align:center">Payment Date</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @{
                                                int sl = 1;
                                                List<AccountStatusOfProject> statuses = ViewBag.allstatus as List<AccountStatusOfProject>;
                                                if (statuses != null)
                                                {
                                                    foreach (var status in statuses)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center">@(sl++)</td>
                                                            <td>@status.Project</td>
                                                            <td>@status.PoNo</td>
                                                            <td>@status.SiteCId</td>
                                                            <td>@status.SiteName</td>
                                                            @{
                                                                if (status.InvoiceStatus > 0)
                                                                {
                                                                    <td>
                                                                        <label class="label label-success">Invoiced</label>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <label class="label label-danger">Not Invoiced</label>
                                                                    </td>
                                                                }
                                                                if (status.InvoiceDate > new DateTime(1900, 01, 01))
                                                                {
                                                                    <td>@status.InvoiceDate.ToString("dd MMM yyyy")</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>N/A</td>
                                                                }
                                                                if (status.PaymentStatus > 0)
                                                                {
                                                                    <td>
                                                                        <label class="label label-success">Paid</label>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <label class="label label-danger">Not Paid</label>
                                                                    </td>
                                                                }
                                                                if (status.PaymentDate > new DateTime(1900, 01, 01))
                                                                {
                                                                    <td>@status.InvoiceDate.ToString("dd MMM yyyy")</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>N/A</td>
                                                                }

                                                            }

                                                        </tr>
                                                    }
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

