﻿@using ONSJobTracker.ViewModels.Report
@{
    ViewBag.Title = "CarStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- form start -->
@using (Html.BeginForm("CarStatus", "Report", FormMethod.Post, new { id = "carstatus" }))
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Car Status
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">CarStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Car Status</h3>
                    </div>
                    <input type="hidden" id="txtStartDate" name="StartDate" />
                    <input type="hidden" id="txtFinishDate" name="FinishDate" />
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Select Date range:</label>

                                    <div class="input-group">
                                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                            <span>
                                                <i class="fa fa-calendar"></i> Date range picker
                                            </span>
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div style="text-align:center" class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Show</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Car Status</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @{
                                if (ViewBag.StartDate != null && ViewBag.FinishDate != null)
                                {
                                    var startdate = ViewBag.StartDate;
                                    var finishdate = ViewBag.FinishDate;
                                    <div class="col-md-12">
                                        <div>
                                            Car Status From <span style="font-weight:bold">@finishdate.ToString("dd MMM yyyy")</span> To <span style="font-weight:bold">@startdate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="example" class="table table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:10%;text-align:center">Sl</th>
                                            <th style="width:40%;text-align:center">Vendor Name</th>
                                            <th style="width:30%;text-align:center">Car No</th>
                                            <th style="width:20%;text-align:center">Milage</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{
                                            int sl = 1;
                                            List<CarStatusReport> cars = ViewBag.CarStatuses as List<CarStatusReport>;
                                            if (cars != null)
                                            {
                                                foreach (var car in cars)
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@(sl++)</td>
                                                        <td>@car.VendorName</td>
                                                        <td style="text-align:center"><a target="_blank" href="@Url.Action("SpecificCarInformation","Report",new { carid=car.CarId,startdate=ViewBag.StartDate,finishdate=ViewBag.FinishDate,carno=car.CarNo})">@car.CarNo</a></td>
                                                        <td style="text-align:center"><a target="_blank" href="@Url.Action("SpecificCarMilageInformation","Report",new { carid=car.CarId,startdate=ViewBag.StartDate,finishdate=ViewBag.FinishDate,carno=car.CarNo})">@car.Milage</a></td>
                                                    </tr>
                                                }
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section ScriptFile
    {
    <script>
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                startdate = moment(start).format("YYYY-MM-DD HH:mm:ss");
                finishdate = moment(end).format("YYYY-MM-DD HH:mm:ss");
                $('#txtStartDate').val(startdate);
                $('#txtFinishDate').val(finishdate);
            }
        )

    </script>
}
