﻿@model List<ONSJobTracker.ViewModels.Report.ExpensePaymentVm>
@{
    ViewBag.Title = "ExpensePaymentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Expense Payment
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"> Expense Payment List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Expense Payment List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example" style="width:100%" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width:10%">Sl</th>
                                        <th style="text-align: center;width:40%">Employee</th>
                                        <th style="text-align: center;width:25%">Expense Amount</th>
                                        <th style="text-align: center;width:25%">Paid Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {

                                            int sl = 1;
                                            foreach (var data in Model)
                                            {
                                    <tr>
                                        <td style="text-align:center">@(sl++)</td>
                                        <td>@data.Employee</td>
                                        <td style="text-align:right"><a href="@Url.Action("ExpenseDetailsByEmployee","Report",new { employeeId=data.EmployeeId})" target="_blank">@data.Expense</a></td>
                                        <td style="text-align:right"><a href="@Url.Action("PaymentRecievedByEmployee","Report",new { employeeId=data.EmployeeId})" target="_blank">@data.PaidAmount</a></td>
                                    </tr>
                                            }

                                        }


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
