﻿@model List<ONSJobTracker.ViewModels.Report.EmployeeExpense>
@using ONSJobTracker.Models
@{
    ViewBag.Title = "EmployeeWiseExpenseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Expense Payment
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"> Employee Wise Expense List</li>
    </ol>
</section>
<section class="content">


    <div class="row">
        @{
            var employeeinfo = (EmployeeInfo)ViewBag.employee;
        }
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-1"></div>
                                <div class="box-body col-md-5">
                                    <div class="input-group">
                                        <span style="width:140px;" class="input-group-addon">Name</span>
                                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@employeeinfo.Name>
                                    </div>
                                    <div class="input-group">
                                        <span style="width:140px;" class="input-group-addon">ID</span>
                                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@employeeinfo.CId>
                                    </div>

                                </div>
                                <div class="box-body col-md-5">
                                    <div class="input-group">
                                        <span style="width:140px;" class="input-group-addon">Email</span>
                                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@employeeinfo.Email>
                                    </div>
                                    <div class="input-group">
                                        <span style="width:140px;" class="input-group-addon">Project Type</span>
                                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@employeeinfo.Mobile>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Employee Wise Expense List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example" style="width:100%" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width:15%">Date</th>
                                        <th style="text-align: center;width:20%">Project</th>
                                        <th style="text-align: center;width:15%">PO</th>
                                        <th style="text-align: center;width:15%">Site</th>
                                        <th style="text-align: center;width:20%">Cost Title</th>
                                        <th style="text-align: center;width:15%">Amount</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        foreach (var data in Model)
                                        {
                                            var flag = true;
                                            decimal subtotal = 0;
                                            if (data.ExpenseDetails.Count() > 0)
                                            {
                                                foreach (var details in data.ExpenseDetails)
                                                {

                                                    subtotal = subtotal + details.Expense;
                                                    if (flag)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center;vertical-align:middle;font-weight:bold" colspan="1" rowspan="@(data.ExpenseDetails.Count+1)">@data.ExpenseDate.Value.ToString("dd MMM yyyy")</td>
                                                            <td>@details.ProjectName</td>
                                                            <td>@details.PoNo</td>
                                                            <td>@details.SiteName</td>
                                                            <td>@details.CostTitle</td>
                                                            <td style="text-align:right">@details.Expense</td>
                                                        </tr>
                                                        flag = false;
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>@details.ProjectName</td>
                                                            <td>@details.PoNo</td>
                                                            <td>@details.SiteName</td>
                                                            <td>@details.CostTitle</td>
                                                            <td style="text-align:right">@details.Expense</td>
                                                        </tr>
                                                    }

                                                }
                                                <tr>
                                                    <td style="text-align:right;font-weight:bold" colspan="4">Total : </td>
                                                    <td style="text-align:right;font-weight:bold">@subtotal</td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

