﻿@using ONSJobTracker.ViewModels.Report
@{
    ViewBag.Title = "OverallWorkStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- form start -->
@using (Html.BeginForm("OverallWorkStatus", "Report", FormMethod.Post, new { id = "OverallWorkStatus" }))
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Overall Work Status
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">OverallWorkStatus</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Overall Work Status</h3>
                    </div>
                    <input type="hidden" id="txtStartDate" name="StartDate" />
                    <input type="hidden" id="txtFinishDate" name="FinishDate" />
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Select Date range:</label>

                                    <div class="input-group">
                                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                            <span>
                                                <i class="fa fa-calendar"></i> Date range picker
                                            </span>
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div style="text-align:center" class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Show</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Work Status</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @{
                                if (ViewBag.StartDate != null && ViewBag.FinishDate != null)
                                {
                                    var startdate = ViewBag.StartDate;
                                    var finishdate = ViewBag.FinishDate;
                                    <div class="col-md-12">
                                        <div>
                                            Work Status From <span style="font-weight:bold">@finishdate.ToString("dd MMM yyyy")</span> To <span style="font-weight:bold">@startdate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="example" class="table table-striped table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:4%;text-align:center">Sl</th>
                                            <th style="width:7%;text-align:center">PO</th>
                                            <th style="width:7%;text-align:center">Work Type</th>
                                            <th style="width:7%;text-align:center">Site ID</th>
                                            <th style="width:7%;text-align:center">Site Name</th>
                                            <th style="width:7%;text-align:center">Cluster Name</th>
                                            <th style="width:7%;text-align:center">Client Name</th>
                                            <th style="width:7%;text-align:center">End Client Name</th>
                                            <th style="width:12%;text-align:center">Field Engineer</th>
                                            <th style="width:6%;text-align:center">Field Work Status</th>
                                            <th style="width:12%;text-align:center">Report Engineer</th>
                                            <th style="width:6%;text-align:center">Report Engineer Status</th>
                                            <th style="width:6%;text-align:center">Delivery Status</th>
                                            <th style="width:6%;text-align:center">Acceptance Status</th>
                                            <th style="width:6%;text-align:center">Acceptance Date</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{
                                            int sl = 1;
                                            List<OverallPMWorkStatus> statuses = ViewBag.PmOverallWorkStatus as List<OverallPMWorkStatus>;
                                            if (statuses != null)
                                            {
                                                foreach (var status in statuses)
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@(sl++)</td>
                                                        <td>@status.PoNo</td>
                                                        <td>@status.WorkType</td>
                                                        <td>@status.SiteId</td>
                                                        <td>@status.SiteName</td>
                                                        <td>@status.ClusterId</td>
                                                        <td>@status.ClientName</td>
                                                        <td>@status.EndClientName</td>
                                                        <td>
                                                            <table>
                                                                @{
                                                                    foreach (var data in status.FieldEngineer.GroupBy(x => x).Select(g => g.Key))
                                                                    {
                                                                        <tr>
                                                                            <td>@data</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                        </td>
                                                        <td style="font-weight:bold">@status.FieldWorkStatus</td>
                                                        <td>@status.ReportEngineer</td>
                                                        <td style="font-weight:bold">@status.ReportStatus</td>
                                                        @{
                                                            if (status.DeliveryStatus == true)
                                                            {
                                                                <td>
                                                                    <label class="label label-success">Delivered</label>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <label class="label label-danger">Not Delivered</label>
                                                                </td>
                                                            }
                                                        }

                                                        @{
                                                            if (status.TotalMilestones - status.AcceptanceMilestones == 0)
                                                            {
                                                                <td>
                                                                    <label class="label label-success">Accepted</label>
                                                                </td>
                                                            }
                                                            if (status.TotalMilestones - status.AcceptanceMilestones != 0 && status.AcceptanceMilestones > 0)
                                                            {
                                                                <td>
                                                                    <label class="label label-warning">Partially Accepted</label>
                                                                </td>
                                                            }
                                                            if (status.TotalMilestones - status.AcceptanceMilestones != 0 && status.AcceptanceMilestones == 0)
                                                            {
                                                                <td>
                                                                    <label class="label label-danger">Not Accepted</label>
                                                                </td>
                                                            }
                                                        } 

                                                        @{
                                                            if (status.AcceptanceDate > new DateTime(1900, 01, 01))
                                                            {
                                                                <td>
                                                                    @status.AcceptanceDate.ToString("dd MMM yyyy")
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>N/A</td>
                                                            }
                                                        }



                                                    </tr>
                                                }
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section ScriptFile
    {
    <script>
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                startdate = moment(start).format("YYYY-MM-DD HH:mm:ss");
                finishdate = moment(end).format("YYYY-MM-DD HH:mm:ss");
                $('#txtStartDate').val(startdate);
                $('#txtFinishDate').val(finishdate);
            }
        )

    </script>
}
