﻿@model List<ONSJobTracker.ViewModels.Report.SummaryReportVm>
@{
    ViewBag.Title = "OverallWorkStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- form start -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Account Status For All Projects
        <small>Status</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">AccountStatusForAllProjects</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-1"></div>
                                <div class="box-body col-md-5">
                                    <div class="input-group">
                                        <span style="width:140px;font-weight:bold;" class="input-group-addon">Total Payment Waiting For</span>
                                        <input id="txtTotalWaitingPayment" style="width:225px;text-align:right;font-weight:bold;" type="text" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="box-body col-md-5">
                                    <div class="input-group">
                                        <span style="width:140px;font-weight:bold" class="input-group-addon">Paymnet Recived Till Now</span>
                                        <input id="txtTotalrecievedPayment" style="width:225px;text-align:right;font-weight:bold;" type="text" class="form-control" readonly="readonly">
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-3"></div>
                                <div class="box-body col-md-6">
                                    <div class="input-group">
                                        <span style="width:140px;font-weight:bold" class="input-group-addon">Total Payment</span>
                                        <input id="txttotal" style="width:435px;text-align:right;font-weight:bold" type="text" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Account Status For All Projects</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example2" style="width: 100%; font-size: 12px; margin-top: 15px;">
                                        <thead>
                                            <tr style="text-align: center">
                                                <th rowspan="2" colspan="1" style="width: 8%; text-align:center; font-weight: bold">Customer</th>
                                                <th rowspan="2" colspan="1" style="width: 8%; text-align:center; font-weight: bold">Project</th>
                                                <th rowspan="2" colspan="1" style="width: 10%; text-align:center; font-weight: bold">Work Type</th>
                                                <th rowspan="2" colspan="1" style="width: 6%; text-align:center; font-weight: bold">Milestone</th>
                                                <th rowspan="2" colspan="1" style="width: 6%; text-align:center; font-weight: bold">Percentage</th>
                                                <th rowspan="2" colspan="1" style="width: 6%; text-align:center; font-weight: bold">Unit Value</th>
                                                <th colspan="2" style="width: 8%; font-weight: bold;text-align:center;">
                                                    Pending PO but work completed
                                                </th>
                                                <th colspan="2" style="width: 8%; text-align:center; font-weight: bold">
                                                    Waiting acceptance
                                                </th>
                                                <th colspan="2" style="width: 8%; text-align:center; font-weight: bold">
                                                    Acceptance OK / Waiting invoice
                                                </th>
                                                <th colspan="2" style="width: 8%; text-align:center; font-weight: bold">
                                                    Invoice submitted but not received
                                                </th>
                                                <th colspan="2" style="width: 8%; text-align:center; font-weight: bold">
                                                    Payment Received
                                                </th>
                                                <th colspan="2" style="width: 8%; text-align:center; font-weight: bold">
                                                    PO open work not completed
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                                <th style="text-align:center; font-weight: bold">Qty</th>
                                                <th style="text-align:center; font-weight: bold">Total value</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                foreach (var data in Model.OrderBy(x => x.Project))
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@data.Customer</td>
                                                        <td style="text-align:center">@data.Project</td>
                                                        <td style="text-align:center">@data.WorkType</td>
                                                        <td style="text-align:center">@data.PaymentMilestone</td>
                                                        <td style="text-align:center">@data.MilestonePercent</td>
                                                        <td style="text-align:center">@data.UnitValue</td>
                                                        <td style="text-align:center">@data.WithoutPoQty</td>
                                                        <td style="text-align:center">@(data.WithoutPoQty * data.UnitValue)</td>
                                                        @{
                                                            int waitinginvoiceqty = 0;
                                                            if (data.InvoicedQty == 0)
                                                            {
                                                                waitinginvoiceqty = data.WaitingAcceptanceQty - data.AcceptedQty;
                                                            }
                                                            else
                                                            {
                                                                waitinginvoiceqty = data.WaitingAcceptanceQty - data.AcceptedQty;
                                                            }

                                                            <td style="text-align:center">@(waitinginvoiceqty)</td>
                                                            <td style="text-align:center">@(waitinginvoiceqty * data.UnitValue)</td>
                                                        }

                                                        @{
                                                            var qty = Math.Abs((data.AcceptedQty - data.InvoicedQty - data.PaymetRecievedQty));
                                                            <td style="text-align:center">@qty</td>
                                                            <td style="text-align:center">@(qty * data.UnitValue)</td>
                                                        }
                                                        <td style="text-align:center">@data.InvoicedQty</td>
                                                        <td style="text-align:center">@data.InvoicedAmount</td>
                                                        <td style="text-align:center">@data.PaymetRecievedQty</td>
                                                        <td style="text-align:center">@data.PaidAmount</td>
                                                        <td style="text-align:center">@data.NotCompletedQty</td>
                                                        <td style="text-align:center">@(data.NotCompletedQty * data.UnitValue)</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="text-align:center" colspan="6">Total :</th>
                                                <th style="text-align:right" colspan="2"></th>
                                                <th style="text-align:right" colspan="2"></th>
                                                <th style="text-align:right" colspan="2"></th>
                                                <th style="text-align:right" colspan="2"></th>
                                                <th style="text-align:right" colspan="2"></th>
                                                <th style="text-align:right" colspan="2"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptFile{
    <script>
        var pendingpo = 0;
        var invoicedpo = 0;
        var paidpo = 0;
        $('#example2').DataTable({
            dom: 'lBfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                pendingtotal = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                pendingpageTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(7).footer()).html(
                    '৳' + pendingpageTotal + '(৳' + pendingtotal + ')'
                );
                pendingpo = pendingtotal;
                total = api
                    .column(9)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                pageTotal = api
                    .column(9, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(9).footer()).html(
                    '৳' + pageTotal + '(৳' + total + ')'
                );
                total = api
                    .column(11)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                pageTotal = api
                    .column(11, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(11).footer()).html(
                    '৳' + pageTotal + '(৳' + total + ')'
                );
                invoicedtotal = api
                    .column(13)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                invoicedpageTotal = api
                    .column(13, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(13).footer()).html(
                    '৳' + invoicedpageTotal + '(৳' + invoicedtotal + ')'
                );
                invoicedpo = invoicedtotal;
                paidtotal = api
                    .column(15)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                paidpageTotal = api
                    .column(15, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(15).footer()).html(
                    '৳' + paidpageTotal + '(৳' + paidtotal + ')'
                );
                paidpo = paidtotal;
                total = api
                    .column(17)
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                pageTotal = api
                    .column(17, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intval(a) + intval(b);
                    }, 0);
                $(api.column(17).footer()).html(
                    '৳' + pageTotal + '(৳' + total + ')'
                );
            }
        });
        var payable = parseFloat(invoicedpo) + parseFloat(pendingpo);
        var total = payable + parseFloat(paidpo)
        $('#txtTotalWaitingPayment').val("৳ "+ payable);
        $('#txtTotalrecievedPayment').val("৳ " +paidpo);
        $('#txttotal').val("৳ " + total);

    </script>
}