﻿@using ONSJobTracker.ViewModels.Report
@{
    ViewBag.Title = "SpecificCarInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Specific Car Status
        <small>Status</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">SpecificCarStatusIndex</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Car Status of Car No: </h3> <span style="font-size:16px;font-weight:bold"> @ViewBag.CarNo</span>
                </div>
                <div class="box-body">
                    <div class="row">
                        @{
                            if (ViewBag.StartDate != null && ViewBag.FinishDate != null)
                            {
                                var startdate = ViewBag.StartDate;
                                var finishdate = ViewBag.FinishDate;
                                <div class="col-md-12">
                                    <div>
                                        Car Status From <span style="font-weight:bold">@finishdate.ToString("dd MMM yyyy")</span> To <span style="font-weight:bold">@startdate.ToString("dd MMM yyyy")</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example" class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:10%;text-align:center">Sl</th>
                                        <th style="width:40%;text-align:center">Project Name</th>
                                        <th style="width:20%;text-align:center">Milage</th>
                                        <th style="width:30%;text-align:center">Location</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @{
                                        int sl = 1;
                                        int milage = 0;
                                        List<SpecificCarInfo> cars = ViewBag.CarStatuses as List<SpecificCarInfo>;
                                        if (cars != null)
                                        {
                                            foreach (var car in cars)
                                            {
                                                <tr>
                                                    <td style="text-align:center">@(sl++)</td>
                                                    <td>@car.Project</td>
                                                    <td style="text-align:center">@car.Milage</td>
                                                    <td style="text-align:center">@car.Location</td>
                                                </tr>
                                                milage = milage+ car.Milage.Value;
                                            }
                                        }
                                        <tr>
                                            <td colspan="2" style="font-weight:bold;text-align:right">Total :</td>
                                            <td style="text-align:center;font-weight:bold">@milage</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>