﻿@model ONSJobTracker.Models.CarInfo
@using ONSJobTracker.ViewModels.Settings
@{
    ViewBag.Title = "Car Index";
    var tddrivername = "tddrivername";
    var tdcontact = "tdcontact";
    var tdremarks = "tdremarks";
    var tdvendor = "tdvendor";
    var tdcarno = "tdcarno";
    var tdenrolldate = "tdenrolldate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateCarInfo", "Setting", FormMethod.Post, new { id = "vendor" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Car info
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Car Info Index</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Car</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorInfoFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.VendorInfoFk, ViewBag.GetVendors as SelectList,
                                                "---Select Vendor---", new { id = "ddlVendorFk", @class = "form-control select2", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.VendorInfoFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CarNo) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.CarNo, new { id = "txtCarNo", placeholder = "Car No", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CarNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DriverName) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.DriverName, new { id = "txtDriverName", placeholder = "Driver Name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNo) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.ContactNo, new { id = "txtContactNo", placeholder = "Driver Contact No", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EnrollDate) &nbsp;<i class="ion-star"></i>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(model => model.EnrollDate, "{0:yyyy/MM/dd}", new { id = "txtEnrollDate", placeholder = "Enroll Date", @class = "form-control pull-right datepicker", autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.EnrollDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View All Cars</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 5%;text-align:center">#</th>
                                    <th style="width: 15%">Vendor</th>
                                    <th class="hidden">Vendorid</th>
                                    <th style="width: 15%">Car No</th>
                                    <th style="width: 15%">Driver Name</th>
                                    <th style="width: 15%">Driver Contact</th>
                                    <th style="width: 15%">Enroll Date</th>
                                    <th style="width: 10%">Remarks</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<CarInfoVm> cars = ViewBag.allcars as List<CarInfoVm>;
                                    int sl = 0;
                                    if (cars != null)
                                    {

                                        foreach (var car in cars)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@car.CarInfo.Id</td>
                                                <td style="text-align: center">@sl</td>
                                                <td style="text-align: left;">@car.VendorName</td>
                                                <td class="hidden" id="@tdvendor@car.CarInfo.Id" style="text-align: left;">@car.CarInfo.VendorInfoFk</td>
                                                <td id="@tdcarno@car.CarInfo.Id" style="text-align: left;">@car.CarInfo.CarNo</td>
                                                <td id="@tddrivername@car.CarInfo.Id" style="text-align: left;">@car.CarInfo.DriverName</td>
                                                <td id="@tdcontact@car.CarInfo.Id" style="text-align: left;">@car.CarInfo.ContactNo</td>
                                                <td id="@tdenrolldate@car.CarInfo.Id" style="text-align: left;">@car.CarInfo.EnrollDate.ToString("dd MMM yyyy")</td>
                                                <td id="@tdremarks@car.CarInfo.Id" style="text-align: left">@car.CarInfo.Remarks</td>
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@car.CarInfo.Id" onclick="carinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteCarInfo", "Setting", new RouteValueDictionary(new {id = car.CarInfo.Id}))" id="@car.CarInfo.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Car Deleting"
                                                       data-swal-text="Are you sure to Delete this Car?">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section ScriptFile {
    <script type="text/javascript">
        function carinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtCarNo').val($('#tdcarno' + r).text().trim());
                $('#txtDriverName').val($('#tddrivername' + r).text().trim());
                $('#txtContactNo').val($('#tdcontact' + r).text().trim());
                $('#txtEnrollDate').val($('#tdenrolldate' + r).text().trim());
                $('#ddlVendorFk').val($('#tdvendor' + r).text().trim()).trigger('change');
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtCarNo').val('');
                $('#txtDriverName').val('');
                $('#txtContactNo').val('');
                $('#txtEnrollDate').val('');
                $('#ddlVendorFk').val('').trigger('change');
                $('#txtRemarks').val('');
            } else {

            }
        });
    </script>

}