﻿@model ONSJobTracker.Models.ClientInfo
@using System.Collections
@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Settings

@{
    ViewBag.Title = "Client Info Index";

    var tdclienttype = "tdclienttype";
    var tdclienttypeid = "tdclienttypeid";
    var tdname = "tdname";
    var tdcid = "tdcid";
    var tdcontactperson = "tdcontactperson";
    var tdmobile = "tdmobile";
    var tdaddress = "tdaddress";
    var tdemail = "tdemail";
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateClientInfo", "Setting", FormMethod.Post, new { id = "ClientInfo" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Client Info
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Client Info Index</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Client Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientTypeFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.ClientTypeFk,ViewBag.ClientType as IEnumerable<SelectListItem>,
                           "Select Client Type", new { id = "ddlTypeFk",  @class = "form-control select2"})
                            @Html.ValidationMessageFor(model => model.ClientTypeFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Client Name", @class = "form-control", spellcheck = "false" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cid) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Cid, new { id = "txtCid", placeholder = "Contact Person", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Cid, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactPerson) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.ContactPerson, new { id = "txtCPerson", placeholder = "Contact Person", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mobile) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", placeholder = "Mobile", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", placeholder = "Address", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", placeholder = "Address", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Client Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 25%">Client Type</th>
                                    <th class="hidden" style="width: 05%"></th>
                                    <th style="width: 30%">Name</th>
                                    <th style="width: 30%">Client Id</th>
                                    <th style="width: 30%">Contact Person</th>
                                    <th style="width: 30%">Mobile</th>
                                    <th style="width: 30%">Address</th>
                                    <th style="width: 30%">Email</th>
                                    <th style="width: 50%">Remarks</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<VmClientInfo> clientTypes = ViewBag.allClientInfo as List<VmClientInfo>;
                                    int sl = 0;
                                    if (clientTypes != null)
                                    {

                                        foreach (var clienttype in clientTypes)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@clienttype.ClientInfoId</td>
                                                <td style="text-align: right">@sl</td>
                                                <td id="@tdclienttype@clienttype.ClientInfoId"style="text-align: left">@clienttype.ClientType</td>
                                                <td id="@tdclienttypeid@clienttype.ClientInfoId" class="hidden">@clienttype.ClientTypeFk</td>
                                                <td id="@tdname@clienttype.ClientInfoId" style="text-align: left">@clienttype.Name</td>
                                                <td id="@tdcid@clienttype.ClientInfoId"style="text-align: left">@clienttype.Cid</td>
                                                <td id="@tdcontactperson@clienttype.ClientInfoId"style="text-align: left">@clienttype.ContactPerson</td>
                                                <td id="@tdmobile@clienttype.ClientInfoId"style="text-align: left">@clienttype.Mobile</td>
                                                <td id="@tdaddress@clienttype.ClientInfoId"style="text-align: left">@clienttype.Address</td>
                                                <td id="@tdemail@clienttype.ClientInfoId"style="text-align: left">@clienttype.Email</td>
                                                <td id="@tdremarks@clienttype.ClientInfoId"style="text-align: left">@clienttype.Remarks</td>
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@clienttype.ClientInfoId" onclick=" clienttypeinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteClientInfo", "Setting", new RouteValueDictionary(new {id = clienttype.ClientInfoId}))" id="@clienttype.ClientInfoId" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Work Type Deleting"
                                                       data-swal-text="Are you sure to Delete this Work Type?">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section ScriptFile {
    <script type="text/javascript">
        function clienttypeinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlTypeFk').val($('#tdclienttypeid' + r).text().trim()).trigger('change');
                $('#txtName').val($('#tdname' + r).text().trim());
                $('#txtCid').val($('#tdcid' + r).text().trim());
                $('#txtCPerson').val($('#tdcontactperson' + r).text().trim());
                $('#txtMobile').val($('#tdmobile' + r).text().trim());
                $('#txtAddress').val($('#tdaddress' + r).text().trim());
                $('#txtEmail').val($('#tdemail' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtTypeFk').val("").trigger('change');
                $('#txtName').val("");
                $('#txtCid').val("");
                $('#txtCPerson').val("");
                $('#txtMobile').val("");
                $('#txtAddress').val("");
                $('#txtEmail').val("");
                $('#txtRemarks').val("");
            } else {

            }
        });
    </script>

}
