﻿@using ONSJobTracker.Models
@model VendorInfo
@{
    ViewBag.Title = "Vendor Type Index";
    var tdname = "tdname";
    var tdcontact = "tdcontact";
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateVendorInfo", "Setting", FormMethod.Post, new { id = "vendor" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Vendor info
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Vendor Info Index</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Vendor</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Vendor Name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNo) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.ContactNo, new { id = "txtContactNo", placeholder = "ContactNo", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View All Vendor</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 30%">Name</th>
                                    <th style="width: 20%">Contact No</th>
                                    <th style="width: 30%">Remarks</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<VendorInfo> vendors = ViewBag.allvendors as List<VendorInfo>;
                                    int sl = 0;
                                    if (vendors != null)
                                    {

                                        foreach (var vendor in vendors)
                                        {
                                            sl += 1;
                                <tr>
                                    <td class="hidden">@vendor.Id</td>
                                    <td style="text-align: right">@sl</td>
                                    <td id="@tdname@vendor.Id" style="text-align: left;">@vendor.Name</td>
                                    <td id="@tdcontact@vendor.Id" style="text-align: left;">@vendor.ContactNo</td>
                                    <td id="@tdremarks@vendor.Id" style="text-align: left">@vendor.Remarks</td>
                                    <td style="text-align: center;cursor: pointer">
                                        <a id="@vendor.Id" onclick="Vendorinfo(this);" title="Edit"
                                           data-placement="top">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("DeleteVendorInfo", "Setting", new RouteValueDictionary(new {id = vendor.Id}))" id="@vendor.Id" class="glyphicon glyphicon-trash no-print"
                                           data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                           data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Vendor Deleting"
                                           data-swal-text="Are you sure to Delete this Vendor?">
                                        </a>
                                    </td>
                                </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section ScriptFile {
    <script type="text/javascript">
        function Vendorinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtName').val($('#tdname' + r).text().trim());
                $('#txtContactNo').val($('#tdcontact' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtName').val("");
                $('#txtContactNo').val("");
                $('#txtRemarks').val("");
            } else {

            }
        });
    </script>

}