﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Purchase_Order
@model PoMasterViewModel


@{
    ViewBag.Title = "PoMasterIndex";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreatePoMaster", "PurchaseOrder", FormMethod.Post, new { id = "pomaster" }))
{
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Purchase Order Details
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">DetailsPoMasterIndex</li>
        </ol>
    </section>
    <section class="content">
        <!-- PO Master -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.Label("PO No") 
                                        <input value=@ViewBag.masterpo.PoNo class="form-control" readonly="readonly" />
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Po Value") 
                                        <input value=@ViewBag.masterpo.PoValue class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.Label("Client Name")
                                        <input value=@ViewBag.masterpo.ClientName class="form-control" readonly="readonly" />
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Project Type") 
                                        <input value=@ViewBag.masterpo.ProjectType class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ends-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Purchase Order</h3>
                        (&nbsp; <a href="#" onclick="CreatePurchaseOrder()" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="hidden">Id</th>
                                <th style="width: 5%">#</th>
                                <th style="width: 5%">Name</th>
                                <th style="width: 13%">Work Type</th>
                                <th style="width: 13%">Cluster </th>
                                <th style="width: 13%">Unit Price </th>
                                <th style="width: 13%">Region </th>
                                <th style="width: 13%">Work Station</th>
                                <th style="width: 15%">Addres</th>
                                <th style="width: 12%">Option</th>
                                <th style="width: 10%">Remarks</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                IEnumerable<PoDetailsViewModel> masterpos = ViewBag.alldetailsPobyId as IEnumerable<PoDetailsViewModel>;
                                int sl = 0;
                                if (masterpos != null)
                                {

                                    foreach (var po in masterpos)
                                    {
                                        sl += 1;
                                        <tr>
                                            <td class="hidden">@po.Id</td>
                                            <td>@sl</td>
                                            <td>@po.Name</td>
                                            <td>@po.WorkType</td>
                                            <td>@po.ClusterName</td>
                                            <td >@po.UnitPrice</td>
                                            <td>@po.Region</td>
                                            <td>@po.WorkStation</td>
                                            <td >@po.Address</td>
                                            <td>@po.Option</td>
                                            <td >@po.Remarks</td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">

        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal', function(e)
            {
                $(this).removeData();
            }) ;
        });

        function CreatePurchaseOrder() {
            $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divCreatePo').modal('show');
        }


        function projectmasterinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#txtPoNo').val($('#tdpono' + r).text().trim());

                //var t = $('#tdprojecttypeid' + r).text().trim();  alert(t);

                $('#ddlProjectType').val($('#tdprojecttypeid' + r).text().trim()).trigger('change');

                $('#txtPoValue').val($('#tdpovalue' + r).text().trim());

                //var rr = $('#tdregularclientid' + r).text().trim(); alert(rr);
                $('#ddlRegularClient').val($('#tdregularclientid' + r).text().trim()).trigger('change');

                //var y = $('#tdendclientid' + r).text().trim(); alert(y);

                $('#ddlEndClient').val($('#tdendclientid' + r).text().trim()).trigger('change');

                $('#txtProjectCid').val($('#tdprojectid' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                $('#divCreatePo').modal('show');
            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtPoNo').val("");
                //$("#ddlProjectType").val($("#ddlProjectType option[selected]").val());
                $('#ddlProjectType').val("").trigger('change');
                $('#txtPoValue').val("");
                $('#ddlRegularClient').val("").trigger('change');
                $('#ddlEndClient').val("").trigger('change');
                $('#txtProjectCid').val("");
                $('#txtRemarks').val("");
            } else {

            }
        });
        $(document).off("click", "#btnclear");
        $(document).on("click", "#btnclear", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtPoNo').val("");
                $('#ddlProjectType').val("").trigger('change');
                $('#txtPoValue').val("");
                $('#ddlRegularClient').val("").trigger('change');
                $('#ddlEndClient').val("").trigger('change');
                $('#txtProjectCid').val("");
                $('#txtRemarks').val("");
            } else {

            }
        });

    </script>
}

