﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Purchase_Order
@model PoDetails
@{
    ViewBag.Title = "PoDetailsIndex";

    var tdname = "tdname";
    var tdunitprice = "tdunitprice";

    var tdcid = "tdcid";
    var tdworktypefk = "tdworktypefk";
    var tdclusterfk = "tdclusterfk";
    var tdregionfk = "tdregionfk";
    var tdworkstationfk = "tdworkstationfk";
    var tdpaymentmilestonfk = "tdpaymentmilestonfk";
    var tdpercent = "tdpercent";

    var tdaddress = "tdaddress";
    var tdoption = "tdoption";
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreatePoDetails", "PurchaseOrder", FormMethod.Post, new { id = "poDetails" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.PoMasterFk, new { Value = ViewBag.masterpo.Id, id = "hidId" })
    <input type="hidden" id="jsonarray" name="SiteMilestone" />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Purchase Order
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">PoDetailsIndex</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-1"></div>
                                    <div class="box-body col-md-5">
                                        <div class="input-group">
                                            <span style="width:140px;" class="input-group-addon">PO NO</span>
                                            <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.masterpo.PoNo>
                                        </div>
                                        <div class="input-group">
                                            <span style="width:140px;" class="input-group-addon">Po Value</span>
                                            <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.masterpo.PoValue>
                                        </div>

                                    </div>
                                    <div class="box-body col-md-5">
                                        <div class="input-group">
                                            <span style="width:140px;" class="input-group-addon">Client Name</span>
                                            <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.masterpo.ClientName>
                                        </div>
                                        <div class="input-group">
                                            <span style="width:140px;" class="input-group-addon">Project Type</span>
                                            <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.masterpo.ProjectType>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Site/Cluster/Task Details</h3>
                        (&nbsp; <a href="#" onclick="CreatePurchaseOrder()" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 1%">#</th>

                                    <th style="width: 5%">Site Id</th>
                                    <th style="width: 7%">Name</th>

                                    <th class="hidden">Cluster Id</th>
                                    <th style="width: 10%">Cluster</th>

                                    <th class="hidden">Work Type Id</th>
                                    <th style="width: 10%">Work Type</th>
                                    
                                    <th class="hidden">Work Station Id</th>
                                    <th style="width: 10%">Work Station</th>
                                    
                                    <th class="hidden">Region Id</th>
                                    <th style="width: 10%">Region</th>
                                    
                                    <th style="width: 8%">Unit Price</th>

                                    <th style="width: 15%">Milestone(%)</th>                           
                                    

                                    <th style="width: 10%">Address</th>
                                    <th style="width: 10%">Option</th>
                                    <th style="width: 10%">Remarks</th>

                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IEnumerable<PoDetailsViewModel> detailspos = ViewBag.alldetailpo as IEnumerable<PoDetailsViewModel>;
                                    int sl = 0;
                                    if (detailspos != null)
                                    {

                                        foreach (var po in detailspos)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@po.Id</td>
                                                <td style="text-align: right">@sl</td>

                                                <td id="@tdcid@po.Id">@po.Cid</td>
                                                <td id="@tdname@po.Id">@po.Name</td>
                                                
                                                <td id="@tdclusterfk@po.Id" class="hidden">@po.ClusterFk</td>
                                                <td>@po.ClusterName</td>

                                                <td id="@tdworktypefk@po.Id" class="hidden">@po.WorkTypeFk</td>
                                                <td>@po.WorkType</td>
                                                
                                                <td id="@tdworkstationfk@po.Id" class="hidden">@po.WorkStationFk</td>
                                                <td>@po.WorkStation</td>
                                                
                                                <td id="@tdregionfk@po.Id" class="hidden">@po.RegionFk</td>
                                                <td>@po.Region</td>
                                                <td id="@tdunitprice@po.Id">@po.UnitPrice</td>
                                                
                                                
                                                <td>
                                                    <table>
                                                        <thead style="display:none">
                                                        <tr>
                                                            <th style="width: 60%"></th>
                                                            <th style="width: 40%"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        @{

                                                            foreach (var data in po.SiteMilestones)
                                                            {
                                                                <tr>
                                                                    <td>@data.PayementMilestone</td>
                                                                    <td>@data.Percent</td>
                                                                </tr>
                                                            }
                                                        }
                                                        
                                                        </tbody>
                                                    </table>
                                                </td>                                                

                                                <td id="@tdaddress@po.Id">@po.Address</td>
                                                <td id="@tdoption@po.Id">@po.Option</td>
                                                <td id="@tdremarks@po.Id">@po.Remarks</td>


                                                <td style="text-align: center; cursor: pointer">
                                                    <a id="@po.Id" onclick=" projectmasterinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeletePoDetails", "PurchaseOrder", new RouteValueDictionary(new {id = po.Id}))" id="@po.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Purchase Order Deleting"
                                                       data-swal-text="Are you sure to Delete this Purchase Order?">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- form start -->
                        <!-- /.modal -->

                        <div class="modal fade" id="divCreatePo">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Site/Cluster/Task Details</h4>
                                    </div>
                                    <div class="modal-body">                                      
                                            <div class="col-md-12">
                                                <div class="col-sm-9">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Cid) &nbsp;<i class="ion-star"></i>
                                                                @Html.TextBoxFor(model => model.Cid, new {id = "txtCid", placeholder = "Cluster Id", @class = "form-control "})
                                                                @Html.ValidationMessageFor(model => model.Cid, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Name) &nbsp;<i class="ion-star"></i>
                                                                @Html.TextBoxFor(model => model.Name, new {id = "txtName", placeholder = "Name", @class = "form-control"})
                                                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.WorkTypeFk) &nbsp;<i class="ion-star"></i>
                                                                @Html.DropDownListFor(model => model.WorkTypeFk, ViewBag.allworktype as SelectList,
                                                                    "---Select Work Type---", new {id = "ddlWorkType", @class = "form-control select2", style = "width:100%"})
                                                                @Html.ValidationMessageFor(model => model.WorkTypeFk, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.UnitPrice) &nbsp;<i class="ion-star"></i>
                                                                @Html.TextBoxFor(model => model.UnitPrice, new {id = "txtUnitPrice", placeholder = "Unit Price", @class = "form-control"})
                                                                @Html.ValidationMessageFor(model => model.UnitPrice, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">                                                           
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.ClusterFk) &nbsp;<i class="ion-star"></i>
                                                                @Html.DropDownListFor(model => model.ClusterFk, ViewBag.allcluster as SelectList,
                                                                    "---Select Cluster---", new {id = "ddlCluster", @class = "form-control select2", style = "width:100%"})
                                                                @Html.ValidationMessageFor(model => model.ClusterFk, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.RegionFk) &nbsp;<i class="ion-star"></i>
                                                                @Html.DropDownListFor(model => model.RegionFk, ViewBag.allregion as SelectList,
                                                                    "---Select Region---", new {id = "ddlRegion", @class = "form-control select2", style = "width:100%"})
                                                                @Html.ValidationMessageFor(model => model.RegionFk, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.WorkStationFk) &nbsp;<i class="ion-star"></i>
                                                                @Html.DropDownListFor(model => model.WorkStationFk, ViewBag.allworkstation as SelectList,
                                                                    "---Select Work Station---", new {id = "ddlWorkStation", @class = "form-control select2", style = "width:100%"})
                                                                @Html.ValidationMessageFor(model => model.WorkStationFk, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Option)
                                                                @Html.TextAreaFor(model => model.Option, new {id = "txtOption", placeholder = "Option", @class = "form-control", style = "width:100%;"})
                                                                @Html.ValidationMessageFor(model => model.Option, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Address)
                                                                @Html.TextAreaFor(model => model.Address, new {id = "txtAddress", placeholder = "Address", @class = "form-control", style = "width:100%;"})
                                                                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">                                                       
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Remarks)
                                                                @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                             
                                                <div class="col-sm-3">                                                
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.PayementMilestoneFk) &nbsp;<i class="ion-star"></i>
                                                        @Html.DropDownListFor(model => model.PayementMilestoneFk, ViewBag.paymentmilesote as SelectList,
                                                            "---Select Payement Milestone---", new { id = "ddlPayementMilestone", @class = "form-control select2", style = "width:100%" })
                                                        @Html.ValidationMessageFor(model => model.PayementMilestoneFk, "", new { @class = "text-danger" })
                                                    </div>
                                                    

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.MilestonePercentage)
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.MilestonePercentage, new { id = "txtMilestonePercentage", placeholder = "%", @class = "form-control",type="number", min = "0", max = "100" })
                                                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                        </div>                                                                                                              
                                                        @Html.ValidationMessageFor(model => model.MilestonePercentage, "", new { @class = "text-danger" })
                                                    </div>

                                                   
                                                    <a id="btnAdd" aria-controls="collapseOne" class="btn btn-block btn-primary btn-xs"
                                                       data-tooltip="tooltip"  title="Add" data-placement="top">Add                                                           
                                                    </a>
                                                    <div>
                                                        <table class="table table-bordered" id="tblDetailsShow">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>%</th>                                                  
                                                                <th>Action</th>                                                  
                                                            </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                                                       
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnsave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->


                    </div>
                </div>
            </div>
        </div>
    </section>
                                    }
@section ScriptFile
{
    <script type="text/javascript">

        var data = [];
        var count = 1;
        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function(e) {
                    $(this).removeData();
                });
        });

        function CreatePurchaseOrder() {
            $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divCreatePo').modal('show');
        }


        function projectmasterinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#txtName').val($('#tdname' + r).text().trim());
                $('#txtCid').val($('#tdcid' + r).text().trim());
                $('#txtUnitPrice').val($('#tdunitprice' + r).text().trim());

                //var t = $('#tdprojecttypeid' + r).text().trim();  alert(t);

                $('#ddlPoMaster').val($('#tdpomasterfk' + r).text().trim()).trigger('change');
                $('#ddlWorkType').val($('#tdworktypefk' + r).text().trim()).trigger('change');
                $('#ddlCluster').val($('#tdclusterfk' + r).text().trim()).trigger('change');
                $('#ddlRegion').val($('#tdregionfk' + r).text().trim()).trigger('change');
                $('#ddlWorkStation').val($('#tdworkstationfk' + r).text().trim()).trigger('change');
                $('#ddlPayementMilestone').val($('#tdpaymentmilestonfk' + r).text().trim()).trigger('change');

                $('#txtAddress').val($('#tdaddress' + r).text().trim());
                $('#txtOption').val($('#tdoption' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                $('#txtMilestonePercentage').val($('#tdpercent' + r).text().trim());

                getpaymentmilestones(r);

                $('#divCreatePo').modal('show');
            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                    $('#txtName').val("");
                    $('#txtUnitPrice').val("");

                    //var t = $('#tdprojecttypeid' + r).text().trim();  alert(t);

                    $('#ddlPoMaster').val("").trigger('change');
                    $('#ddlWorkType').val("").trigger('change');
                    $('#ddlCluster').val("").trigger('change');
                    $('#ddlRegion').val("").trigger('change');
                    $('#ddlWorkStation').val("").trigger('change');
                    $('#ddlPayementMilestone').val("").trigger('change');

                    $('#txtAddress').val("");
                    $('#txtOption').val("");
                    $('#txtRemarks').val("");
                    $('#txtMilestonePercentage').val("");
                    data = [];
                    count = 1;
                    $("#tblDetailsShow tbody").empty();
                }
            });
    
        $("#btnAdd").click(function() {
            btnaddclick();
            $('#ddlPayementMilestone').focus();
        });

        function btnaddclick() {
            var miletstonid = $('#ddlPayementMilestone').val();
            var milestone = $('#ddlPayementMilestone option:selected').text();
            var percent = $('#txtMilestonePercentage').val();

            if (miletstonid === "" ||
                miletstonid === null ||
                miletstonid === "" ||
                milestone === "---Select Payement Milestone---" ||
                milestone === null) {
                $('#ddlPayementMilestone').focus();
            } else if (percent === "" || percent === null) {
                $('#txtMilestonePercentage').focus();
            } else {
                data.push({
                    CounterId: count,
                    PayementMilestoneFk: miletstonid,
                    PayementMilestone: milestone,
                    Percent: percent
                });
                count++;
            }
            showtabledetailsdata(data);
            $('#ddlPayementMilestone').prop('selectedIndex', 0).trigger('change');
            $('#txtMilestonePercentage').val("");
        }

        function showtabledetailsdata(data) {
            if (data.length > 0) {
                $("#jsonarray").val(JSON.stringify(data));
                var len = 0;
                var txt = "";
                $(data).each(function(index) {
                    txt += "<tr><td>" +
                        data[len].CounterId +
                        "</td><td>" +
                        data[len].PayementMilestone +
                        "</td><td>" +
                        data[len].Percent +
                        "</td>" +
                        "<td style='text-align:center; cursor:pointer'><a id='btnDlt' class='glyphicon glyphicon-trash no-print' data-tooltip='tooltip' title='Delete'" +
                        "onclick='deletejosnarray(" +
                        data[len].CounterId +
                        ");'></a>";

                    len++;
                });
                if (txt !== "") {
                    $("#tblDetailsShow tbody").empty();
                    $("#tblDetailsShow tbody").append(txt);
                } else {
                    $("#tblDetailsShow tbody").empty();
                }
            } else {
                $("#tblDetailsShow tbody").empty();
            }
        }

        function deletejosnarray(id) {
            data = $.grep(data,
                function(e) {
                    return e.CounterId !== id;
                });
            $("#jsonarray").val(JSON.stringify(data));
            showtabledetailsdata(data);
        }

        $('.modal').on('hidden.bs.modal',
            function() {
                $("#tblDetailsShow tbody").empty();
            });

        function getpaymentmilestones(id) {

            $.ajax({
                type: "post",
                url: "@Url.Action("GetSiteMilestones", "Helper")",
                data: { siteid: id },
                datatype: "json",
                traditional: true,
                success: function (d) {
                    var n = 0;
                    count = 1;
                    data = [];
                        $(d).each(function(index) {
                            data.push({
                                CounterId: count,
                                PayementMilestoneFk: d[n].MilestoneId,
                                PayementMilestone: d[n].Name,
                                Percent: d[n].Percent
                            });
                            count++;
                            n++;
                        });
                    showtabledetailsdata(data);
                    }
                
            });
            
        }

    </script>
}

