﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Purchase_Order
@model PoMaster
@{
    ViewBag.Title = "PoMasterIndex";
    var tdprojectid = "tdprojectid";
    var tdpono = "tdpono";

    var tdprojecttypeid = "tdprojecttypeid";
    var tdregularclientid = "tdregularclientid";
    var tdendclientid = "tdendclientid";

    var tdstartdate = "tdstartdate";
    var tdenddate = "tdenddate";

    var tdpovalue = "tdpovalue";
    var tdremarks = "tdremarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreatePoMaster", "PurchaseOrder", FormMethod.Post, new {id = "pomaster"}))
{
    @Html.HiddenFor(model => model.Action, new {Value = "Save", id = "hidAction"})
    @Html.HiddenFor(model => model.Id, new {Value = "", id = "hidId"})
    @Html.HiddenFor(model => model.ProjectFk)
    <input value=@ViewBag.projectcountedid id="procount"  type="hidden">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Purchase Order
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">PoMasterIndex</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Purchase Order</h3>
                        (&nbsp; <a href="#" onclick="CreatePurchaseOrder()" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 3%">#</th>

                                    @*<th style="width: 15%">PO CID</th>*@
                                    <th style="width: 7%">PO NO</th>
                                    <th style="width: 7%">Start Date</th>
                                    <th style="width: 7%">End Date</th>

                                    <th class="hidden">Project Type Id</th>
                                    <th style="width: 10%">Project Type</th>

                                    <th class="hidden">Client Name Id</th>
                                    <th style="width: 10%">Client Name</th>

                                    <th class="hidden">End Client Name Id</th>
                                    <th style="width: 10%">End Client Name</th>

                                    <th style="width: 10%">PO Value</th>
                                    <th style="width: 10%">Remarks</th>

                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                IEnumerable<PoMasterViewModel> masterpos = ViewBag.allmasterpo as IEnumerable<PoMasterViewModel>;
                                int sl = 0;
                                if (masterpos != null)
                                {

                                    foreach (var po in masterpos)
                                    {
                                        sl += 1;
                                <tr>
                                    <td class="hidden">@po.Id</td>
                                    <td>@sl</td>

                                    @*<td id="@tdprojectid@po.Id">@po.ProjectId</td>*@
                                    <td id="@tdpono@po.Id">@po.PoNo</td>
                                    <td id="@tdstartdate@po.Id">@po.StartDate.ToString("dd MMM yy")</td>
                                    <td id="@tdenddate@po.Id">@po.EndDate.ToString("dd MMM yy")</td>

                                    <td id="@tdprojecttypeid@po.Id" class="hidden">@po.ProjectTypeId</td>
                                    <td>@po.ProjectType</td>

                                    <td id="@tdregularclientid@po.Id" class="hidden">@po.RegularClientId</td>
                                    <td >@po.ClientName</td>

                                    <td id="@tdendclientid@po.Id" class="hidden">@po.EndClientId</td>
                                    <td >@po.EndClientName</td>

                                    <td id="@tdpovalue@po.Id">@po.PoValue</td>
                                    <td id="@tdremarks@po.Id">@po.Remarks</td>

                                    <td style="text-align: center; cursor: pointer">

                                        <a id="@po.Id" onclick=" projectmasterinfo(this);" title="Edit" data-placement="top">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("DeletePoMaster", "PurchaseOrder", new RouteValueDictionary(new {id = po.Id}))" id="@po.Id" class="glyphicon glyphicon-trash no-print"
                                           data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                           data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Purchase Order Deleting"
                                           data-swal-text="Are you sure to Delete this Purchase Order?">
                                        </a>
                                        <a href="@Url.Action("PoDetailsIndex", "PurchaseOrder", new RouteValueDictionary(new {id = po.Id}))" id="@po.Id"
                                           title="Detail" data-placement="top">
                                            <i class="fa fa-binoculars" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                        <!-- form start -->

                        <!-- /.modal -->

                        <div class="modal fade" id="divCreatePo">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">New Purchase Order</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                
                                                <div class="col-sm-4">
                                                    
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.PoNo) &nbsp;<i class="ion-star"></i>
                                                        @Html.TextBoxFor(model => model.PoNo, new {id = "txtPoNo", placeholder = "PO NO", @class = "form-control"})
                                                        @Html.ValidationMessageFor(model => model.PoNo, "", new {@class = "text-danger"})
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.PoValue) &nbsp;<i class="ion-star"></i>
                                                        @Html.TextBoxFor(model => model.PoValue, new {id = "txtPoValue", placeholder = "PO Value", @class = "form-control"})
                                                        @Html.ValidationMessageFor(model => model.PoValue, "", new {@class = "text-danger"})
                                                    </div>
                                                  
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ProjectTypeFk) &nbsp;<i class="ion-star"></i>
                                                        @Html.DropDownListFor(model => model.ProjectTypeFk, ViewBag.allprojecttype as SelectList,
                                                            "---Select Project Type---", new {id = "ddlProjectType", @class = "form-control select2", style = "width:100%"})
                                                        @Html.ValidationMessageFor(model => model.ProjectTypeFk, "", new {@class = "text-danger"})
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.StartDate) &nbsp;<i class="ion-star"></i>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {id = "txtStartDate", @class = "datepicker form-control"}})
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                                                    </div>
                                            
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.EndClientInfoFk) &nbsp;<i class="ion-star"></i>
                                                        @Html.DropDownListFor(model => model.EndClientInfoFk, ViewBag.allendclient as SelectList,
                                                            "---Select End Client Name---", new {id = "ddlEndClient", @class = "form-control select2", style = "width:100%"})
                                                        @Html.ValidationMessageFor(model => model.EndClientInfoFk, "", new {@class = "text-danger"})
                                                    </div>                             
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.EndDate) &nbsp;<i class="ion-star"></i>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { id = "txtEndDate", @class = "datepicker form-control" } })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                                    </div>
                                                    @*<div class="form-group">
                                                        @Html.LabelFor(model => model.ProjectCid)
                                                        @Html.TextBoxFor(model => model.ProjectCid, new {id = "txtProjectCid", placeholder = "Project Id", @class = "form-control",onfocus="blur()", style= "background-color: #f7f7f7; font-weight: bold;text-align: center" })
                                                        @Html.ValidationMessageFor(model => model.ProjectCid, "", new {@class = "text-danger"})
                                                    </div>*@
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Remarks)
                                                        @Html.TextAreaFor(model => model.Remarks, new {id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;"})
                                                        @Html.ValidationMessageFor(model => model.Remarks, "", new {@class = "text-danger"})
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnsave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->


                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">

        var projectcid = "";
        var nclientpro = "";
        var rtext = "";
        var etext = "";
        var projectid = "";
        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function(e) {
                    $(this).removeData();
                });
            GetInitialProjectId();
            $("#txtProjectCid").val(projectcid);
        });        
        //ddlRegularClient
        $('#ddlRegularClient').on("change",
            function(e) {
                var rclient = "";
                nclientpro = "";
                projectid = "";
                projectcid = "";
                $("#txtProjectCid").val("");
                rclient = $("#ddlRegularClient option:selected").text();
                rtext = rclient.substring(0, 2);
                GetInitialProjectId();
                projectcid += "-" + rtext;
                var cid = $('#ddlRegularClient').val();
                if (rclient !== '---Select Client Name---') {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetNoProjectByClient", "Helper")",
                        data: { clientid: cid },
                        datatype: "json",
                        async: false,
                        success: function(data) {
                            nclientpro = data.counter;
                        }
                    });
                    if (etext !== "") {
                        projectid = projectcid + "-" + etext + "-" + nclientpro;
                    } else {
                        projectid = projectcid + "-" + nclientpro;
                    }
                    
                    $("#txtProjectCid").val(projectid);
                }
                    
            });
        $('#ddlEndClient').on("change",
            function(e) {
                var eclient = "";
                projectid = "";
                $("#txtProjectCid").val("");
                eclient = $("#ddlEndClient option:selected").text();
                etext = eclient.substring(0, 2);
                if (eclient !=='---Select End Client Name---') {
                    projectid = projectcid + "-" + etext + "-" + nclientpro;
                    $("#txtProjectCid").val(projectid);
                }           
            });

        function GetInitialProjectId() {
            var cnt = $("#procount").val();
            var d = new Date();
            var n = d.getFullYear();
            projectcid = n + "-" + cnt;
        }

        function CreatePurchaseOrder() {
            $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divCreatePo').modal('show');
        }

        function projectmasterinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                
                $('#txtPoNo').val($('#tdpono' + r).text().trim());

                //var t = $('#tdprojecttypeid' + r).text().trim();  alert(t);

                $('#ddlProjectType').val($('#tdprojecttypeid' + r).text().trim()).trigger('change');

                $('#txtPoValue').val($('#tdpovalue' + r).text().trim());

                //var rr = $('#tdregularclientid' + r).text().trim(); alert(rr);
                $('#ddlRegularClient').val($('#tdregularclientid' + r).text().trim()).trigger('change');

                //var y = $('#tdendclientid' + r).text().trim(); alert(y);

                $('#ddlEndClient').val($('#tdendclientid' + r).text().trim()).trigger('change');

                $('#txtProjectCid').val($('#tdprojectid' + r).text().trim());
                $('#txtStartDate').val($('#tdstartdate' + r).text().trim());
                $('#txtEndDate').val($('#tdenddate' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                $('#ddlRegularClient').attr("disabled", true);
                $('#ddlEndClient').attr("disabled", true);
                $('#divCreatePo').modal('show');
            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save changes");
                    $('#txtPoNo').val("");
                    //$("#ddlProjectType").val($("#ddlProjectType option[selected]").val());
                    $('#ddlProjectType').val("").trigger('change');
                    $('#txtPoValue').val("");
                    $('#ddlRegularClient').val("").trigger('change');
                    $('#ddlEndClient').val("").trigger('change');
                    $('#txtProjectCid').val("");
                    $('#txtRemarks').val("");
                } else {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                    $('#txtPoNo').val("");
                    //$("#ddlProjectType").val($("#ddlProjectType option[selected]").val());
                    $('#ddlProjectType').val("").trigger('change');
                    $('#txtPoValue').val("");
                    $('#ddlRegularClient').val("").trigger('change');
                    $('#ddlEndClient').val("").trigger('change');
                    $('#txtProjectCid').val("");
                    $('#txtRemarks').val("");
                }
            });
        $(document).off("click", "#btnclear");
        $(document).on("click",
            "#btnclear",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save changes");
                    $('#txtPoNo').val("");
                    $('#ddlProjectType').val("").trigger('change');
                    $('#txtPoValue').val("");
                    $('#ddlRegularClient').val("").trigger('change');
                    $('#ddlEndClient').val("").trigger('change');
                    $('#txtProjectCid').val("");
                    $('#txtRemarks').val("");
                } else {

                }
            });
    </script>
}

