﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Purchase_Order
@model Project
@{
    ViewBag.Title = "Work Type Index";
    var tdname = "tdname";
    var tdclient = "tdclient";
    var tdcid = "tdcid";
    var tdstartdate = "tdstartdate";
    var tdenddate = "tdenddate";
    var tdvolume = "tdvolume";
    var tdemployee = "tdemployee";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateProject", "PurchaseOrder", FormMethod.Post, new { id = "saveproject" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Project
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">ProjectIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Project</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectName) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.ProjectName, new { id = "txtProjectName", placeholder = "Project Name", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                        </div> 
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientInfoFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.ClientInfoFk, ViewBag.allregularclient as SelectList,
                                "---Select Client Name---", new {id = "ddlRegularClient", @class = "form-control select2", style = "width:100%"})
                            @Html.ValidationMessageFor(model => model.ClientInfoFk, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeInfoFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.EmployeeInfoFk, ViewBag.allemployee as SelectList,
                                "---Select Project Manager---", new { id = "ddlEmployeeInfoFk", @class = "form-control select2", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.EmployeeInfoFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate) &nbsp;<i class="ion-star"></i>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(model => model.StartDate, "{0:yyyy/MM/dd}", new { id = "txtStartDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new {id="txtStartDate", @class = "datepicker form-control" } })*@
                                </div>
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate) &nbsp;<i class="ion-star"></i>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy/MM/dd}", new { id = "txtEndDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                            @*@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new {id="txtEndDate", @class = "datepicker form-control" } })*@
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Volume)
                            @Html.TextBoxFor(model => model.Volume, new { id = "txtVolume", placeholder = "Project Volume", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Project</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 25%">Project Name</th>
                                    <th class="hidden">ClientID</th>
                                    <th style="width: 15%">Client</th>
                                    <th class="hidden">PMID</th>
                                    <th style="width: 15%">Project Manager</th>
                                    <th style="width: 12%">Start Date</th>
                                    <th style="width: 12%">End Date</th>
                                    <th style="width: 12%">Volume</th>
                                    <th style="width: 5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<ProjectViewModel> projects = ViewBag.allproject as List<ProjectViewModel>;
                                    int sl = 0;
                                    if (projects != null)
                                    {

                                        foreach (var project in projects)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@project.Project.Id</td>
                                                <td style="text-align: center">@sl</td>
                                                <td id="@tdname@project.Project.Id" style="text-align: left;">@project.Project.ProjectName</td>
                                                <td id="@tdclient@project.Project.Id" style="display: none">@project.ClientInfo.Id</td>
                                                <td style="text-align: left;">@project.ClientInfo.Name</td>
                                                <td id="@tdemployee@project.Project.Id" style="display: none">@project.EmployeeInfo.Id</td>
                                                <td style="text-align: left;">@project.EmployeeInfo.Name</td>
                                                @*<td id="@tdcid@project.Project.Id" style="text-align: left;">@project.Project.ProjectCid</td>*@
                                                <td id="@tdstartdate@project.Project.Id" style="text-align: left;">@project.Project.StartDate.ToString("dd MMM yy")</td>
                                                <td id="@tdenddate@project.Project.Id" style="text-align: left;">@project.Project.EndDate.ToString("dd MMM yy")</td>
                                                <td id="@tdvolume@project.Project.Id" style="text-align: center;">@project.Project.Volume</td>
                                             
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@project.Project.Id" onclick=" projectinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteProject", "PurchaseOrder", new RouteValueDictionary(new {id = project.Project.Id}))" id="@project.Project.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Project Deleting"
                                                       data-swal-text="Are you sure to Delete this Project?">
                                                    </a>
                                                    <a href="@Url.Action("PoMasterIndex", "PurchaseOrder", new RouteValueDictionary(new {id = project.Project.Id}))" id="@project.Project.Id"
                                                       title="Detail" data-placement="top">
                                                        <i class="fa fa-binoculars" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    }

@section ScriptFile {
    <script type="text/javascript">
        function projectinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtProjectName').val($('#tdname' + r).text().trim());
                $('#ddlRegularClient').val($('#tdclient' + r).text().trim()).trigger('change');
                $('#ddlEmployeeInfoFk').val($('#tdemployee' + r).text().trim()).trigger('change');
                //$('#txtProjectCid').val($('#tdcid' + r).text().trim());
                $('#txtStartDate').val($('#tdstartdate' + r).text().trim());
                $('#txtEndDate').val($('#tdenddate' + r).text().trim());
                $('#txtVolume').val($('#tdvolume' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtProjectName').val("");
                $('#txtProjectCid').val("");
                $('#ddlRegularClient').val("").trgger('change');
                $('#ddlEmployeeInfoFk').val("").trgger('change');
                $('#txtStartDate').val("");
                $('#txtEndDate').val("");
                $('#txtVolume').val("");
            } 
        });
    </script>

}