﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Status
@model ONSJobTracker.Models.AcceptanceStatus

@{
    ViewBag.Title = "AcceptanceStatusIndex";

    var tdsitefk = "tdsitefk";
    var tdclientname = "tdclientname";
    var tdpo = "tdpo";
    var tdprojectfk = "tdprojectfk";
    var tdclientnames = "tdclientnames";
    var tdremarks = "tdremarks";
    var tdprojectfks = "tdprojectfks";
    var tdpofk = "tdpofk";
    var tdsitefks = "tdsitefks";
    var tdreportstatusfk = "tdreportstatusfk";
    var tdcomdate = "tdcomdate";
    var tddeldate = "tddeldate";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- form start -->
@using (Html.BeginForm("CreateAcceptanceStatus", "Status", FormMethod.Post, new { id = "acceptancestatus" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Acceptance
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">AcceptanceStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Acceptance</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.ProjectFk, ViewBag.project as SelectList,
                                "---Select Project---", new { id = "ddlProjectFk", @class = "form-control select2", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ProjectFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PoFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.PoFk, new SelectList(string.Empty, "Value", "Text"),
                                "---Select PO---", new { id = "ddlPoFk", @class = "form-control select2", style = "width:100%" })
                            @*@Html.DropDownListFor(model => model.PoFk, ViewBag.po as SelectList,
                                "---Select PO---", new {id = "ddlPoFk", @class = "form-control select2", style = "width:100%"})*@
                            @Html.ValidationMessageFor(model => model.PoFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SiteFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.SiteFk, new SelectList(string.Empty, "Value", "Text"),
                                "---Select Site---", new { id = "ddlSiteFk", @class = "form-control select2", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.SiteFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientName)
                            @Html.TextBoxFor(model => model.ClientName, new { id = "txtClientName", @readonly = "readonly", placeholder = "Client Name", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Statuses) &nbsp;<i class="ion-star"></i>
                            @Html.ListBoxFor(model => model.Statuses, new MultiSelectList(string.Empty, "Value", "Text"),
                                 new { id = "ddlStatuses", @class = "form-control select2", multiple = "multiple", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Statuses, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">View Ready For Acceptance</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="Select-b" class="table table-striped tablewithsearch">
                                <thead>
                                    <tr>
                                        
                                        <th style="width: 3%">#</th>
                                        <th class="hidden">Id</th>
                                        <th class="hidden">Project Id</th>
                                        <th style="width: 10%">Project Name</th>

                                        <th class="hidden">PO NO</th>
                                        <th style="width: 10%">PO NO</th>

                                        <th class="hidden">Site Id</th>
                                        <th style="width: 10%">Site</th>

                                        <th class="hidden">Report Status Id</th>
                                        <th style="width: 6%">Report Status</th>
                                        <th class="hidden">Client name</th>

                                        <th class="hidden">Completed Date</th>
                                        <th style="width: 7%">Completed Date</th>
                                        <th style="width: 7%">Delivered Date</th>

                                        <th style="width: 5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<ReportEngineerWorkStatusViewModel> acceptedlist = ViewBag.readyforacceptance as List<ReportEngineerWorkStatusViewModel>;
                                        int n = 0;
                                        if (acceptedlist != null)
                                        {

                                            foreach (var list in acceptedlist)
                                            {
                                                n += 1;
                                                <tr>
                                                    
                                                    <td>@n</td>
                                                    <td class="hidden">@list.Id</td>
                                                    <td id="@tdprojectfks@list.Id" class="hidden">@list.ProjectId</td>
                                                    <td style="text-align: left;">@(list.ProjectName+" ("+ list.ClientName+")")</td>

                                                    <td id="@tdpofk@list.Id" class="hidden">@list.PoFk</td>
                                                    <td style="text-align: left;">@list.Po</td>

                                                    <td id="@tdsitefks@list.Id" class="hidden">@list.SiteFk</td>
                                                    <td style="text-align: left;">@list.SiteName</td>

                                                    <td id="@tdreportstatusfk@list.Id" class="hidden">@list.ReportStatusFk</td>
                                                    <td style="text-align: left; font-weight: bold">@list.ReportStatus</td>

                                                    <td class="hidden" id="@tdclientnames@list.Id" style="text-align: left;">@list.ClientName</td>
                                                    <td class="hidden" id="@tdcomdate@list.Id" style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                                    @{
                                                        if (list.CompletedDate.Year == 1900)
                                                        {
                                                            <td></td>
                                                        }
                                                        else
                                                        {
                                                            <td style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                                        }
                                                    }
                                                    <td id="@tddeldate@list.Id" style="text-align: left;">@list.DeliveredDate.ToShortDateString()</td>
                                                   
                                                   
                                                    <td style="text-align: center; cursor: pointer">
                                                        <a id="@list.Id" onclick=" acceptanceinfocopy(this);" title="Edit"
                                                           data-placement="top">
                                                            <i class="fa fa-fw fa-share-square-o" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                                }
                                                            }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">View Acceptance</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                                <thead>
                                    <tr>
                                       
                                        <th style="width: 3%">#</th>
                                        <th class="hidden">Id</th>

                                        <th style="width: 10%">Project</th>
                                        <th class="hidden">ProjectId</th>

                                        <th style="width: 10%">PO.</th>
                                        <th class="hidden">POId</th>

                                        <th class="hidden">Site fk</th>
                                        <th style="width: 10%">Site Name</th>
                                        <th style="width: 10%">Client Name</th>
                                        <th style="text-align: center; width: 27%">Acceptance Milestone</th>

                                        <th style="width: 15%">Remarks</th>
                                        <th style="width: 5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<AcceptanceStatusViewModel> acceptances = ViewBag.workdelivery as List<AcceptanceStatusViewModel>;
                                        int sl = 0;
                                        if (acceptances != null)
                                        {

                                            foreach (var ac in acceptances)
                                            {
                                                sl += 1;
                                                <tr>
                                                   
                                                    <td style="text-align: right;">@sl</td>
                                                    <td class="hidden">@ac.Id</td>

                                                    <td style="text-align: left;">@ac.ProjectName</td>
                                                    <td class="hidden" id="@tdprojectfk@ac.Id" style="text-align: left;">@ac.ProjectId</td>

                                                    <td style="text-align: left;">@ac.PoName</td>
                                                    <td class="hidden" id="@tdpo@ac.Id" style="text-align: left;">@ac.PoID</td>

                                                    <td id="@tdsitefk@ac.Id" class="hidden">@ac.SiteFk</td>
                                                   
                                                    <td style="text-align: left;">@ac.SiteName</td>

                                                    <td id="@tdclientname@ac.Id" style="text-align: left;">@ac.ClientName</td>

                                                    <td style="text-align: center">
                                                        @{
                                                            if (ac.AcceptanceMilestoneVms.Count > 0)
                                                            {
                                                                foreach (var data in ac.AcceptanceMilestoneVms)
                                                                {
                                                                    <label class="btn btn-success btn-xs">@data.AcceptancemMilestones</label>
                                                                }
                                                            }

                                                        }

                                                    </td>

                                                    <td id="@tdremarks@ac.Id" style="text-align: left;">@ac.Remarks</td>
                                                    <td style="text-align: center; cursor: pointer">
                                                        <a id="@ac.Id" onclick=" acceptanceinfo(this);" title="Edit"
                                                           data-placement="top">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="@Url.Action("DeleteAcceptanceStatus", "Status", new RouteValueDictionary(new {id = ac.Id}))" id="@ac.Id" class="glyphicon glyphicon-trash no-print"
                                                           data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                           data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Acceptance Deleting"
                                                           data-swal-text="Are you sure to Delete this Acceptance Status?">
                                                        </a>
                                                    </td>
                                                </tr>
                                                                }
                                                            }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
                                                        }

@section ScriptFile {
    <script type="text/javascript">


        function acceptanceinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                //alert($('#tdpo' + r).text().trim());
                $('#ddlProjectFk').val($('#tdprojectfk' + r).text().trim()).trigger('change');
                $('#ddlPoFk').val($('#tdpo' + r).text().trim()).trigger('change');
                $('#ddlSiteFk').val($('#tdsitefk' + r).text().trim()).trigger('change');
                //$('#ddlPacStatusFk').val($('#tdpacfk' + r).text().trim()).trigger('change');
                //$('#ddlFacStatusFk').val($('#tdfacfk' + r).text().trim()).trigger('change');

                $('#txtClientName').val($('#tdclientname' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }
        function acceptanceinfocopy(elem) {
            if (elem !== null) {
                var r = elem.id;
               
                $('#hidId').val(r);
               

                //alert($('#tdpo' + r).text().trim());
                $('#ddlProjectFk').val($('#tdprojectfks' + r).text().trim()).trigger('change');
                $('#ddlPoFk').val($('#tdpofk' + r).text().trim()).trigger('change');
                $('#ddlSiteFk').val($('#tdsitefks' + r).text().trim()).trigger('change');
                //$('#ddlPacStatusFk').val($('#tdpacfk' + r).text().trim()).trigger('change');
                //$('#ddlFacStatusFk').val($('#tdfacfk' + r).text().trim()).trigger('change');

                $('#txtClientName').val($('#tdclientnames' + r).text().trim());
                //$('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }
        
        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                    $('#ddlSiteFk').val("").trigger('change');
                    $('#ddlPacStatusFk').val("").trigger('change');
                    $('#ddlFacStatusFk').val("").trigger('change');

                    $('#txtClientName').val("");
                    $('#txtPo').val("");
                    $('#txtRemarks').val("");
                } else {

                }
            });
        $("#ddlProjectFk").change(function() {

            $("#ddlSiteFk").empty();
            $("#ddlPoFk").empty();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetPOForAcceptance", "Helper")",
                datatype: "Json",
                async: false,
                data: { poid: $("#ddlProjectFk").val() },
                success: function(data) {
                    var items = "";
                    items += "<option value = '' disabled selected>---Select PO---</option>";
                    $.each(data,
                        function (index, row) {
                            items += ('<option value="' + row.value + '">' + row.text + '</option>');
                        });
                    $("#ddlPoFk").html(items);
                    $("#ddlSiteFk").html("<option value = '' disabled selected>Please select Site</option>");
                }
            });
        });

        $("#ddlPoFk").change(function() {

            $("#ddlSiteFk").empty();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSitesByPoIdforAcceptance", "Helper")",
                datatype: "Json",
                async: false,
                data: { pid: $("#ddlPoFk").val() },
                success: function(data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Site</option>";
                    $.each(data,
                        function (index, row) {
                            items += ('<option value="' + row.value + '">' + row.text + '</option>');
                        });
                    $("#ddlSiteFk").html(items);
                }
            });
        });

            $("#ddlSiteFk").change(function() {
                $("#ddlStatuses").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSiteInfo", "Helper")',
                    datatype: "Json",
                    data: { cid: $("#ddlSiteFk").val() },
                    success: function(data) {
                        $('#txtClientName').val(data.ClientName);
                        $('#txtPo').val(data.PO);
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAcceptanceMilestone", "Helper")',
                    datatype: "Json",
                    data: { siteid: $("#ddlSiteFk").val() },
                    success: function(data) {
                        var items = "";
                        items += "<option value = ''>Please select Status</option>";
                        $.each(data,
                            function(index, value) {
                                items += ('<option value="' + value.Id + '">' + value.Name + '</option>');
                            });
                        $("#ddlStatuses").html(items);
                    }
                });

        });

    </script>

}
