﻿@using ONSJobTracker.ViewModels.Status
@model ONSJobTracker.Models.InvoiceMaster

@{
    ViewBag.Title = "InvoiceMasterStatusIndex";

    var tdsitefk = "tdsitefk";
    var tdcid = "tdcid";
    var tdpo = "tdpo";
    var tdinvoicefk = "tdinvoicefk"; //invoice status fk
    var tdinvoicesubdate = "tdinvoicesubdate"; //invoice submisstion date
    var tdinvoicepaydate = "tdinvoicepaydate"; //projected payment date
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateInvoiceMasterStatus", "Status", FormMethod.Post, new { id = "invoicemasterstatus" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Invoice 
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">InvoiceMasterStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Invoice Master</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cid)
                            @Html.TextBoxFor(model => model.Cid, new { id = "txtCid", placeholder = "Invoice Number", @readonly = "readonly", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Cid, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InvoiceStatusFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.InvoiceStatusFk, ViewBag.invoicestatus as SelectList,
                                "---Select Invoice Status---", new {id = "ddlInvoiceStatusFk", @class = "form-control select2", style = "width:100%"})
                            @Html.ValidationMessageFor(model => model.InvoiceStatusFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InvoiceSubmissionDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star  "></i></span>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.InvoiceSubmissionDate, "{0:yyyy/MM/dd}", new { id = "txtInvSubdate", @class = "form-control datepicker" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.InvoiceSubmissionDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectedPaymentDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star  "></i></span>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.ProjectedPaymentDate, "{0:yyyy/MM/dd}", new { id = "txtProjPaydate", @class = "form-control datepicker" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ProjectedPaymentDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Invoices</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th >#</th>

                                    <th class="hidden">Po fk</th>
                                    @*<th >PO.</th>*@
                                    <th >Inv. Number</th>

                                    <th class="hidden">IS id</th>
                                    <th >Inv. Status</th>

                                    <th >Inv. Sub. Date</th>
                                    <th>Proj. Payment Date</th>
                                    <th style="font-weight: bold">T. Amount</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<InvoiceMasterViewModel> invoicemaster = ViewBag.invoicemaster as List<InvoiceMasterViewModel>;
                                    int sl = 0;
                                    if (invoicemaster != null)
                                    {

                                        foreach (var ac in invoicemaster)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@ac.Id</td>
                                                <td style="text-align: right;">@sl</td>

                                                <td id="@tdsitefk@ac.Id" class="hidden">@ac.PoFk</td>
                                                @*<td>@ac.Po</td>*@
                                                <td id="@tdcid@ac.Id" style="text-align: left; ">@ac.Cid</td>
                                               
                                                <td id="@tdinvoicefk@ac.Id" class="hidden">@ac.InvoiceStatusFk</td>
                                                <td style="text-align: left;">@ac.InvoiceStatus</td>

                                                <td id="@tdinvoicesubdate@ac.Id" style="text-align: left; ">@ac.InvoiceSubmissionDate.ToShortDateString()</td>
                                                <td id="@tdinvoicepaydate@ac.Id" style="text-align: left;" >@ac.ProjectedPaymentDate.ToShortDateString()</td>
                                                <td style="text-align: right;font-weight: bold" >@ac.TotalAmount</td>

                                                <td id="@tdremarks@ac.Id" style="text-align: left;">@ac.Remarks</td>
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@ac.Id" onclick=" invoiceinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    @*<a href="@Url.Action("DeleteInvoiceStatus", "Status", new RouteValueDictionary(new {id = ac.Id}))" id="@ac.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Acceptance Deleting"
                                                       data-swal-text="Are you sure to Delete this Acceptance Status?">
                                                    </a>*@
                                                    <a href="@Url.Action("InvoiceDetailsIndex", "Status", new RouteValueDictionary(new {id = ac.Id}))" id="@ac.Id" 
                                                       title="Detail" data-placement="top">
                                                        <i class="fa fa-binoculars" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section ScriptFile {
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateInvNumByPo", "Helper")',
                datatype: "Json",
                data: { poid: $("#ddlPoFk").val() },
                success: function (data) {
                    $('#txtCid').val(data.counter);
                }
            });

           // $('[data-datetimepicker-startdate]').datepicker({});


            $("#txtOtherClaimAmount/*, #2*/").change(function(){
                var val1 = parseFloat($("#txtProjectedInvoiceAmount").val()),
                    val2 = parseFloat($("#txtOtherClaimAmount").val());

                $("#txtInvoicedAmount").val(val1 + val2);
            });
        });
        function invoiceinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                //$('#ddlPoFk').val($('#tdsitefk' + r).text().trim()).trigger('change');
                $('#ddlPoFk').val($('#tdsitefk' + r).text().trim());
                $('#divPoFk').hide();
                //$('#txtPo').val($('#tdpo' + r).text().trim());
                $('#txtProjPaydate').val($('#tdinvoicepaydate' + r).text().trim());
                $('#txtInvSubdate').val($('#tdinvoicesubdate' + r).text().trim());
                $('#ddlInvoiceStatusFk').val($('#tdinvoicefk' + r).text().trim()).trigger('change');

                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                $('#txtCid').val($('#tdcid' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                $('#ddlPoFk').val("").trigger('change');
                $('#divPoFk').show();
                //$('#txtPo').val($('#tdpo' + r).text().trim());
                $('#txtProjPaydate').val("");
                $('#txtInvSubdate').val("");
                $('#ddlInvoiceStatusFk').val("").trigger('change');
                $('#txtRemarks').val("");
                $('#txtCid').val("");

            } else {

            }
        });
        
        @*function invoiceNumber() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateInvNumByPo", "Helper")',
                datatype: "Json",
                data: { poid: $("#ddlPoFk").val() },
                success: function (data) {
                    $('#txtCid').val(data.counter);
                }
            });
            //$("#ddlPoFk").change(function () {
                    
            //    });
        }*@
    </script>

}
