﻿@using ONSJobTracker.ViewModels.Status
@model ONSJobTracker.Models.InvoiceDetails

@{
    ViewBag.Title = "InvoiceDetailsIndex";

    var tdpofk = "tdpofk";
    var tdsitefk = "tdsitefk";
    var tdpaymilestonefk = "tdpaymilestonefk";
    var tdsiteamount = "tdsiteamount";
    var tdclaimamount = "tdclaimamount";
    var tdtax = "tdtax";
    var tdvat = "tdvat";
    var tdfinalamount = "tdfinalamount";
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateInvoiceDetails", "Status", FormMethod.Post, new { id = "invoicedetailsstatus" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.InvoiceMasterFk, new { Value = ViewBag.MasterId, id = "hidId" })
    @*@Html.HiddenFor(model => model.PoFk, new { Value = ViewBag.poid, id = "hidId" })*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Invoice
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">InvoiceDetailsStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            @*<div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="box-body col-md-5">
                                            <div class="input-group">
                                                <span style="width:140px;" class="input-group-addon">PO NO</span>
                                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.invoicemaster.Po>
                                            </div>

                                        </div>
                                        <div class="box-body col-md-5">
                                            <div class="input-group">
                                                <span style="width:140px;" class="input-group-addon">Invoice Number</span>
                                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value=@ViewBag.invoicemaster.Cid>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Site to Invoice</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="divPoFk">
                                    @Html.LabelFor(model => model.PoFk) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.PoFk, ViewBag.po as SelectList,
                                        "---Select Project---", new { id = "ddlPoFk", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.PoFk, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SiteFk) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.SiteFk, new SelectList(string.Empty, "Value", "Text"),
                                    "---Select Site---", new { id = "ddlSiteFk", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.SiteFk, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SiteAmount)
                                    @Html.TextBoxFor(model => model.SiteAmount, new { id = "txtSiteAmount", placeholder = "Site Amount", @class = "form-control", @readonly = "readonly", style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.SiteAmount, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Milestones) &nbsp;<i class="ion-star"></i>
                                    @Html.ListBoxFor(model => model.Milestones, new MultiSelectList(string.Empty, "Value", "Text"),
                                    new { id = "ddlPaymentMilestoneFk", @class = "form-control select2", multiple = "multiple", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Milestones, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OtherClaimAmount)
                                    @Html.TextBoxFor(model => model.OtherClaimAmount, new { id = "txtClaimAmount", placeholder = "Other Claim Amount", @class = "form-control", style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.OtherClaimAmount, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalAmount)
                                    @Html.TextBoxFor(model => model.TotalAmount, new { id = "txtTotalAmount", placeholder = "Total Amount", @class = "form-control", onfocus = "blur()", style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Tax)
                                            @Html.TextBoxFor(model => model.Tax, new { id = "txtTax", placeholder = "Tax %", @class = "form-control", style = "width:100%;" })
                                            @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Vat)
                                            @Html.TextBoxFor(model => model.Vat, new { id = "txtVat", placeholder = "Vat %", @class = "form-control", style = "width:100%;" })
                                            @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> Tax Amt. </label>
                                            <input id="txtTaxAmount" value="" class="form-control" readonly="readonly" />
                                        </div>
                                        <div class="form-group">
                                            <label> Vat Amt. </label>
                                            <input id="txtVatAmount" value="" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Tax Total </label>
                                            <input id="txtTaxTotal" value="" class="form-control" readonly="readonly" />
                                        </div>
                                        <div class="form-group">
                                            <label>Vat Total </label>
                                            <input id="txtVatTotal" value="" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FinalAmount)
                                    @Html.TextBoxFor(model => model.FinalAmount, new { id = "txtFinalAmount", placeholder = "Other Claim Amount", @class = "form-control", style = "width:100%;", onfocus = "blur()" })
                                    @Html.ValidationMessageFor(model => model.FinalAmount, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks)
                                    @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Invoiced Sites</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 5%;text-align: center">#</th>

                                    <th class="hidden">po fk</th>
                                    <th class="hidden">Site fk</th>
                                    <th style="width: 15%;text-align: center">Site Name</th>
                                    <th style="width: 10%;text-align: center">Site Amount</th>
                                    <th style="width: 10%;text-align: center">Other Claim</th>
                                    <th style="width: 8%;text-align: center">Tax %</th>
                                    <th style="width: 8%;text-align: center">Vat %</th>
                                    <th style="width: 10%;text-align: center">Invoiced Amount</th>
                                    <th style="width: 20%;text-align: center">Payment Milestone</th>
                                    <th style="width: 10%;text-align: center">Remarks</th>
                                    <th style="width: 6%;text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    decimal amount = 0;
                                    List<InvoiceDetailViewModel> invoicedetails = ViewBag.invoicedetails as List<InvoiceDetailViewModel>;
                                    int sl = 0;
                                    if (invoicedetails != null)
                                    {

                                        foreach (var ac in invoicedetails)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@ac.Id</td>
                                                <td>@sl</td>

                                                <td id="@tdpofk@ac.Id" class="hidden">@ac.PoFk</td>
                                                <td id="@tdsitefk@ac.Id" class="hidden">@ac.SiteFk</td>
                                                <td style="text-align: left;">@ac.SiteName</td>

                                                <td id="@tdsiteamount@ac.Id" style="text-align: center;">@ac.SiteAmount</td>
                                                <td id="@tdclaimamount@ac.Id" style="text-align: center;">@ac.OtherClaimAmount</td>
                                                <td id="@tdtax@ac.Id" style="text-align: center;">@ac.Tax</td>
                                                <td id="@tdvat@ac.Id" style="text-align: center;">@ac.Vat</td>
                                                <td id="@tdfinalamount@ac.Id" style="text-align: center;">@ac.TotalAmount</td>
                                                @{ amount += ac.TotalAmount;}
                                                <td style="text-align: center">
                                                    @{
                                                        if (ac.AcceptanceMilestoneVms.Count > 0)
                                                        {
                                                            foreach (var data in ac.AcceptanceMilestoneVms)
                                                            {
                                                                <label class="btn btn-success btn-xs">@data.AcceptancemMilestones</label>
                                                            }
                                                        }

                                                    }


                                                <td id="@tdremarks@ac.Id" style="text-align: left;">@ac.Remarks</td>

                                                <td style="text-align: center; cursor: pointer">
                                                    <a id="@ac.Id" onclick=" invoiceinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteInvoiceDetailsStatus", "Status", new RouteValueDictionary(new {id = ac.Id}))" id="@ac.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Acceptance Deleting"
                                                       data-swal-text="Are you sure to Delete this Acceptance Status?">
                                                    </a>
                                                </td>
                                            </tr>
                                                            }
                                                        }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: center; font-weight: bold">Total Amount : </td>
                                    <td style="text-align: right; font-weight: bold"> @amount</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                                        }

@section ScriptFile {
    <script type="text/javascript">
        var ammount = 0;
        var claimammount = 0;
        //var id = $('select#FlightTime_AirlineID').val();
        //populate(id);

        //$("#FlightTime_AirlineID").change(function () {
        //    var id = $('select#FlightTime_AirlineID').val();
        //    populate(id);
        //});

        //function populate(id) {
        //    alert('hello');
        //    //The line below is where it stops
        //    $.get('../FlightTime/GetFlightList/' + id, function (response) {
        //        var flights = $.parseJSON(response);
        //        var ddlSelectedFlight = $("#FlightTime_FlightID");

        //        // clear all previous options
        //        $("#FlightTime_FlightID > option").remove();

        //        // populate the products
        //        for (i = 0; i < flights.length; i++) {
        //            ddlSelectedFlight.append($("<option />").val(flights[i].Value).text(flights[i].Text));
        //        }
        //        if (flights.length == 0) {
        //            ddlSelectedFlight.append($("<option />").val('').text('No flights added'));
        //        }
        //    });
        //}

        $("#ddlPoFk").change(function() {

            $("#ddlSiteFk").empty();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSitesByInvoice", "Helper")",
                datatype: "Json",
                data: { poid: $("#ddlPoFk").val() },
                async:false,
                success: function(data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Site</option>";
                    $.each(data,
                        function(index, value) {
                            items += ('<option value="' + value.Value + '">' + value.Text + '</option>');
                        });
                    $("#ddlSiteFk").html(items);
                }
            });
        });

        $("#txtClaimAmount/*, #2*/").keyup (function() {
            var val1 = parseFloat(ammount);
            claimammount = parseFloat($("#txtClaimAmount").val());

            $("#txtTotalAmount").val(val1 + claimammount);
        });

        //Tax Calculation---------
        $("#txtTax/*, #2*/").keyup (function() {
            var val1 = parseFloat($("#txtTax").val()),
                val2 = parseFloat($("#txtTotalAmount").val());

            var val = (val1 * val2) / 100;

            var total = val + val2;
            $("#txtTaxAmount").val(val.toFixed(2));
            $("#txtTaxTotal").val(total.toFixed(2));
        });

        //  Vat Calculation---------
        $("#txtVat/*, #2*/").keyup(function() {
            var val1 = parseFloat($("#txtVat").val()),
                val2 = parseFloat($("#txtTaxTotal").val());

            var val = (val1 * val2) / 100;
            var total = val + val2;
            $("#txtVatAmount").val(val.toFixed(2));
            $("#txtVatTotal").val(total.toFixed(2));
        });

        $("#txtVat/*, #2*/").keyup(function() {
            var val1 = parseFloat($("#txtTotalAmount").val()),
                val2 = parseFloat($("#txtVatAmount").val()),
                val3 = parseFloat($("#txtTaxAmount").val());

            var total = val1 + val2 + val3;
            $("#txtFinalAmount").val(total.toFixed(2));
        });

        function invoiceinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#ddlPoFk').val($('#tdpofk' + r).text().trim()).trigger('change');
                // $('#ddlSiteFk').selectedIndex(siteid);
                $('#ddlSiteFk').val($('#tdsitefk' + r).text().trim()).trigger('change');

               // $('#ddlPaymentMilestoneFk').val($('#tdpaymilestonefk' + r).text().trim()).trigger('change');
                $('#txtSiteAmount').val($('#tdsiteamount' + r).text().trim());
                $('#txtClaimAmount').val($('#tdclaimamount' + r).text().trim());
                $('#txtTax').val($('#tdtax' + r).text().trim());
                $('#txtVat').val($('#tdvat' + r).text().trim());
                $('#txtFinalAmount').val($('#tdfinalamount' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                $("#ddlPaymentMilestoneFk").val([1, 2]).attr('selected', true).trigger('change');

                $.bookAuthors = [1,2];
                $.each($.bookAuthors, function( intIndex, objValue ){
                    $('#ddlPaymentMilestoneFk option[value=' + objValue + ']').attr('selected', true);
                });
            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");


                    $('#ddlPoFk').val("").trigger('change');
                    $('#ddlSiteFk').val("").trigger('change');
                    $('#ddlPaymentMilestoneFk').val("").trigger('change');
                    $('#txtSiteAmount').val("");
                    $('#txtClaimAmount').val("");
                    $('#txtTax').val("");
                    $('#txtVat').val("");
                    $('#txtFinalAmount').val("");
                    $('#txtRemarks').val("");
                }
            });


        $("#ddlSiteFk").change(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSiteInfo", "Helper")',
                datatype: "Json",
                async: false,
                data: { cid: $("#ddlSiteFk").val() },
                success: function(data) {
                    $('#txtSiteAmount').val(data.Price);
                }
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetMilestoneForInvoiceBySite", "Helper")",
                datatype: "Json",
                data: { siteid: $("#ddlSiteFk").val() },
                success: function(data) {
                    var items = "";
                    items += "<option value = '' disabled>Please select milestone</option>";
                    $.each(data,
                        function(index, value) {
                            items += ('<option value="' + value.Value + '">' + value.Text + '</option>');
                        });
                    $("#ddlPaymentMilestoneFk").html(items);
                }
            });
        });
        $("#ddlPaymentMilestoneFk").data('originalvalues', []);
        $("#ddlPaymentMilestoneFk").change(function () {
            var that = this;
            var removed = [];
            $($(this).data('originalvalues')).each(function(k, v) {
                if (!$(that).val()) {
                    removed[removed.length] = v;
                    return false;
                }
                if ($(that).val().indexOf(v) === -1) {
                    removed[removed.length] = v;
                }
            });


            if ($(this).val()) {
                $(this).data('originalvalues', $(this).val());
            } else {
                $(this).data('originalvalues', []);
            }
            if (removed.length === 0) {

                var id = $(this).find('option:selected:last').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetInvoiceAmountByMilestone", "Helper")",
                    datatype: "Json",
                    async: false,
                    data: { siteid: $("#ddlSiteFk").val(), milestoneid:id },
                    success: function(data) {
                        ammount += data;
                    }
                });
            } else {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetInvoiceAmountByMilestone", "Helper")",
                    datatype: "Json",
                    async: false,
                    data: { siteid: $("#ddlSiteFk").val(), milestoneid: removed },
                    success: function(data) {
                        ammount -= data;
                    }
                });
            }
            $("#txtTotalAmount").val(claimammount+ammount);
        });

    </script>

}
