﻿@model ONSJobTracker.Models.InvoiceMaster
@using ONSJobTracker.ViewModels.Status

@{
    ViewBag.Title = "PaymentStatusIndex";

    var tdsitefk = "tdsitefk";
    var tdcid = "tdcid";
    var tdinvoicefk = "tdinvoicefk"; //invoice status fk
    var tdinvoicesubdate = "tdinvoicesubdate"; //invoice submisstion date
    var tdinvoicepaydate = "tdinvoicepaydate"; //projected payment date
    var tdremarks = "tdremarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreatePaymentStatus", "Status", FormMethod.Post, new { id = "invoicestatus" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Paid Status
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">PaymentStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Paid Invoice Status</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="font-weight: bold;text-align: center">#</th>

                                    <th class="hidden">Po fk</th>
                                    @*<th >PO.</th>*@
                                    <th style="font-weight: bold;text-align: center">Inv. Number</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Amount</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Sub. Date</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Rec. Date</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Rec. Amount</th>
                                    <th style="font-weight: bold;text-align: center">Bank Details</th>
                                    <th style="font-weight: bold;text-align: center">Remarks</th>
                                    <th style="font-weight: bold;text-align: center">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<InvoiceMasterViewModel> invoicemaster = ViewBag.paidpayment as List<InvoiceMasterViewModel>;
                                    int sl = 0;
                                    if (invoicemaster != null)
                                    {

                                        foreach (var ac in invoicemaster)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@ac.Id</td>
                                                <td style="text-align: center;">@sl</td>

                                                <td id="@tdsitefk@ac.Id" class="hidden">@ac.PoFk</td>
                                                @*<td>@ac.Po</td>*@
                                                <td id="@tdcid@ac.Id" style="text-align: center;font-weight: bold">@ac.Cid</td>
                                                <td style="text-align: right;font-weight: bold">@ac.TotalAmount</td>
                                                <td style="text-align: center;">@ac.InvoiceSubmissionDate.ToShortDateString()</td>
                                                <td style="text-align: center;">@ac.InvoiceRecievedDate.ToShortDateString()</td>
                                                <td style="text-align: right;font-weight: bold">@ac.ReievedAmount</td>
                                                <td style="text-align: left;">@ac.BankDetails</td>
                                                <td id="@tdremarks@ac.Id" style="text-align: left;">@ac.Remarks</td>
                                                <td style="text-align: center">
                                                    @{
                                                        if (ac.Status == false)
                                                        {
                                                            <label class="btn btn-danger btn-xs">Reconcile</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="btn btn-warning btn-xs">Pending</label>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                                            }
                                                        }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                                        }

@*@section ScriptFile {
        <script type="text/javascript">
            $(document).ready(function () {
                siteInfo();
                $('[data-datetimepicker-startdate]').datepicker({});
                ('#pBody').hide();

                $("#txtOtherClaimAmount/*, #2*/").change(function(){
                    var val1 = parseFloat($("#txtProjectedInvoiceAmount").val()),
                        val2 = parseFloat($("#txtOtherClaimAmount").val());

                    $("#txtInvoicedAmount").val(val1 + val2);
                });
            });
            function invoiceinfo(elem) {
                if (elem !== null) {
                    var r = elem.id;
                    $('#hidId').val(r);
                    $('#hidAction').val('Update');
                    $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                    //$('#ddlPoFk').val($('#tdsitefk' + r).text().trim()).trigger('change');
                    $('#ddlPoFk').val($('#tdsitefk' + r).text().trim());
                    $('#divPoFk').hide();
                    //$('#txtPo').val($('#tdpo' + r).text().trim());
                    $('#txtProjPaydate').val($('#tdinvoicepaydate' + r).text().trim());
                    $('#txtInvSubdate').val($('#tdinvoicesubdate' + r).text().trim());
                    $('#ddlInvoiceStatusFk').val($('#tdinvoicefk' + r).text().trim()).trigger('change');

                    $('#txtRemarks').val($('#tdremarks' + r).text().trim());
                    $('#txtCid').val($('#tdcid' + r).text().trim());

                }
            }
            $(document).off("click", "#btnreset");
            $(document).on("click", "#btnreset", function (e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                    $('#ddlSiteFk').val("").trigger('change');
                    $('#ddlPacStatusFk').val("").trigger('change');
                    $('#ddlFacStatusFk').val("").trigger('change');

                    $('#txtClientName').val("");
                    $('#txtPo').val("");
                    $('#txtRemarks').val("");
                } else {

                }
            });



            function siteInfo() {
                    $("#ddlSiteFk").change(function () {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetSiteInfo", "Helper")',
                            datatype: "Json",
                            data: { cid: $("#ddlSiteFk").val() },
                            success: function (data) {
                                $('#txtClientName').val(data.ClientName);
                                $('#txtPo').val(data.PO);
                                $('#txtProjectedInvoiceAmount').val(data.PoValue);
                            }
                        });
                    });
            }
        </script>

    }*@

