﻿@model ONSJobTracker.Models.InvoiceMaster
@using ONSJobTracker.ViewModels.Status

@{
    ViewBag.Title = "PaymentStatusIndex";

    var tdsitefk = "tdsitefk";
    var tdcid = "tdcid";
    var tdinvoicefk = "tdinvoicefk"; //invoice status fk
    var tdinvoicesubdate = "tdinvoicesubdate"; //invoice submisstion date
    var tdinvoicepaydate = "tdinvoicepaydate"; //projected payment date
    var tdremarks = "tdremarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("UpdatePayentStatus", "Status", FormMethod.Post, new { id = "invoicestatus" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Payment
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">PaymentStatusIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Payment Status</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="font-weight: bold;text-align: center">#</th>

                                    <th class="hidden">Po fk</th>
                                    @*<th >PO.</th>*@
                                    <th style="font-weight: bold;text-align: center">Inv. Number</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Amount</th>

                                    <th class="hidden">IS id</th>
                                    <th style="font-weight: bold;text-align: center">Inv. Status</th>

                                    <th style="font-weight: bold;text-align: center">Inv. Sub. Date</th>
                                    <th style="font-weight: bold;text-align: center">Proj. Payment Date</th>
                                    <th style="font-weight: bold;text-align: center">Payment Status</th>

                                    <th style="font-weight: bold;text-align: center">Remarks</th>
                                    <th style="font-weight: bold;text-align: center">Status</th>
                                    <th style="font-weight: bold;text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<InvoiceMasterViewModel> invoicemaster = ViewBag.invoicemasterpayment as List<InvoiceMasterViewModel>;
                                    int sl = 0;
                                    if (invoicemaster != null)
                                    {

                                        foreach (var ac in invoicemaster)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@ac.Id</td>
                                                <td style="text-align: center;">@sl</td>

                                                <td id="@tdsitefk@ac.Id" class="hidden">@ac.PoFk</td>
                                                @*<td>@ac.Po</td>*@
                                                <td id="@tdcid@ac.Id" style="text-align: center;font-weight: bold">@ac.Cid</td>
                                                <td style="text-align: right;font-weight: bold">@ac.TotalAmount</td>

                                                <td id="@tdinvoicefk@ac.Id" class="hidden">@ac.InvoiceStatusFk</td>
                                                <td style="text-align: center;">@ac.InvoiceStatus</td>

                                                <td id="@tdinvoicesubdate@ac.Id" style="text-align: center;">@ac.InvoiceSubmissionDate.ToShortDateString()</td>
                                                <td id="@tdinvoicepaydate@ac.Id" style="text-align: center;">@ac.ProjectedPaymentDate.ToShortDateString()</td>

                                                <td style="text-align: center">
                                                    @if (ac.IsPayment == false)
                                                    {
                                                        <label class="btn btn-danger btn-xs">Unpaid</label>
                                                    }

                                                </td>
                                                <td id="@tdremarks@ac.Id" style="text-align: left;">@ac.Remarks</td>
                                                <td style="text-align: center">
                                                    @{
                                                        if (ac.Status == false)
                                                        {
                                                            <label class="btn btn-danger btn-xs">Reconcile</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="btn btn-warning btn-xs">Pending</label>
                                                        }
                                                    }


                                                </td>

                                                <td style="cursor: pointer; vertical-align: middle; text-align: center">
                                                    <span onclick="PaymentDetails(@ac.Id)" title="Recieved" id="lnkPaymentDetailsCreate"><i class="fa fa-user" aria-hidden="true"></i></span> &nbsp;
                                                    <a href="@Url.Action("PaymentReconcile", "Status", new RouteValueDictionary(new {id = ac.Id}))" id="@ac.Id" class="fa fa-fw fa-share-square-o no-print"
                                                       data-tooltip="tooltip" title="Reconcile" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, Reconcile!" data-swal-title="Reconcile Reconciling"
                                                       data-swal-text="Are you sure to this payment is need to be reconcile?">
                                                    </a>
                                                </td>

                                            </tr>
                                                            }
                                                        }
                                }
                            </tbody>
                        </table>

                        <!-- /.modal -->

                        <div class="modal fade" id="divCreatePaymentDetails">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Payment Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PaymentRecieveDate, new { @class = "control-label" })
                                                    &nbsp; <span><i class="ion-star "></i></span>
                                                    <div class="input-group date" data-datetimepicker-startdate="true">
                                                        @Html.TextBoxFor(model => model.PaymentRecieveDate, "{0:yyyy/MM/dd}", new { id = "txtPaymentRecieveDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                                        @* @Html.TextBoxFor(model => model.DeliveredDate, new {id = "txtDelivDate", placeholder = "dd/mm/yyyy", @class = "form-control"})*@
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.PaymentRecieveDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BankDetails)
                                                    @Html.TextAreaFor(model => model.BankDetails, new { id = "txtBankDetails", placeholder = "Bank Account Details", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BankDetails, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RecieveAmount)
                                                    @Html.TextBoxFor(model => model.RecieveAmount, new {Value="0", id = "txtRecieveAmount", placeholder = "Recieved Amount", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.RecieveAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnsave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                    </div>
                </div>
            </div>
        </div>
    </section>
                                                        }

@section ScriptFile {
    <script>
        $(document).ready(function() {
          
            
            $('.modal').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        });
        function PaymentDetails(invoiceid) {
            $('#divCreatePaymentDetails').modal('show');
            $('#hidId').val(invoiceid);
        }
    </script>

}
