﻿@using ONSJobTracker.ViewModels.Status
@model ONSJobTracker.Models.ReportEngineerWorkStatus

@{
    ViewBag.Title = "WorkDeliveryStatusIndex";

    var tdprojectfk = "tdprojectfk";
    var tdpofk = "tdpofk";
    var tdsitefk = "tdsitefk";
    var tdclientfk = "tdclientfk";
    var tdfefk = "tdfefk"; // fe = field engineer
    var tdrefk = "tdrefk";// re = report engineer
    var tdworkstatusfk = "tdworkstatusfk";
    var tdreportstatusfk = "tdreportstatusfk";
    //var tdpacstatusfk = "tdpacstatusfk";
    //var tdfacstatusfk = "tdfacstatusfk";

    var tdcomdate = "tdcomdate"; // com = completed
    var tddeldate = "tddeldate"; // del = deleted
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateReportEngineerWorkStatus", "Status", FormMethod.Post, new { id = "poDetails", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.PlanningMasterFk, new { Value = "", id = "hidPlanId" })
    @Html.HiddenFor(model => model.SiteName, new { Value = "", id = "hidSiteName" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Report Engineer Work
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">WorkDeliveryStatusIndex</li>
        </ol>
    </section>

    <section class="content">
        <!-- Inpurt Form for Report Engineer to Update Status-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Report Engineer Status</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-4 ">
                            <div id="divproject1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProjectFk) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.ProjectFk, ViewBag.project as SelectList,
                                    "---Select Project---", new { id = "ddlProjectoFk", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.ProjectFk, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SiteFk) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.SiteFk, new SelectList(string.Empty, "Value", "Text"),
                                    "---Select Site---", new { id = "ddlSiteFk", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.SiteFk, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkStatusFk) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.WorkStatusFk, ViewBag.workstatus as SelectList,
                                "---Select Work Status---", new { id = "ddlWorkStatusFk", @class = "form-control select2", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.WorkStatusFk, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompletedDate, new { @class = "control-label" })
                                <div class="input-group date" data-datetimepicker-startdate="true">
                                    @Html.TextBoxFor(model => model.CompletedDate, "{0:yyyy/MM/dd}", new { id = "txtComdate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                    @*@Html.TextBoxFor(model => model.CompletedDate, new {id = "txtComdate", placeholder = "dd/mm/yyyy", @class = "form-control"})*@
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.CompletedDate, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="form-group">
                                    <label>Site name</label>
                                    <input id="txtSiteName" class="form-control" style="width: 100%" readonly="readonly" />
                                </div>*@



                        </div>
                        <!-- Middle-->
                        <div class="col-md-4">
                            <div id="divproject2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PoFk) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.PoFk, new SelectList(string.Empty, "Value", "Text"),
                                        "---Select PO---", new { id = "ddlPoFk", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.PoFk, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Client name</label>
                                    <input id="txtClientName" class="form-control" style="width: 100%" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportStatusFk) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.ReportStatusFk, ViewBag.reportstatus as SelectList,
                                "---Select Report Status---", new { id = "ddlReportStatusFk", @class = "form-control select2", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.ReportStatusFk, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DeliveredDate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star "></i></span>
                                <div class="input-group date" data-datetimepicker-startdate="true">
                                    @Html.TextBoxFor(model => model.DeliveredDate, "{0:yyyy/MM/dd}", new { id = "txtDelivDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                    @* @Html.TextBoxFor(model => model.DeliveredDate, new {id = "txtDelivDate", placeholder = "dd/mm/yyyy", @class = "form-control"})*@
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.DeliveredDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- End Column-->
                        <div class="col-md-4" id="divfieldeng">
                            <label>&nbsp;</label>
                            <table id="tbleEng" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Field Eng.</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody"></tbody>
                            </table>

                        </div>


                        <div class="row">
                            <div class="col-ms-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Remarks)
                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="text-center">
                                            <label class="btn btn-default">
                                                <strong>Log/ Data Upload</strong> <input name="logFile" type="file" hidden>
                                            </label>
                                            <label style="font-size:smaller;color:#989809">&nbsp;&nbsp; Use zip file for more than one file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

        <!-- View Table of Updated status by Report Engineer-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Report Engineer Work Status</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 3%">#</th>
                                    <th class="hidden">Id</th>


                                    <th class="hidden">Project Id</th>
                                    <th style="width: 10%">Project Name</th>

                                    <th class="hidden">PO NO</th>
                                    <th style="width: 10%">PO NO</th>

                                    <th class="hidden">Site Id</th>
                                    <th style="width: 10%">Site</th>

                                    <th style="width: 7%">Client</th>

                                    <th class="hidden">Work Status Id</th>
                                    <th style="width: 6%">Work Status</th>

                                    <th class="hidden">Report Status Id</th>
                                    <th style="width: 6%">Report Status</th>

                                    <th class="hidden">Completed Date</th>
                                    <th style="width: 7%">Completed Date</th>
                                    <th style="width: 7%">Delivered Date</th>

                                    <th style="width: 8%">Remarks</th>

                                    <th style="width: 5%">Status</th>

                                    <th style="width: 5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IEnumerable<ReportEngineerWorkStatusViewModel> workdelivery = ViewBag.reporteng as IEnumerable<ReportEngineerWorkStatusViewModel>;
                                    int sl = 0;
                                    if (workdelivery != null)
                                    {

                                        foreach (var list in workdelivery)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td>@sl</td>
                                                <td class="hidden">@list.Id</td>


                                                <td id="@tdprojectfk@list.Id" class="hidden">@list.ProjectId</td>
                                                <td style="text-align: left;">@list.ProjectName</td>

                                                <td id="@tdpofk@list.Id" class="hidden">@list.PoFk</td>
                                                <td style="text-align: left;">@list.Po</td>

                                                <td id="@tdsitefk@list.Id" class="hidden">@list.SiteFk</td>
                                                <td style="text-align: left;">@list.SiteName</td>

                                                <td id="@tdclientfk@list.Id" @*class="hidden"*@>@list.ClientName</td>

                                                <td id="@tdworkstatusfk@list.Id" class="hidden">@list.WorkStatusFk</td>
                                                <td style="text-align: left;font-weight: bold">@list.WorkStatus</td>

                                                <td id="@tdreportstatusfk@list.Id" class="hidden">@list.ReportStatusFk</td>
                                                <td style="text-align: left; font-weight: bold">@list.ReportStatus</td>

                                                <td class="hidden" id="@tdcomdate@list.Id" style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                                @{
                                                    if (list.CompletedDate.Year == 1900)
                                                    {
                                                        <td></td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                                    }
                                                }
                                                <td id="@tddeldate@list.Id" style="text-align: left;">@list.DeliveredDate.ToShortDateString()</td>
                                                <td id="@tdremarks@list.Id" style="text-align: left;">@list.Remarks</td>
                                                <td style="text-align: center">
                                                    @{

                                                        if (list.IsReportReassign)
                                                        {
                                                            <span class="label label-danger">Reassigned</span><br />

                                                            if (list.Status)
                                                            {
                                                                <span class="label label-warning">Not Submitted</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">Submitted</span>
                                                            }
                                                        }

                                                        else
                                                        {
                                                            <span class="label label-success">New</span><br />
                                                            if (list.Status)
                                                            {
                                                                <span class="label label-warning">Not Submitted</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">Submitted</span>
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td style="text-align: center; cursor: pointer">
                                                    <a id="@list.Id" onclick=" projectworkdeliveryinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteWorkDeliveryStatus", "Status", new RouteValueDictionary(new {id = list.Id}))" id="@list.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, Submit Report!" data-swal-title="Report Deleting"
                                                       data-swal-text="Are you sure to delete this report?">
                                                    </a>
                                                    @{
                                                        if (list.Status)
                                                        {
                                                            <a href="@Url.Action("SubmitReportEngineerWorkStatus", "Status", new RouteValueDictionary(new {id = list.Id}))" id="@list.Id" class="glyphicon glyphicon-pushpin no-print"
                                                               data-tooltip="tooltip" title="Confirmation" data-placement="top" data-delconfirm="true"
                                                               data-swal-confirm-button-text="Yes, Submit Report!" data-swal-title="Report Submitting"
                                                               data-swal-text="Are you sure to confirm this report for submitting?">
                                                            </a>
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">

        $('[data-datetimepicker-startdate]').datepicker({});

              $(document).ready(function () {
            var dropdownids =@Html.Raw(ViewBag.DropdownId)
                $('#ddlProjectoFk').val('' + dropdownids.ProjectId + '').trigger('change');
            
                  $('#ddlPoFk').val('' + dropdownids.PoMasterId + '').trigger('change');
                  $('#ddlSiteFk').val('' + dropdownids.PoDetailsId + '').trigger('change');
        });



        function projectworkdeliveryinfo(elem) {
            if (elem !== null) {
                $('#divfieldeng').hide();
                $('#divproject1').hide();
                $('#divproject2').hide();
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                //$('#ddlProjectoFk').val($('#tdprojectfk' + r).text().trim()).trigger('change');
                //$('#ddlPoFk').val($('#tdpofk' + r).text().trim()).trigger('change');
                //$('#ddlSiteFk').val($('#tdsitefk' + r).text().trim()).trigger('change');
                //$('#ddlClientFk').val($('#tdclientfk' + r).text().trim()).trigger('change');
                $('#ddlFeFk').val($('#tdfefk' + r).text().trim()).trigger('change');
                $('#ddlReFk').val($('#tdrefk' + r).text().trim()).trigger('change');
                $('#ddlWorkStatusFk').val($('#tdworkstatusfk' + r).text().trim()).trigger('change');
                $('#ddlReportStatusFk').val($('#tdreportstatusfk' + r).text().trim()).trigger('change');
                $('#ddlPacFk').val($('#tdpacstatusfk' + r).text().trim()).trigger('change');
                $('#ddlFacFk').val($('#tdfacstatusfk' + r).text().trim()).trigger('change');

                $('#txtComdate').val($('#tdcomdate' + r).text().trim());
                $('#txtDelivDate').val($('#tddeldate' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

                $('#divCreatePo').modal('show');
            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                    $('#ddlPoFk').val("").trigger('change');
                    $('#ddlSiteFk').val("").trigger('change');
                    $('#ddlClientFk').val("").trigger('change');
                    $('#ddlFeFk').val("").trigger('change');
                    $('#ddlReFk').val("").trigger('change');
                    $('#ddlWorkStatusFk').val("").trigger('change');
                    $('#ddlReportStatusFk').val("").trigger('change');
                    $('#ddlPacFk').val("").trigger('change');
                    $('#ddlFacFk').val("").trigger('change');

                    $('#txtComdate').val("");
                    $('#txtDelivDate').val("");
                    $('#txtRemarks').val("");

                } else {

                }
            });

        //$(document).off("click", "#btnclear");
        //$(document).on("click",
        //    "#btnclear",
        //    function(e) {
        //        e.preventDefault();
        //        var act = $('#hidAction').val();
        //        if (act === "Update") {
        //            $('#hidAction').val("Save");
        //            $('#hidId').val('');
        //            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

        //            $('#ddlPoFk').val("").trigger('change');
        //            $('#txtClientName').val("");
        //            $('#ddlSiteFk').val("").trigger('change');
        //            $('#ddlClientFk').val("").trigger('change');
        //            $('#ddlFeFk').val("").trigger('change');
        //            $('#ddlReFk').val("").trigger('change');
        //            $('#ddlWorkStatusFk').val("").trigger('change');
        //            $('#ddlReportStatusFk').val("").trigger('change');
        //            $('#ddlPacFk').val("").trigger('change');
        //            $('#ddlFacFk').val("").trigger('change');

        //            $('#txtComdate').val("");
        //            $('#txtDelivDate').val("");
        //            $('#txtRemarks').val("");

        //        }
        //    });

        $("#ddlProjectoFk").change(function() {

            var proid = $("#ddlProjectoFk").val();
            if (proid !== "---Select Project---") {
                $("#ddlPoFk").empty();
                $("#ddlSiteFk").empty();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPoByProjectIdOfAssignedReportEngineer", "Helper")',
                    data: { pid: proid },
                    datatype: "Json",
                    traditional: true,
                    async: false,
                    success: function(data) {
                        $("#ddlPoFk").append("<option value='0'>---Select PO---</option>");
                        $("#ddlSiteFk").append("<option value='0'>---Select Site---</option>");
                        $.each(data,
                            function(index, row) {
                                $("#ddlPoFk")
                                    .append("<option value='" + row.value + "'>" + row.text + "</option>");
                            });
                    }

                });
            }
        });

        $("#ddlPoFk").change(function() {
            $("#ddlSiteFk").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSiteByPoIdOfAssignedReportEngineer", "Helper")",
                datatype: "Json",
                async: false,
                data: { poId: $("#ddlPoFk").val() },
                success: function(data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please Select Site</option>";
                    $.each(data,
                        function (index, row) {
                            items += ('<option value="' + row.value + '">' + row.text + '</option>');
                        });
                    $("#ddlSiteFk").html(items);
                }
            });
        });
        // Set Plan Info Upon PlanFk Selected----
        $("#ddlSiteFk").change(function() {

            var pid = $("#ddlSiteFk").val();
            var name = ($("#ddlSiteFk option:selected").text());
            $("#hidSiteName").val(name);
            if (pid !=="---Select Site---") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSiteInfo", "Helper")',
                    data: { cid: pid },
                    datatype: "Json",
                    async: false,
                    traditional: true,
                    success: function(data) {
                        $('#txtSiteName').val(data.SiteName);
                        $('#txtClientName').val(data.ClientName);
                        // $('#txtSiteName').val(data.SiteName);
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLastPlanId", "Helper")',
                    datatype: "Json",
                    data: { sitefk: $("#ddlSiteFk").val() },
                    success: function (data) {
                        $('#hidPlanId').val(data.Id);
                    }
                });

                $("#tableBody").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetFieldEngName", "Helper")",
                    datatype: "Json",
                    data: { sitefk: $("#ddlSiteFk").val() },
                    success: function(data) {
                        $.each(data,
                            function(index, value) {
                                $("#tbleEng tbody").append("<tr>" +
                                    "<td>" +
                                    data[index].EmployeeName +
                                    "</td></tr>"
                                );
                            });
                    },
                    error: function() {
                        alert("No Data Found");
                    }
                });
            }

        });
    </script>
}

