﻿@using ONSJobTracker.ViewModels.Status
@model ONSJobTracker.Models.ReportEngineerWorkStatus

@{
    ViewBag.Title = "WorkDeliveryStatusIndex";

    var tdprojectfk = "tdprojectfk";
    var tdpofk = "tdpofk";
    var tdsitefk = "tdsitefk";
    var tdclientfk = "tdclientfk";
    var tdworkstatusfk = "tdworkstatusfk";
    var tdreportstatusfk = "tdreportstatusfk";
    var tdcomdate = "tdcomdate"; // com = completed
    var tddeldate = "tddeldate"; // del = deleted
    var tdremarks = "tdremarks";

    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@using (Html.BeginForm("CreateWorkDeliveryStatus", "Status", FormMethod.Post, new { id = "poDetails" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Work Delivery Status
            <small>Status</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">WorkDeliveryStatusIndex</li>
        </ol>
    </section>

    <section class="content">
        <!-- View Table of Updated status by Report Engineer-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">List Of Work Delivery Status</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 3%">#</th>
                                    <th class="hidden">Id</th>


                                    <th class="hidden">Project Id</th>
                                    <th style="width: 10%">Project Name</th>

                                    <th class="hidden">PO NO</th>
                                    <th style="width: 10%">PO NO</th>

                                    <th class="hidden">Site Id</th>
                                    <th style="width: 10%">Site</th>

                                    <th style="width: 7%">Client</th>

                                    <th class="hidden">Work Status Id</th>
                                    <th style="width: 6%">Work Status</th>

                                    <th class="hidden">Report Status Id</th>
                                    <th style="width: 6%">Report Status</th>

                                    <th class="hidden">Completed Date</th>
                                    <th style="width: 7%">Completed Date</th>
                                    <th style="width: 7%">Delivered Date</th>

                                    <th style="width: 8%">Remarks</th>

                                    <th style="width: 5%">Status</th>

                                    <th style="width: 5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IEnumerable<ReportEngineerWorkStatusViewModel> workdelivery = ViewBag.workdelivery as IEnumerable<ReportEngineerWorkStatusViewModel>;
                                    int sl = 0;
                                    if (workdelivery != null)
                                    {

                                        foreach (var list in workdelivery)
                                        {
                                            sl += 1;
                                <tr>
                                    <td>@sl</td>
                                    <td class="hidden">@list.Id</td>


                                    <td id="@tdprojectfk@list.Id" class="hidden">@list.ProjectId</td>
                                    <td style="text-align: left;">@list.ProjectName</td>

                                    <td id="@tdpofk@list.Id" class="hidden">@list.PoFk</td>
                                    <td style="text-align: left;">@list.Po</td>

                                    <td id="@tdsitefk@list.Id" class="hidden">@list.SiteFk</td>
                                    <td style="text-align: left;">@list.SiteName</td>

                                    <td id="@tdclientfk@list.Id" @*class="hidden"*@>@list.ClientName</td>

                                    <td id="@tdworkstatusfk@list.Id" class="hidden">@list.WorkStatusFk</td>
                                    <td style="text-align: left;font-weight: bold">@list.WorkStatus</td>

                                    <td id="@tdreportstatusfk@list.Id" class="hidden">@list.ReportStatusFk</td>
                                    <td style="text-align: left; font-weight: bold">@list.ReportStatus</td>

                                    <td class="hidden" id="@tdcomdate@list.Id" style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                    @{
                                        if (list.CompletedDate.Year == 1900)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: left;">@list.CompletedDate.ToShortDateString()</td>
                                        }
                                    }
                                    <td id="@tddeldate@list.Id" style="text-align: left;">@list.DeliveredDate.ToShortDateString()</td>
                                    <td id="@tdremarks@list.Id" style="text-align: left;">@list.Remarks</td>
                                    <td style="text-align: center">
                                        @{

                                            if (list.IsReportReassign)
                                            {
                                                <span class="label label-danger">Reassigned</span><br />

                                                if (list.IsReadyForAcceptance)
                                                {
                                                    <span class="label label-success">Deliverd</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">Not Deliverd</span>
                                                }
                                            }

                                            else
                                            {
                                                <span class="label label-success">New</span><br />
                                                if (list.IsReadyForAcceptance)
                                                {
                                                    <span class="label label-success">Deliverd</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">Not Deliverd</span>
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="text-align: center; cursor: pointer">
                                        <a id="@list.Id" onclick=" projectworkdeliveryinfo(this);" title="Edit"
                                           data-placement="top">
                                            <i class="fa fa-fw fa-check-square-o no-print" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("SubmitWorkForAcceptance", "Status", new RouteValueDictionary(new {id = list.Id}))" id="@list.Id" class="fa fa-fw fa-reply no-print"
                                           data-tooltip="tooltip" title="Accept" data-placement="top" data-delconfirm="true"
                                           data-swal-confirm-button-text="Yes, Submit it!" data-swal-title="Submitting Work For Acceptance"
                                           data-swal-text="Are you sure to submit this?">
                                        </a>

                                    </td>
                                </tr>
                                                            }
                                                        }
                                }
                            </tbody>
                        </table>
                        <!-- /.modal -->

                        <div class="modal fade" id="divWorkDelivery">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Work Delivery</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.WorkStatusFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.WorkStatusFk, ViewBag.workstatus as SelectList,
                                                        "---Select Work Status---", new {id = "ddlWorkStatusFk", @class = "form-control select2", style = "width:100%"})
                                                    @Html.ValidationMessageFor(model => model.WorkStatusFk, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ReportStatusFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.ReportStatusFk, ViewBag.reportstatus as SelectList,
                                                        "---Select Report Status---", new {id = "ddlReportStatusFk", @class = "form-control select2", style = "width:100%"})
                                                    @Html.ValidationMessageFor(model => model.ReportStatusFk, "", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CompletedDate, new { @class = "control-label" })
                                                    <div class="input-group date" data-datetimepicker-startdate="true">
                                                        @Html.TextBoxFor(model => model.CompletedDate, "{0:yyyy/MM/dd}", new { id = "txtComdate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                                        @*@Html.TextBoxFor(model => model.CompletedDate, new {id = "txtComdate", placeholder = "dd/mm/yyyy", @class = "form-control"})*@
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DeliveredDate, new { @class = "control-label" })
                                                    &nbsp; <span><i class="ion-star "></i></span>
                                                    <div class="input-group date" data-datetimepicker-startdate="true">
                                                        @Html.TextBoxFor(model => model.DeliveredDate, "{0:yyyy/MM/dd}", new { id = "txtDelivDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                                        @* @Html.TextBoxFor(model => model.DeliveredDate, new {id = "txtDelivDate", placeholder = "dd/mm/yyyy", @class = "form-control"})*@
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.DeliveredDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center">
                                                <div class="form-group">
                                                    <div class="checkbox icheck">
                                                        <label>
                                                            @Html.CheckBoxFor(model=>model.IsWorkReassign,new {id= "chkIsWorkReassign" })&nbsp;&nbsp; <span style="font-weight: bold;font-size: 16px">Work Reassign</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="text-align: center">
                                                <div class="form-group">
                                                    <div class="checkbox icheck">
                                                        <label>
                                                            @Html.CheckBoxFor(model=>model.IsReportReassign,new {id= "chkIsReportReassign" })&nbsp;&nbsp; <span style="font-weight: bold;font-size: 16px">Report Reassign</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Remarks)
                                                    @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button id='btnresest' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnsaves" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
                                                        }
@section ScriptFile
{
    <script type="text/javascript">

        var remarks = "";
        $('[data-datetimepicker-startdate]').datepicker({});
        function projectworkdeliveryinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#ddlWorkStatusFk').val($('#tdworkstatusfk' + r).text().trim()).trigger('change');
                $('#ddlReportStatusFk').val($('#tdreportstatusfk' + r).text().trim()).trigger('change');

                $('#txtComdate').val($('#tdcomdate' + r).text().trim());
                $('#txtDelivDate').val($('#tddeldate' + r).text().trim());
                var remarks = $('#tdremarks' + r).text().trim();
                $('#txtRemarks').val("#### REPORT ENGINEER NOTES ####\n" + remarks+"." +"\n#### PM NOTES ####\n");
              
                var readOnlyLength = $('#txtRemarks').val().length;

                //$('#output').text(readOnlyLength);

                $('#txtRemarks').on('keypress, keydown', function(event) {
                    var $field = $(this);
                   // $('#output').text(event.which + '-' + this.selectionStart);
                    if ((event.which !== 37 && (event.which !== 39)) &&
                    ((this.selectionStart < readOnlyLength) ||
                        ((this.selectionStart === readOnlyLength) && (event.which === 8)))) {
                        return false;
                    }
                });
                $('#divWorkDelivery').modal('show');
            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function (e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

                    $('#ddlPoFk').val("").trigger('change');
                    $('#ddlSiteFk').val("").trigger('change');
                    $('#ddlClientFk').val("").trigger('change');
                    $('#ddlFeFk').val("").trigger('change');
                    $('#ddlReFk').val("").trigger('change');
                    $('#ddlWorkStatusFk').val("").trigger('change');
                    $('#ddlReportStatusFk').val("").trigger('change');
                    $('#ddlPacFk').val("").trigger('change');
                    $('#ddlFacFk').val("").trigger('change');

                    $('#txtComdate').val("");
                    $('#txtDelivDate').val("");
                    $('#txtRemarks').val("");

                } else {

                }
            });

    </script>
}