﻿@model IEnumerable<ONSJobTracker.Models.PlanningMaster>
@{
    ViewBag.Title = "WorkPlanListForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Plans
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Accepted Plan List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Accepted Work Plan List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden">ID</th>
                                        <th>#</th>
                                        <th style="text-align: center">Plan Reference</th>
                                        <th style="text-align: center">Status</th>
                                        @*<th style="text-align: center">Accounts Approval</th>*@
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var sl = 1;
                                            foreach (var data in Model)
                                            {
                                                <tr>
                                                    <td class="hidden">@data.Id</td>
                                                    <td>@sl</td>
                                                    <td>@data.PlanReference</td>
                                                    <td class="text-center">
                                                        @if (data.AdminApproval)
                                                        {
                                                            <span class="label-success">Approved</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label-danger">Not Approved</span>
                                                        }
                                                    </td>
                                                    @*<td class="text-center">
                                                            @if (data.AccountsApproval)
                                                            {
                                                                <span class="label-success">Approved</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label-danger">Not Approved</span>
                                                            }
                                                        </td>*@
                                                    <td style="text-align: center; cursor: pointer; vertical-align: middle">
                                                        <a href="@Url.Action("AssignAmountForPlan", "Planning", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id"
                                                           title="Detail" data-placement="top">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                sl += 1;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
