﻿@model ONSJobTracker.Models.PlanApproval
@{
    ViewBag.Title = "WorkPlanViewForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var others = "other";
    var transports = "transports";

}


<section class="content-header">
    <h1>
        Plans
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Plan List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Approved Work Plan</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">PO Description</h3>
                                    <h3 id="hPlanReference" style="font-weight: bold" class="box-title pull-right"></h3>

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">PO Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    <table style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 10%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="font-weight: bold">Project Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdponumber">
                                                    @{
                                                        foreach (var project in Model.ApprovalMaster.GroupBy(x => x.Projectname))
                                                        {
                                                            <span>@project.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">PO Number</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdpocid">
                                                    @{
                                                        foreach (var po in Model.ApprovalMaster.GroupBy(x => x.PoNo))
                                                        {
                                                            <span>@po.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdclient">
                                                    @{
                                                        foreach (var client in Model.ApprovalMaster.GroupBy(x => x.ClientName))
                                                        {
                                                            <span>@client.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">End Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdendclient">
                                                    @{
                                                        foreach (var endclient in Model.ApprovalMaster.GroupBy(x => x.EndClientName))
                                                        {
                                                            <span>@endclient.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">Site/Cluster Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    @{
                                        foreach (var site in Model.PoDetailsView)
                                        {
                                            <table style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 10%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-weight: bold">Site ID</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteID">@site.SiteId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Work Type</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdWorkType">@site.WorkType</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Site Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteName">@site.SiteName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Region</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdRegion">@site.Region</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Id</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterId">@site.ClusterId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Address</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdAddress">@site.Address</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterName">@site.ClusterName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">District</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdDistrict">@site.District</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Option</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdOption" colspan="7">@site.Option</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br />
                                        }
                                    }
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">Work Description</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">#</th>
                                                <th style="text-align: center">Engineer Name</th>
                                                <th style="text-align: center">Start Date</th>
                                                <th style="text-align: center">Finish Date</th>
                                                <th style="text-align: center">Duration</th>
                                                <th style="text-align: center">Ta</th>
                                                <th style="text-align: center">Da</th>
                                                <th style="text-align: center">Total</th>
                                                <th style="text-align: center">Payment Log</th>
                                                <th style="text-align: center">Remarks</th>
                                                <th style="text-align: center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var sl = 1;
                                               
                                                foreach (var data in Model.ApprovalDetails)
                                                {

                                                    
                                                    decimal total = data.Planning.TaAmount + data.Planning.DaAmount;
                                                    <tr>
                                                        <td style="vertical-align: middle">@sl</td>
                                                        <td style="vertical-align: middle">@data.EmployeeInfo.Name</td>
                                                        <td style="vertical-align: middle">@data.Planning.StartDate.ToString("dd MMM yyyy")</td>
                                                        <td style="vertical-align: middle">@data.Planning.FinishDate.ToString("dd MMM yyyy")</td>
                                                        <td style="vertical-align: middle">@data.Planning.Duration</td>
                                                        <td style="text-align:right">@data.Planning.TaAmount</td>
                                                        <td style="text-align:right">@data.Planning.DaAmount</td>
                                                        <td style="text-align:right;font-weight:bold">
                                                            @total
                                                            @*<a href="#" title="Total Details" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom" data-content="<strong>TA:</strong> @data.Planning.Duration.ToString() x @data.Planning.TaAmount.ToString() = @totalTa.ToString() <br />
                                                                <strong>DA:</strong> @(data.Planning.Duration-1) x @data.Planning.DaAmount.ToString() = @totalDa.ToString()<br />">@total</a>*@
                                                        </td>
                                                        <td class="hidden">

                                                            <div class="hidden" id="@data.Planning.Id">
                                                                <div class="popover-heading">
                                                                    Payment Details
                                                                </div>
                                                                <div class="popover-body">
                                                                    <table class="table table-condensed">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Amount</th>
                                                                                <th>Notes</th>
                                                                            </tr>
                                                                        </thead>
                                                                        @{
                                                                            decimal ttl = 0;
                                                                            <tbody>
                                                                                @foreach (var tada in data.TaDaAmounts)
                                                                                {
                                                                                    <tr>
                                                                                        <td>@tada.PaymentDate.ToString("dd MMM yy")</td>
                                                                                        <td>@tada.PaidAmount</td>
                                                                                        <td>@tada.Remarks</td>
                                                                                    </tr>
                                                                                    ttl += tada.PaidAmount;
                                                                                }

                                                                            </tbody>

                                                                            <tfoot>
                                                                                <tr>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">Total</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">@ttl</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        }


                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="text-align:right">
                                                            <a href="#"  data-popover-content="#@data.Planning.Id" data-toggle="popover1" data-trigger="hover" data-placement="bottom">@ttl</a>
                                                        </td>
                                                        
                                                        @*<td>
                                                            <table class="table table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Date</th>
                                                                        <th>Amount</th>
                                                                        <th>Notes</th>
                                                                    </tr>
                                                                </thead>



                                                                @{
                                                                    decimal ttl = 0;
                                                                    <tbody>
                                                                        @foreach (var tada in data.TaDaAmounts)
                                                                        {
                                                                            <tr>
                                                                                <td>@tada.PaymentDate.ToString("dd MMM yy")</td>
                                                                                <td>@tada.PaidAmount</td>
                                                                                <td>@tada.Remarks</td>
                                                                            </tr>
                                                                            ttl += tada.PaidAmount;
                                                                        }

                                                                    </tbody>

                                                                    <tfoot>
                                                                        <tr>
                                                                            <td style="font-weight: bold;border-top: 1px solid black">Total</td>
                                                                            <td style="font-weight: bold;border-top: 1px solid black">@ttl</td>
                                                                            <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                        </tr>
                                                                    </tfoot>
                                                                }


                                                            </table>
                                                        </td>*@
                                                        <td style="vertical-align: middle">@data.Planning.Remarks</td>
                                                        <td style="cursor: pointer; vertical-align: middle;text-align:center "><span onclick="CreateTaDa(@data.Planning.EmployeeInfoFk)" id="lnkTaDaCreate"><i class="fa fa-money" aria-hidden="true"></i></span> </td>
                                                    </tr>

                                                                        sl += 1;

                                                                    }
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("PayTaDaAmounts", "Planning", FormMethod.Post, new { id = "frmTaDa" }))
                    {
                        @Html.HiddenFor(model => model.TaDaAmount.Action, new { Value = "Save", id = "hidTaDaAction" })
                        @Html.HiddenFor(model => model.TaDaAmount.Id, new { Value = "", id = "hidtaDaId" })
                        @Html.HiddenFor(model => model.TaDaAmount.CostType, new { Value = 1 })
                        @Html.HiddenFor(model => model.TaDaAmount.EmployeeInfoFk, new { Value = "", id = "hidEmployee" })
                        @Html.HiddenFor(model => model.TaDaAmount.PlanningMasterFk)
                        <div class="modal fade" id="divTaDa">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">TA/DA Payment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaymentDate) &nbsp;<i class="ion-star"></i>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.EditorFor(model => model.TaDaAmount.PaymentDate, new { htmlAttributes = new { id = "txtPaymentDate", @class = "datepicker form-control" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaymentDate, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaidAmount) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.TaDaAmount.PaidAmount, new { Value = "0", id = "txtPaidAmount", placeholder = "Paid Amount", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaidAmount, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.Remarks)
                                                    @Html.TextAreaFor(model => model.TaDaAmount.Remarks, new { id = "txttadaRemarks", placeholder = "Notes", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btntadasave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <i class="fa fa-file-text-o"></i>

                                <h3 class="box-title">Transport Description</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Type</th>
                                        <th>Start Date</th>
                                        <th>Finish Date</th>
                                        <th>Duration</th>
                                        <th>Fuel Type</th>
                                        <th>Est.KM</th>
                                        <th>Cost/Day</th>
                                        <th>Total</th>
                                        <th>Payment Log</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    @if (Model.TransportList != null)
                                    {
                                        <tbody>
                                        @{
                                            var i = 1;
                                            foreach (var transport in Model.TransportList)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    @{
                                                        var type = transport.Transport.CarInfo == 1 ? "Own Car" : "Instant Basis";
                                                        string fueltype;
                                                        if (transport.Transport.FuelType == "1")
                                                        {
                                                            fueltype = "Gas";
                                                        }
                                                        else if (transport.Transport.FuelType == "2")
                                                        {
                                                            fueltype = "Oil";
                                                        }
                                                        else if (transport.Transport.FuelType == "3")
                                                        {
                                                            fueltype = "Gas + Oil";
                                                        }
                                                        else
                                                        {
                                                            fueltype = "N/A";
                                                        }
                                                    }
                                                    <td>@type</td>

                                                    <td>@transport.Transport.StartDate.ToString("dd MMM yyyy")</td>
                                                    <td>@transport.Transport.FinishDate.ToString("dd MMM yyyy")</td>
                                                    <td>@transport.Transport.EstimatedDuration</td>
                                                    <td>@fueltype</td>

                                                    <td>@transport.Transport.EstimatedKm</td>
                                                    <td>@transport.Transport.DailyCost</td>
                                                    <td>@transport.Transport.TotalCarCost</td>
                                                    <td class="hidden">

                                                        <div class="hidden" id="@transports@transport.Transport.Id">
                                                            <div class="popover-heading">
                                                                Payment Details
                                                            </div>
                                                            <div class="popover-body">
                                                                <table class="table table-condensed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Date</th>
                                                                            <th>Name</th>
                                                                            <th>Amount</th>
                                                                            <th>Notes</th>
                                                                        </tr>
                                                                    </thead>
                                                                    @{
                                                                        decimal ttl2 = 0;
                                                                        <tbody>
                                                                            @foreach (var tada in transport.TransportPayment)
                                                                            {
                                                                                <tr>
                                                                                    <td>@tada.PaymentDate.ToString("dd MMM yy")</td>
                                                                                    <td>@tada.EmployeeName</td>
                                                                                    <td>@tada.PaidAmount</td>
                                                                                    <td>@tada.Remarks</td>
                                                                                </tr>
                                                                                ttl2 += tada.PaidAmount;
                                                                            }

                                                                        </tbody>

                                                                            <tfoot>
                                                                                <tr>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">Total</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">@ttl2</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                                </tr>
                                                                            </tfoot>
                                                                    }


                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="#" data-popover-content="#@transports@transport.Transport.Id" data-toggle="popover2" data-trigger="hover" data-placement="bottom">@ttl2</a>
                                                    </td>

                                                    <td>@transport.Transport.Remarks</td>
                                                    <td style="cursor: pointer; vertical-align: middle;text-align:center "><span onclick="CreateTransportCost()" id="lnkTransportCostCreate"><i class="fa fa-money" aria-hidden="true"></i></span> </td>
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                        </tbody>
                                    }

                                </table>
                                @*<div class="text-right">
                                            <a href="@Url.Action("TransportPlanEdit", "Planning", new RouteValueDictionary(new {id = Model.Transport.Id, planid= Model.ApprovalMaster.PlanningMaster.Id}))" id="btnplanupdate" class="btn btn-warning text-right"><i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Update</a>
                                        </div>*@

                            </div>
                        </div>
                    </div>
                </div>
                    @using (Html.BeginForm("PayTaDaAmounts", "Planning", FormMethod.Post, new { id = "frmtransport" }))
                    {
                        @Html.HiddenFor(model => model.TaDaAmount.Action, new { Value = "Save", id = "hidTransportAction" })
                        @Html.HiddenFor(model => model.TaDaAmount.Id, new { Value = "", id = "hidTransportId" })
                        @Html.HiddenFor(model => model.TaDaAmount.CostType, new { Value = 2 })                        
                        @Html.HiddenFor(model => model.TaDaAmount.PlanningMasterFk)
                        <div class="modal fade" id="divTransport">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Transport Payment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaymentDate) &nbsp;<i class="ion-star"></i>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.EditorFor(model => model.TaDaAmount.PaymentDate, new { htmlAttributes = new { id = "txtPaymentDate", @class = "datepicker form-control" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaymentDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.EmployeeInfoFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.TaDaAmount.EmployeeInfoFk, ViewBag.allemployee as SelectList,
                                                        "---Select Employee---", new {id = "ddlEmployeeInfoFk", @class = "form-control select2", style = "width:100%"})
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.EmployeeInfoFk, "", new {@class = "text-danger"})
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaidAmount) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.TaDaAmount.PaidAmount, new { Value = "0", id = "txtPaidAmount", placeholder = "Paid Amount", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaidAmount, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.Remarks)
                                                    @Html.TextAreaFor(model => model.TaDaAmount.Remarks, new { id = "txttadaRemarks", placeholder = "Notes", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btntadasave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <i class="fa fa-file-text-o"></i>

                                <h3 class="box-title">Other Cost Description</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Resource Title</th>
                                        <th>Amount</th>
                                        <th>Payment Log</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    @{
                                        if (Model.OtherPlanCostList != null)
                                        {
                                            <tbody>
                                            @{
                                                var n = 1;

                                                foreach (var other in Model.OtherPlanCostList)
                                                {
                                                    <tr>
                                                        <td>@n</td>
                                                        <td>@other.OtherPlanCost.CostName</td>
                                                        <td>@other.OtherPlanCost.Amount</td>
                                                        <td class="hidden">

                                                            <div class="hidden" id="@others@other.OtherPlanCost.Id">
                                                                <div class="popover-heading">
                                                                    Payment Details
                                                                </div>
                                                                <div class="popover-body">
                                                                    <table class="table table-condensed">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Name</th>
                                                                                <th>Amount</th>
                                                                                <th>Notes</th>
                                                                            </tr>
                                                                        </thead>
                                                                        @{
                                                                            decimal ttl3 = 0;
                                                                            <tbody>
                                                                                @foreach (var oada in other.OtherPlanCostPayment)
                                                                                {
                                                                                    <tr>
                                                                                        <td>@oada.PaymentDate.ToString("dd MMM yy")</td>
                                                                                        <td>@oada.EmployeeName</td>
                                                                                        <td>@oada.PaidAmount</td>
                                                                                        <td>@oada.Remarks</td>
                                                                                    </tr>
                                                                                    ttl3 += oada.PaidAmount;
                                                                                }

                                                                            </tbody>

                                                                            <tfoot>
                                                                                <tr>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">Total</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black">@ttl3</td>
                                                                                    <td style="font-weight: bold;border-top: 1px solid black"></td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        }


                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" data-popover-content="#@others@other.OtherPlanCost.Id" data-toggle="popover3" data-trigger="hover" data-placement="top">@ttl3</a>
                                                        </td>
                                                        <td>@other.OtherPlanCost.Remarks</td>
                                                        <td style="cursor: pointer; vertical-align: middle;text-align:center "><span onclick="CreateOtherCost()" id="lnkOtherCostCreate"><i class="fa fa-money" aria-hidden="true"></i></span> </td>
                                                    </tr>
                                                    n = n + 1;
                                                }
                                            }
                                            </tbody>
                                        }
                                    }


                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                    @using (Html.BeginForm("PayTaDaAmounts", "Planning", FormMethod.Post, new { id = "frmtransport" }))
                    {
                        @Html.HiddenFor(model => model.TaDaAmount.Action, new { Value = "Save", id = "hidOtherAction" })
                        @Html.HiddenFor(model => model.TaDaAmount.Id, new { Value = "", id = "hidOtherId" })
                        @Html.HiddenFor(model => model.TaDaAmount.CostType, new { Value = 3 })
                        @Html.HiddenFor(model => model.TaDaAmount.PlanningMasterFk)
                        <div class="modal fade" id="divOther">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Other Payment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaymentDate) &nbsp;<i class="ion-star"></i>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.EditorFor(model => model.TaDaAmount.PaymentDate, new { htmlAttributes = new { id = "txtPaymentDate", @class = "datepicker form-control" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaymentDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.EmployeeInfoFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.TaDaAmount.EmployeeInfoFk, ViewBag.allemployee as SelectList,
                                                        "---Select Employee---", new { id = "ddlEmployeeInfoFk", @class = "form-control select2", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.EmployeeInfoFk, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.PaidAmount) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.TaDaAmount.PaidAmount, new { Value = "0", id = "txtPaidAmount", placeholder = "Paid Amount", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.PaidAmount, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaDaAmount.Remarks)
                                                    @Html.TextAreaFor(model => model.TaDaAmount.Remarks, new { id = "txttadaRemarks", placeholder = "Notes", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.TaDaAmount.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btntadasave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section ScriptFile
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            $("[data-toggle=popover1]").popover({
                html : true,
                content: function() {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                title: function() {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children(".popover-heading").html();
                }
            });
            $("[data-toggle=popover2]").popover({
                html: true,
                content: function () {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                title: function () {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children(".popover-heading").html();
                }
            });
            $("[data-toggle=popover3]").popover({
                html: true,
                content: function () {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                title: function () {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children(".popover-heading").html();
                }
            });

            $('#divTaDa').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
            $('#divTransport').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
            $('#divOther').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        });



        function CreateTaDa(empid) {
            $('#btntadasave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#hidEmployee').val(empid);
            $('#divTaDa').modal('show');
        }

        function CreateTransportCost() {
            $('#divTransport').modal('show');
        }
        function CreateOtherCost() {
            $('#divOther').modal('show');
        }
        
    </script>
}
