﻿@using ONSJobTracker.Models
@model WorkUpdate

@{
    ViewBag.Title = "Project Work Status Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("CreateDailyWorkUpdate", "Planning", FormMethod.Post, new { id = "SaveDailyWorkUpdate", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.PlanningMasterFk, new { Value = "", id = "hidPlanId" })
    @Html.HiddenFor(model => model.SiteName, new { Value = "", id = "hidSiteName" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Daily Work Update
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">DailyWorkUpdateIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Daily Work Update</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Work Info</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ProjectFk) &nbsp;<i class="ion-star"></i>
                                                            @Html.DropDownListFor(model => model.ProjectFk, ViewBag.project as SelectList,
                                                                "---Select Project---", new {id = "ddlProjectFk", @class = "form-control select2", style = "width:100%"})
                                                            @Html.ValidationMessageFor(model => model.ProjectFk, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.PoFk) &nbsp;<i class="ion-star"></i>
                                                            @Html.DropDownListFor(model => model.PoFk, new SelectList(string.Empty, "Value", "Text"),
                                                                "---Select PO---", new { id = "ddlPoFk", @class = "form-control select2", style = "width:100%" })
                                                            @Html.ValidationMessageFor(model => model.PlanningMasterFk, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.SiteFk) &nbsp;<i class="ion-star"></i>
                                                            @Html.DropDownListFor(model => model.SiteFk, new SelectList(string.Empty, "Value", "Text"),
                                                                "---Select Site---", new {id = "ddlSiteFk", @class = "form-control select2", style = "width:100%"})
                                                            @Html.ValidationMessageFor(model => model.SiteFk, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.WorkStatusFk) &nbsp;<i class="ion-star"></i>
                                                            @Html.DropDownListFor(model => model.WorkStatusFk, ViewBag.allworkstatus as SelectList,
                                                                "---Select Work Status---", new {id = "ddlWorkStatusFk", @class = "form-control select2", style = "width:100%"})
                                                            @Html.ValidationMessageFor(model => model.WorkStatusFk, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Problem)
                                                            @Html.TextAreaFor(model => model.Problem, new { id = "txtProblem", placeholder = "Problem", @class = "form-control", cols = "5", rows = "4", style = "width:100%;" })
                                                            @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Resolve)
                                                            @Html.TextAreaFor(model => model.Resolve, new { id = "txtResolve", placeholder = "Resolve", @class = "form-control", cols = "5", rows = "4", style = "width:100%;" })
                                                            @Html.ValidationMessageFor(model => model.Resolve, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Remarks)
                                                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", cols = "5", rows = "4", style = "width:100%;" })
                                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Vehicle Info</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CarRegNo)
                                                @Html.TextBoxFor(model => model.CarRegNo, new { id = "txtCarRegNo", placeholder = "Car Reg. No.", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.CarRegNo, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Drivername)
                                                @Html.TextBoxFor(model => model.Drivername, new { id = "txtDrivername", placeholder = "Driver Name", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.Drivername, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DriverContact)
                                                @Html.TextBoxFor(model => model.DriverContact, new { id = "txtDriverContact", placeholder = "Driver Contact", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.DriverContact, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.StartMileage)
                                                @Html.TextBoxFor(model => model.StartMileage, new { id = "txtRemarks", placeholder = "Start Mileage", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.StartMileage, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EndMileage)
                                                @Html.TextBoxFor(model => model.EndMileage, new { id = "txtEndMileage", placeholder = "End Mileage", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.EndMileage, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Work Schedule & Location</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Date) &nbsp;<i class="ion-star"></i>
                                                @*<input type="text" value="@DateTime.Now.ToString("d")" class="form-control">*@
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @* @Html.EditorFor(model => model.Date, new { htmlAttributes = new { id = "txtDate", @class = "datepicker form-control pull-right" } })*@
                                                    @Html.TextBoxFor(model => model.Date, "{0:yyyy/MM/dd}", new { id = "txtDate", placeholder = "Date", @class = "form-control pull-right datepicker" })
                                                </div>

                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="bootstrap-timepicker">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.StartTime)&nbsp;<i class="ion-star"></i>
                                                    <div class="input-group">
                                                        @*<input type="text" class="form-control timepicker">*@
                                                        @Html.TextBoxFor(model => model.StartTime, new { id = "txtStartTime", placeholder = "Driver Contact", @class = "form-control timepicker", style = "width:100%;" })
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                    </div>

                                                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="bootstrap-timepicker">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EndTime)&nbsp;<i class="ion-star"></i>
                                                    <div class="input-group">
                                                        @*<input type="text" class="form-control timepicker">*@
                                                        @Html.TextBoxFor(model => model.EndTime, new { id = "txtEndTime", placeholder = "Driver Contact", @class = "form-control timepicker", style = "width:100%;" })
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                    </div>

                                                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Location)&nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Location, new { id = "txtLocation", placeholder = "Location", @class = "form-control", style = "width:100%;" })
                                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="text-center">
                                                <label class="btn btn-default">
                                                    <strong>Log/ Data Upload</strong> <input name="logFile" type="file" hidden>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div style="text-align: center">
                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
}


@section ScriptFile
{
    <script type="text/javascript">

        $(document).ready(function () {
            var dropdownids =@Html.Raw(ViewBag.DropdownId)
                $('#ddlProjectFk').val('' + dropdownids.ProjectId + '').trigger('change');
            console.log(dropdownids);
            $('#ddlPoFk').val('' + dropdownids.PoMasterId + '').trigger('change');
            $('#ddlSiteFk').val('' + dropdownids.PoDetailsId + '').trigger('change');
        });
        $('#ddlProjectFk').on("change",
            function(e) {
                if ($('#ddlProjectFk').val() !== "---Select Project---") {
                    $("#ddlPoFk").empty();
                    $("#ddlSiteFk").empty();

                    $.ajax({
                        type: "get",
                        url: "@Url.Action("GetPoByProjectIdOfAssignedEmployee", "Helper")",
                        data: { pid: $('#ddlProjectFk').val() },
                        datatype: "json",
                        traditional: true,
                        async: false,
                        success: function (data) {
                            $("#ddlPoFk").append("<option value='0'>---Select PO---</option>");
                            $("#ddlSiteFk").append("<option value='0'>---Select Site---</option>");
                            $.each(data,
                                function(index, row) {
                                    $("#ddlPoFk")
                                        .append("<option value='" + row.value + "'>" + row.text + "</option>");
                                });
                        }
                    });
                }
            });

        $('#ddlPoFk').on("change",
            function(e) {
                if ($('#ddlPoFk').val() !== "---Select Site---") {
                    $("#ddlSiteFk").empty();

                    $.ajax({
                        type: "get",
                        url: "@Url.Action("GetSitePoIdOfAssignedEmployee", "Helper")",
                        data: { poid: $('#ddlPoFk').val() },
                        datatype: "json",
                        traditional: true,
                        async: false,
                        success: function (data) {
                            $("#ddlSiteFk").append("<option value='0'>---Select Site---</option>");
                            $.each(data,
                                function(index, row) {
                                    $("#ddlSiteFk")
                                        .append("<option value='" + row.value + "'>" + row.text + "</option>");
                                });
                        }
                    });
                }
            });


            @*$("#ddlPoFk").change(function () {

                $("#ddlSiteFk").empty();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSitePoIdOfAssignedEmployee", "Helper")",
                    datatype: "Json",
                    data: { poid: $("#ddlPoFk").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Site</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.Id + '">'
                                + value.Name + '</option>');
                        });
                        $("#ddlSiteFk").html(items);
                    }
                });
            });*@

            $("#ddlSiteFk").change(function () {
                var name = ($("#ddlSiteFk option:selected").text());
                $("#hidSiteName").val(name);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLastPlanId", "Helper")',
                    datatype: "Json",
                    async: false,
                    data: { sitefk: $("#ddlSiteFk").val() },
                    success: function (data) {
                        $('#hidPlanId').val(data.Id);
                    }
                });
            });

    </script>
}


