﻿@model IEnumerable<ONSJobTracker.ViewModels.Work_Plan.WorkUpdateViewModel>
@{
    ViewBag.Title = "WorkUpdateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Work Updates
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"> Work Updates List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Work Updates List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Date</th>
                                        <th style="text-align: center">Project Name</th>
                                        <th style="text-align: center">PO NO</th>
                                        <th style="text-align: center">Site Name</th>
                                        <th style="text-align: center">Start Time</th>
                                        <th style="text-align: center">End Time</th>
                                        <th style="text-align: center">Work Status</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            foreach (var data in Model)
                                            {
                                                <tr>
                                                   
                                                   <td style="text-align: center">@data.Date.ToString("dd MMM yy")</td>
                                                   <td style="text-align: center">@data.Project</td>
                                                   <td style="text-align: center">@data.PoNo</td>
                                                   <td style="text-align: center">@data.Site</td>
                                                   <td style="text-align: center">@data.StartTime</td>
                                                    <td style="text-align: center">@data.EndTime</td>
                                                   
                                                
                                                    <td style="text-align: center">

                                                        @{
                                                            if (data.WorkStatusId == 1)
                                                            {
                                                                <span class="label label-default">@data.WorkStatus</span>
                                                            }
                                                            else if (data.WorkStatusId == 2)
                                                            {
                                                                <span class="label label-info">@data.WorkStatus</span>
                                                            }
                                                            else if (data.WorkStatusId == 5)
                                                            {
                                                                <span class="label label-warning">@data.WorkStatus</span>
                                                            }
                                                            else if (data.WorkStatusId == 7)
                                                            {
                                                                <span class="label label-danger">@data.WorkStatus</span>
                                                            }
                                                            else if (data.WorkStatusId == 6)
                                                            {
                                                                <span class="label label-success">@data.WorkStatus</span>
                                                            }
                                                        }

                                                    </td>
                                                
                                                
                                                    
                                                    <td style="text-align: center; cursor: pointer; vertical-align: middle">
                                                        <a href="@Url.Action("DailyWorkEngineerIndex", "Planning", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" 
                                                           title="Detail" data-placement="top">
                                                            <i class="fa fa-binoculars" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@data.Id" href="@Url.Action("UpdateDailyWork", "Planning", new RouteValueDictionary(new {workid = data.Id}))" title="Edit"
                                                           data-placement="top">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="@Url.Action("DeleteDailyWork", "Planning", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" class="glyphicon glyphicon-trash no-print"
                                                           data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                           data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Work Deleting"
                                                           data-swal-text="Are you sure to Delete this Work?">
                                                        </a>

                                                    </td>
                                                </tr>
                                                                }
                                                            }


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
