﻿@using ONSJobTracker.CustomizedFunction
@using ONSJobTracker.Models
@model WorkTeamMemberViewModel
@{
    ViewBag.Title = "Work Type Index";
    var tdname = "tdname";
    var tdremarks = "tdremarks";
    var collapse = "collapse";

    var costtitle = "costtitle";
    var costdetails = "costdetails";
    var amount = "amount";
    var employee = "employee";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Team Member
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">DailyWorkEngineer</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- form start -->
    @using (Html.BeginForm("CreateDailyWorkEngineer", "Planning", FormMethod.Post, new { id = "teammember" }))
    {
        @Html.HiddenFor(model => model.WorkTeamMember.Action, new { Value = "Save", id = "hidAction" })
        @Html.HiddenFor(model => model.WorkTeamMember.Id, new { Value = "", id = "hidId" })
        @Html.HiddenFor(model => model.WorkTeamMember.WorkUpdateFk, new { id = "hidWorkUpdateFk" })
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Team Member</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.WorkTeamMember.EmployeeFk) &nbsp;<i class="ion-star"></i>
                            @Html.DropDownListFor(model => model.WorkTeamMember.EmployeeFk, ViewBag.engineer as SelectList,
                        "---Select Engineer---", new { id = "ddlEmployeeFk", @class = "form-control select2", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.WorkTeamMember.EmployeeFk, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.WorkTeamMember.Remarks)
                            @Html.TextAreaFor(model => model.WorkTeamMember.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.WorkTeamMember.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Team Members</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 30%">Name</th>
                                    <th class="hidden">employeefk</th>
                                    <th style="width: 50%">Remarks</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<WorkTeamMemberViewModel> engineers = ViewBag.allengineers as List<WorkTeamMemberViewModel>;
                                    int sl = 0;
                                    if (engineers != null)
                                    {

                                        foreach (var engineer in engineers)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@engineer.WorkTeamMember.Id</td>
                                                <td>@sl</td>
                                                <td>@engineer.EmployeeInfo.Name (@engineer.EmployeeInfo.CId)</td>
                                                <td class="hidden" id="@tdname@engineer.WorkTeamMember.Id">@engineer.EmployeeInfo.Id</td>
                                                <td id="@tdremarks@engineer.WorkTeamMember.Id">@engineer.WorkTeamMember.Remarks</td>
                                                <td style="text-align: center; cursor: pointer">
                                                    <a id="@engineer.WorkTeamMember.Id" onclick=" engineerinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteDailyWorkEngineer", "Planning", new RouteValueDictionary(new {id = engineer.WorkTeamMember.Id}))" id="@engineer.WorkTeamMember.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Engineer Deleting"
                                                       data-swal-text="Are you sure to Delete this engineer?">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                                    }
    @using (Html.BeginForm("CreateDailyWorkEngineerCost", "Planning", FormMethod.Post, new { id = "DailyCost" }))
    {
        @Html.HiddenFor(model => model.DailyCost.Action, new { Value = "Save", id = "hidActions" })
        @Html.HiddenFor(model => model.DailyCost.Id, new { Value = "", id = "hidIds" })
        @Html.HiddenFor(model => model.DailyCost.WorkUpdateFk, new { id = "hidWorkUpdateFks" })
        @Html.HiddenFor(model => model.DailyCost.EmployeeFk, new { id = "hidEmployeeFks" })
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="font-weight: bold">Add Daily Expense</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="accordion">
                        @{
                            string userId = EncryptDecrypt.Decrypt(HttpContext.Current.Request.Cookies["UserInfo"]?["EmployeeId"]);
                            int n = 0;
                            List<WorkTeamMemberViewModel> engiList = ViewBag.allengineers as List<WorkTeamMemberViewModel>;

                            if (engiList != null)
                            {
                                foreach (var eng in engiList)
                                {
                                    var cssclass = "";
                                    if (eng.EmployeeInfo.Id == Convert.ToInt64(userId))
                                    {
                                        cssclass = "in";
                                    }
                                    n += 1;
                                    <div class="panel box box-default">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@collapse@(n)"> </a>
                                                @eng.EmployeeInfo.Name
                                                @{
                                                    if (eng.EmployeeInfo.Id == Convert.ToInt64(userId))
                                                    {
                                                        @:(&nbsp; <a href="#" onclick="PaymentDetails(@eng.EmployeeInfo.Id)" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                                                    }
                                                }
                                            </h4>
                                        </div>
                                        <div id="@collapse@(n)" class="panel-collapse collapse @cssclass">
                                            <div class="box-body">
                                                <table class="table table-striped tablewithsearch ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10%;text-align: center">#</th>
                                                            <th style="width: 15%;text-align: center">Cost Title</th>
                                                            <th style="width: 35%;text-align: center">Details</th>
                                                            <th style="width: 10%;text-align: center">Amount</th>
                                                            <th class="hidden">EmployeeFk</th>
                                                            <th style="width: 10%;text-align: center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int num = 0;
                                                            foreach (var cost in eng.DailyCostList.Where(x => x.EmployeeFk == eng.EmployeeInfo.Id))
                                                            {
                                                                
                                                                   num += 1;
                                                                <tr>
                                                                    <td style="font-weight: bold;text-align: center">@num</td>
                                                                    <td id="@costtitle@cost.Id" style="text-align: left">@cost.CostTitle</td>
                                                                    <td id="@costdetails@cost.Id" style="text-align: left">@cost.CostDetails</td>
                                                                    <td id="@amount@cost.Id" style="text-align: right">@cost.Amount</td>
                                                                    <td id="@employee@cost.Id" class="hidden">@cost.EmployeeFk</td>

                                                                    <td style="cursor: pointer;text-align: center">
                                                                        <a id="@cost.Id" onclick=" dilaycostinfo(this);" title="Edit"
                                                                           data-placement="top">
                                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                        </a>
                                                                        
                                                                        <a href="@Url.Action("DeleteDailyWorkEngineerCost", "Planning", new RouteValueDictionary(new {id = cost.Id}))" id="@cost.Id" class="glyphicon glyphicon-trash no-print"
                                                                           data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                                           data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Expense Deleting"
                                                                           data-swal-text="Are you sure to delete this expense?">
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                                                }
                                                            }
                        }
                        <!-- /.modal -->

                        <div class="modal fade" id="divCreatePaymentDetails">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Payment Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DailyCost.CostTitle) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.DailyCost.CostTitle, new { id = "txtCostTitle", placeholder = "Cost Title", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.DailyCost.CostTitle, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DailyCost.CostDetails)
                                                    @Html.TextAreaFor(model => model.DailyCost.CostDetails, new { id = "txtCostDetails", placeholder = "Cost Details", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.DailyCost.CostDetails, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DailyCost.Amount)
                                                    @Html.TextAreaFor(model => model.DailyCost.Amount, new { Value = "0", id = "txtAmount", placeholder = "Amount", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.DailyCost.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnresest' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnsaves" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
                                                            }
</section>


@section ScriptFile {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#accordion h4").click(false);
            $('.modal').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        });

        function engineerinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlEmployeeFk').val($('#tdname' + r).text().trim()).trigger('change');
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function (e) {
                e.preventDefault();
                var act = $('#hidAction').val();
                if (act === "Update") {
                    $('#hidAction').val("Save");
                    $('#hidId').val('');
                    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                    $('#ddlEmployeeFk').val("").trigger('change');;
                    $('#txtRemarks').val("");
                }
            });

        function PaymentDetails(empid) {
            $('#divCreatePaymentDetails').modal('show');
            $('#hidEmployeeFks').val(empid);
        }

        function dilaycostinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
               
                $('#hidIds').val(r);
                $('#hidActions').val('Update');
                $('#btnsaves').html("<i class='fa fa-edit'></i>&nbsp;Update");


                $('#txtCostTitle').val($('#costtitle' + r).text().trim());
                $('#txtCostDetails').val($('#costdetails' + r).text().trim());
                $('#txtAmount').val($('#amount' + r).text().trim());
                $('#hidEmployeeFks').val($('#employee' + r).text().trim());

                $('#divCreatePaymentDetails').modal('show');
            }
        }
    </script>

}