﻿@using ONSJobTracker.Models
@using ONSJobTracker.ViewModels.Work_Plan
@model Transport
@{
    ViewBag.Title = "Transport Plan Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var tdplanname = "tdplanname";
    var tdplanid = "tdplanid";
    var tdcid = "tdcid";
    var tdcarinfo = "tdcarinfo";
    var tdfuel = "tdfuel";
    var tdestimatedkm = "tdestimatedkm";
    var tdduration = "tdduration";
    var tdcost = "tdcost";
}
<!-- form start -->
@using (Html.BeginForm("CreateTransportPlan", "Planning", FormMethod.Post, new { id = "frmTransportPlan" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Menu
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">TransportPlanIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Transport Plan</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-3">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanningMasterFk) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.PlanningMasterFk, ViewBag.allplan as SelectList,
                                    "---Select Plan---", new {id = "ddlPlanningMasterFk", @class = "form-control select2", style = "width:100%"})
                                @Html.ValidationMessageFor(model => model.PlanningMasterFk, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TransportCid) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.TransportCid, new { id = "txtTransportCid", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TransportCid, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EstimatedDuration) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.EstimatedDuration, new { Value=0,id = "txtEstimatedDuration", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedDuration, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CarInfo) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.CarInfo, ViewBag.allcartype as SelectList,
                                    "---Select Car Type---", new { id = "ddlCarInfo", @class = "form-control select2", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.CarInfo, "", new { @class = "text-danger" })
                            </div>
                            <div id="divOwnCar" style="display: none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FuelType) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.FuelType, ViewBag.allfueltype as SelectList,
                                        "---Select Fuel Type---", new {id = "ddlFuelType", @class = "form-control select2", style = "width:100%"})
                                    @Html.ValidationMessageFor(model => model.FuelType, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EstimatedKm) &nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.EstimatedKm, new { Value=0,id = "txtEstimatedKm", placeholder = "Transport Reference", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EstimatedKm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="divRentalCar" style="display: none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DailyCost) &nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.DailyCost, new { Value = 0.00, id = "txtDailyCost", placeholder = "Daily Cost", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DailyCost, "", new { @class = "text-danger" })
                                </div></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TotalCarCost) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.TotalCarCost, new { Value=0,id = "txtTotalCarCost", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TotalCarCost, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">View transport Plan</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="tablewithsearch" class="table table-striped table-condensed table-bordered f11">
                                        <thead>
                                            <tr>
                                                <th class="hidden">Id</th>
                                                <th style="width: 5%">#</th>
                                                <th style="width: 20%">Transport Ref.</th>
                                                <th style="width: 20%">Plan Ref.</th>
                                                <th class="hidden">PlaId</th>
                                                <th style="width: 10%">Duration</th>
                                                <th style="width: 10%">Car Info</th>
                                                <th class="hidden">CarInfoId</th>
                                                <th style="width: 10%">Fuel Type</th>
                                                <th class="hidden">FuelId</th>
                                                <th style="width: 10%">Est. KM</th>                                             
                                                <th style="width: 10%">Total Cost</th>
                                                <th style="width: 5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                List<TransportPlanViewModel> plans = ViewBag.alltransportplan as List<TransportPlanViewModel>;
                                                int sl = 0;
                                                if (plans != null)
                                                {

                                                    foreach (var plan in plans)
                                                    {
                                                        sl += 1;
                                                        <tr>
                                                            <td class="hidden">@plan.Id</td>
                                                            <td>@sl</td>
                                                            <td id="@tdcid@plan.Id">@plan.TransportCid</td>
                                                            <td id="@tdplanname@plan.Id">@plan.PlanMaster</td>
                                                            <td class="hidden" id="@tdplanid@plan.Id">@plan.PlanMasterFk</td>
                                                            <td id="@tdduration@plan.Id">@plan.EstimatedDuration</td>
                                                            @{
                                                                string carinfo = "";
                                                                
                                                                if (plan.CarInfo==1)
                                                                {
                                                                    carinfo = "Own Car";
                                                                }
                                                                if (plan.CarInfo==2)
                                                                {
                                                                    carinfo = "Daily Basis";

                                                                }

                                                            }
                                                            @{
                                                                string fueltype = "";
                                                                if (plan.FuelType == "1")
                                                                {
                                                                    fueltype = "Gas";
                                                                }
                                                                else  if (plan.FuelType == "2")
                                                                {
                                                                    fueltype = "Oil";
                                                                }
                                                                else  if (plan.FuelType == "3")
                                                                {
                                                                    fueltype = "Gas+Oil";
                                                                }
                                                                else
                                                                {
                                                                    fueltype = "N/A";
                                                                }
                                                            }
                                                            <td>@carinfo</td>
                                                            <td class="hidden" id="@tdcarinfo@plan.Id">@plan.CarInfo</td>
                                                            <td >@fueltype</td>
                                                            <td class="hidden" id="@tdfuel@plan.Id">@plan.FuelType</td>
                                                            <td id="@tdestimatedkm@plan.Id">@plan.EstimatedKm</td>
                                                            <td id="@tdcost@plan.Id">@plan.TotalCarCost</td>
                                                            <td style="text-align: center;cursor: pointer">
                                                                <a id="@plan.Id" onclick=" transporinfo(this);" title="Edit"
                                                                   data-placement="top">
                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                </a>
                                                                <a href="@Url.Action("DeleteTransportPlan", "Planning", new RouteValueDictionary(new {id = plan.Id}))" id="@plan.Id" class="glyphicon glyphicon-trash no-print"
                                                                   data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                                   data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Transport Plan Deleting"
                                                                   data-swal-text="Are you sure to Delete this Transport Plan?">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">
        var total = 0;
        $('#ddlCarInfo').on("change",
            function (e) {
                $('#txtTotalCarCost').val(0);
                var a=  $('#ddlCarInfo').val();
                if (a === "1") {
                    $("#divOwnCar").show();
                    $("#divRentalCar").hide();
                } else if(a==="2") {
                    $("#divOwnCar").hide();
                    $("#divRentalCar").show();
                }
                
            });
        $('#txtDailyCost').on('input', function() {
            var dailycost = $('#txtDailyCost').val();
            var duration = $('#txtEstimatedDuration').val();
            total = dailycost * duration;
            $('#txtTotalCarCost').val(total);            
        });

        $('#txtEstimatedDuration').on('input', function() {
            var dailycost = $('#txtDailyCost').val();
            var duration = $('#txtEstimatedDuration').val();
            total = dailycost * duration;
            $('#txtTotalCarCost').val(total);            
        });
        function transporinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtTransportCid').val($('#tdcid' + r).text().trim());
                //.trigger('change');      

                $('#ddlCarInfo').val($('#tdcarinfo' + r).text().trim()).trigger('change');
                $('#ddlFuelType').val($('#tdfuel' + r).text().trim()).trigger('change');
                if ($('#tdfuel' + r).text().trim() === "0") {
                    $("#divOwnCar").hide();
                } else {
                    $("#divOwnCar").show();
                }
               
                $('#ddlPlanningMasterFk').val($('#tdplanid' + r).text().trim()).trigger('change');
                $('#txtEstimatedDuration').val($('#tdduration' + r).text().trim());
                $('#txtEstimatedKm').val($('#tdestimatedkm' + r).text().trim());
                $('#txtTotalCarCost').val($('#tdcost' + r).text().trim());
            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtTransportCid').val("");
                $('#txtEstimatedDuration').val("");
                $('#txtEstimatedKm').val("");
                $('#txtTotalCarCost').val("");
                $('#ddlCarInfo').val("").trigger('change');
                $('#ddlFuelType').val("").trigger('change');
                $('#ddlPlanningMasterFk').val("").trigger('change');
            } else {

            }
        });
    </script>
}
