﻿@model ONSJobTracker.Models.Transport
@{
    ViewBag.Title = "TransportPlanEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form start -->
@using (Html.BeginForm("TransportPlanEdit", "Planning", FormMethod.Post, new { id = "frmTransportPlan" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.InsertBy)
    @Html.HiddenFor(model => model.InsertDate)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Menu
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">TransportPlanIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Transport Plan</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-4"> </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanningMasterFk) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.PlanningMasterFk, ViewBag.allplan as SelectList,
                                    "---Select Plan---", new { id = "ddlPlanningMasterFk", @class = "form-control select2", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.PlanningMasterFk, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TransportCid) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.TransportCid, new { id = "txtTransportCid", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TransportCid, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EstimatedDuration) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.EstimatedDuration, new { Value = 0, id = "txtEstimatedDuration", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedDuration, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CarInfo) &nbsp;<i class="ion-star"></i>
                                @Html.DropDownListFor(model => model.CarInfo, ViewBag.allcartype as SelectList,
                                    "---Select Car Type---", new { id = "ddlCarInfo", @class = "form-control select2", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.CarInfo, "", new { @class = "text-danger" })
                            </div>
                            <div id="divOwnCar" style="display: none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FuelType) &nbsp;<i class="ion-star"></i>
                                    @Html.DropDownListFor(model => model.FuelType, ViewBag.allfueltype as SelectList,
                                        "---Select Fuel Type---", new { id = "ddlFuelType", @class = "form-control select2", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.FuelType, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EstimatedKm) &nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.EstimatedKm, new { Value = 0, id = "txtEstimatedKm", placeholder = "Transport Reference", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EstimatedKm, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TotalCarCost) &nbsp;<i class="ion-star"></i>
                                @Html.TextBoxFor(model => model.TotalCarCost, new { Value = 0, id = "txtTotalCarCost", placeholder = "Transport Reference", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TotalCarCost, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                            </div>
                        </div>
                        <div class="col-md-4"> </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}


@section ScriptFile
{
    <script type="text/javascript">
        $('#ddlCarInfo').on("change",
            function (e) {
              var a=  $('#ddlCarInfo').val();
                if (a === "1") {
                    $("#divOwnCar").show();
                } else {
                    $("#divOwnCar").hide();
                }

            });
        $("#ddlCarInfo").trigger("change");
    </script>
}
