﻿@model ONSJobTracker.ViewModels.Work_Plan.WorkStatusDetails
@using ONSJobTracker.CustomizedFunction
@{
    ViewBag.Title = "ViewWorkStatusesInDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>
<section class="content-header">
    <h1>
        Work Details
        <small>Status</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Work Details Status</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Details Status</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">PO Description</h3>
                                    <h3 id="hPlanReference" style="font-weight: bold" class="box-title pull-right"></h3>

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">PO Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    <table style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 10%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="font-weight: bold">Project Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdponumber">
                                                    @{
                                                        foreach (var project in Model.ApprovalMaster.GroupBy(x => x.Projectname))
                                                        {
                                                            <span>@project.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">PO Number</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdpocid">
                                                    @{
                                                        foreach (var po in Model.ApprovalMaster.GroupBy(x => x.PoNo))
                                                        {
                                                            <span>@po.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdclient">
                                                    @{
                                                        foreach (var client in Model.ApprovalMaster.GroupBy(x => x.ClientName))
                                                        {
                                                            <span>@client.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">End Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdendclient">
                                                    @{
                                                        foreach (var endclient in Model.ApprovalMaster.GroupBy(x => x.EndClientName))
                                                        {
                                                            <span>@endclient.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">Site/Cluster Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    @{
                                        foreach (var site in Model.PoDetailsView)
                                        {
                                            <table style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 10%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-weight: bold">Site ID</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteID">@site.SiteId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Work Type</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdWorkType">@site.WorkType</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Site Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteName">@site.SiteName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Region</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdRegion">@site.Region</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Id</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterId">@site.ClusterId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Address</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdAddress">@site.Address</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterName">@site.ClusterName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">District</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdDistrict">@site.District</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Option</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdOption" colspan="7">@site.Option</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br />
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /Tabs -->
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-12">
                            <div class="box-header with-border">
                                <i class="fa fa-star-o"></i>

                                <h3 class="box-title">Work Details</h3>
                                <h3 id="hPlanReference" style="font-weight: bold" class="box-title pull-right"></h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Custom Tabs -->
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab_1" data-toggle="tab">Field Work Details</a></li>
                                                <li><a href="#tab_2" data-toggle="tab">Report Details</a></li>

                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="box box-solid">
                                                                <div class="box-header with-border">
                                                                    <h3 class="box-title">Work Status By Daily Basis</h3>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body">
                                                                    <div class="row">
                                                                        <div class="box-group" id="accordion">
                                                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                                                            @{
                                                                                foreach (var data in Model.WorkUpdates)
                                                                                {
                                                                                    <div class="panel box box-primary">
                                                                                        <div class="box-header with-border">
                                                                                            <h4 class="box-title">
                                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@data.Id">
                                                                                                    @data.Date.ToString("dd MMM yyyy") (@data.Location)
                                                                                                </a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div id="collapse_@data.Id" class="panel-collapse collapse">
                                                                                            <div class="box-body">
                                                                                                <table style="width: 100%">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th style="width: 10%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 19%"></th>

                                                                                                            <th style="width: 8%"></th>

                                                                                                            <th style="width: 10%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 19%"></th>

                                                                                                            <th style="width: 8%"></th>

                                                                                                            <th style="width: 10%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 19%"></th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr class="spaceUnder">
                                                                                                            <td style="font-weight:bold">Work Status</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@data.WorkStatus</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Start Time</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@data.StartTime</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">End Time</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@data.EndTime</td>
                                                                                                        </tr>
                                                                                                        <tr class="spaceUnder" style="margin-top:5px;">
                                                                                                            <td style="font-weight:bold">Problem</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.Problem</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Resolves</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.Resolve</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Remarks</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.Remarks</td>
                                                                                                        </tr>

                                                                                                        <tr style="margin-top:5px;">
                                                                                                            <td style="font-weight:bold">Car No</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.CarRegNo</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Driver Name</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.DriverName</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Driver Contact No</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.DriverContact</td>
                                                                                                        </tr>
                                                                                                        <tr class="spaceUnder" style="margin-top:5px;">
                                                                                                            <td style="font-weight:bold">Start Milage</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.StartMilage</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">End Milage</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center">@data.EndMilage</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Date</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="text-align:center;font-weight:bold">@data.Date.ToString("dd MMM yy")</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                
                                                                                                <br />
                                                                                                <h3>Expense Claims</h3>
                                                                                                @{
                                                                                                    foreach (var dailycost in data.DailyExpense)
                                                                                                    {
                                                                                                        var serial = 1;
                                                                                                        decimal total = 0;
                                                                                                        <div class="box box-solid">
                                                                                                            <div class="box-header with-border">
                                                                                                                <h3 class="box-title">@dailycost.EmployeeInfo.Name (@dailycost.EmployeeInfo.CId)</h3>
                                                                                                            </div>
                                                                                                            <!-- /.box-header -->
                                                                                                            <div class="box-body">
                                                                                                                <div class="row">
                                                                                                                    <table style="width:100%">
                                                                                                                        <thead>
                                                                                                                            <tr>
                                                                                                                                <th style="width:10%; text-align:center">#</th>
                                                                                                                                <th style="width:30%;">Expense Title</th>
                                                                                                                                <th style="width:40%;">Description</th>
                                                                                                                                <th style="width:20%;text-align:center">Amount</th>
                                                                                                                            </tr>
                                                                                                                        </thead>
                                                                                                                        <tbody>
                                                                                                                            @foreach (var costdetails in dailycost.DailyCostList)
                                                                                                                            {
                                                                                                                                <tr>
                                                                                                                                    <td style="text-align:center">@serial</td>
                                                                                                                                    <td>@costdetails.CostTitle</td>
                                                                                                                                    <td>@costdetails.CostDetails</td>
                                                                                                                                    <td style="text-align:right">@costdetails.Amount</td>
                                                                                                                                </tr>
                                                                                                                                serial++;
                                                                                                                                total += costdetails.Amount;
                                                                                                                            }
                                                                                                                        </tbody>
                                                                                                                        <tfoot>
                                                                                                                            <tr style="font-weight:bold">
                                                                                                                                <td colspan="3" style="text-align:right">Total: </td>
                                                                                                                                <td style="text-align:right">@total</td>
                                                                                                                            </tr>
                                                                                                                        </tfoot>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                }

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <h3 style="border-bottom: 1px solid gray;text-align:center">Log Files</h3>
                                                                        <br />
                                                                        <table style="width:100%;margin-left:10px">

                                                                            <tr class="spaceUnder">
                                                                                @foreach (var logs in Model.WorkUpdates)
                                                                                {
                                                                                    if (!string.IsNullOrEmpty(logs.FileLocation))
                                                                                    {
                                                                                        <td>
                                                                                            <a class="fa fa-file fa-5x" href="@FileLocation.LogFile@logs.FileLocation" target="_blank" download></a>
                                                                                            <div style="max-width:100px">@logs.FileLocation</div>
                                                                                        </td>
                                                                                    }

                                                                                }
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-body -->
                                                            </div>
                                                            <!-- /.box -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_2">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="box box-solid">
                                                                <div class="box-header with-border">
                                                                    <h3 class="box-title">Work Status By Daily Basis</h3>
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body">
                                                                    <div class="row">
                                                                        <div class="box-group" id="accordion">
                                                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                                                            @{
                                                                                foreach (var report in Model.ReportStatus)
                                                                                {
                                                                                    string reassingstatus = "";
                                                                                    if (report.IsReportReassign)
                                                                                    {
                                                                                        reassingstatus = "(R)";
                                                                                    }

                                                                                    <div class="panel box box-success">
                                                                                        <div class="box-header with-border">
                                                                                            <h4 class="box-title">
                                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapses_@report.Id">
                                                                                                    @report.DeliveredDate.ToString("dd MMM yyyy") @reassingstatus
                                                                                                </a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div id="collapses_@report.Id" class="panel-collapse collapse">
                                                                                            <div class="box-body">
                                                                                                <table style="width: 100%">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th style="width: 15%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 10%"></th>

                                                                                                            <th style="width: 20%"></th>

                                                                                                            <th style="width: 15%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 10%"></th>

                                                                                                            <th style="width: 5%"></th>

                                                                                                            <th style="width: 10%"></th>
                                                                                                            <th style="width: 1%"></th>
                                                                                                            <th style="width: 10%"></th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr class="spaceUnder">
                                                                                                            <td style="font-weight:bold">Work Status</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@report.WorkStatus</td>
                                                                                                            <td></td>

                                                                                                            <td style="font-weight:bold">Report Status</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@report.ReportStatus</td>
                                                                                                            <td></td>
                                                                                                            <td style="font-weight:bold">Completed Date</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            @if (report.CompletedDate.Year == 1900)
                                                                                                            {
                                                                                                                <td></td>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <td style="font-weight:bold; text-align:center">@report.CompletedDate.ToString("MMM dd yyyy")</td>
                                                                                                            }

                                                                                                        </tr>
                                                                                                        <tr class="spaceUnder">
                                                                                                            <td style="font-weight:bold">Delivery Date</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td style="font-weight:bold; text-align:center">@report.DeliveredDate.ToString("MMM dd yyyy")</td>
                                                                                                            <td></td>

                                                                                                            <td style="font-weight:bold">Remarks</td>
                                                                                                            <td style="font-weight:bold; text-align:center">:</td>
                                                                                                            <td colspan="5" style="font-weight:bold;">@report.Remarks</td>
                                                                                                            

                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <h3 style="border-bottom: 1px solid gray;text-align:center">Report Files</h3>
                                                                        <br />
                                                                        <table style="width:100%;margin-left:10px">

                                                                            <tr class="spaceUnder">
                                                                                @foreach (var file in Model.ReportStatus)
                                                                                {
                                                                                    if (!string.IsNullOrEmpty(file.ReportFile))
                                                                                    {
                                                                                        <td>
                                                                                            <a class="fa fa-file fa-5x" href="@FileLocation.LogFile@file.ReportFile" target="_blank" download></a>
                                                                                            <div style="max-width:100px">@file.ReportFile</div>
                                                                                        </td>
                                                                                    }

                                                                                }
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- /.box-body -->
                                                            </div>
                                                            <!-- /.box -->
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <!-- /.tab-content -->
                                        </div>
                                        <!-- nav-tabs-custom -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

