﻿@model IEnumerable<ONSJobTracker.Models.PlanningMaster>
@{
    ViewBag.Title = "WorkPlanListForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Plans
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Plan List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Work Plan List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="hidden">ID</th>

                                    <th style="text-align: center">Plan Reference</th>
                                    <th style="text-align: center">Work Status</th>
                                    <th style="text-align: center">Admin Status</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var sl = 1;
                                            foreach (var data in Model)
                                            {
                                    <tr>
                                        <td>@sl</td>
                                        <td class="hidden">@data.Id</td>

                                        <td style="font-weight:bold">@data.PlanReference</td>

                                        <td class="text-center">
                                            @if (data.Status)
                                            {
                                                <label class="btn btn-success btn-xs">Active</label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-danger btn-xs">Hold</label>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (data.AdminApproval)
                                            {
                                                <label class="btn btn-success btn-xs">Approved</label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-danger btn-xs">Not Approved</label>
                                            }
                                        </td>
                                        @*<td class="text-center">
            @if (data.AccountsApproval)
            {
                <span class="label-success">Approved</span>
            }
            else
            {
                <span class="label-danger">Not Approved</span>
            }
        </td>*@
                                        <td style="text-align: center; cursor: pointer; vertical-align: middle">
                                            @{
                                                if (data.AdminApproval == false)
                                                {
                                                    if (data.Status)
                                                    {
                                                        <a style="color:red" href="@Url.Action("HoldWorkPlan", "Planning", new RouteValueDictionary(new {planid = data.Id,status=false}))" id="@data.Id" class="fa fa-times no-print"
                                                           data-tooltip="tooltip" title="Hold" data-placement="top" data-delconfirm="true"
                                                           data-swal-confirm-button-text="Yes, Hold It!" data-swal-title="Plan Holding"
                                                           data-swal-text="Are you sure to hold this work plan?">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="color:green" href="@Url.Action("HoldWorkPlan", "Planning", new RouteValueDictionary(new {planid = data.Id,status=true}))" id="@data.Id" class="fa fa-check no-print"
                                                           data-tooltip="tooltip" title="Hold" data-placement="top" data-delconfirm="true"
                                                           data-swal-confirm-button-text="Yes, Un-Hold It!" data-swal-title="Plan Un-Holding"
                                                           data-swal-text="Are you sure to Un-hold this work plan?">
                                                        </a>
                                                    }

                                                }


                                                <a target="_blank" href="@Url.Action("WorkPlanViewForApproval", "Planning", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id"
                                                   title="Detail" data-placement="top">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                                sl += 1;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
