﻿@model IEnumerable<ONSJobTracker.ViewModels.Work_Plan.WorkStatusViewModel>
@{
    /**/

    ViewBag.Title = "WorkStatusView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prefix = "-";
}

<style>
    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }

    .btn {
        border: 1px solid black;
        border-radius: 3px;
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 1px 12px;
        font-size: 10px;
        cursor: pointer;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

        .success:hover {
            background-color: #4CAF50;
            color: white;
        }

    /* Blue */
    .info {
        border-color: #2196F3;
        color: dodgerblue
    }

        .info:hover {
            background: #2196F3;
            color: white;
        }

    /* Orange */
    .warning {
        border-color: #ff9800;
        color: orange;
    }

        .warning:hover {
            background: #ff9800;
            color: white;
        }

    /* Red */
    .danger {
        border-color: #f44336;
        color: red
    }

        .danger:hover {
            background: #f44336;
            color: white;
        }

    /* Gray */
    .default {
        border-color: #e7e7e7;
        color: black;
    }

        .default:hover {
            background: #e7e7e7;
        }
</style>
<section class="content-header">
    <h1>
        Plans
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Approved Work</li>
    </ol>
</section>


@{
    var designation = HttpContext.Current.Request.Cookies["UserInfo"]?["UserDesignationId"];
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Assigned Work List</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="test" class="table table-bordered table-striped">
                                <thead>
                                    <tr>

                                        <th style="width:4%">#</th>
                                        <th style="text-align: center;width:20%">Reference</th>
                                        <th style="text-align: center;width:14%">Project</th>
                                        <th style="text-align: center;width:15%">PO</th>
                                        <th style="text-align: center;width:15%">Site/Task</th>
                                        @if (designation != "5" && designation != "8" && designation != "9")
                                        {
                                            <th style="text-align: center;width:8%">Work Type</th>
                                        }
                                        <th style="text-align: center;width:8%">Work Status</th>
                                        <th style="text-align: center;width:8%">Report Status</th>
                                        <th style="text-align: center;width:8%">Project Status</th>
                                        <th style="text-align: center;width:5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var sl = 1;
                                            foreach (var data in Model)
                                            {
                                                <tr>
                                                    <td>@sl</td>
                                                    <td>@data.PlanmasterName</td>
                                                    <td style="vertical-align:middle">@data.ProjectName</td>
                                                    <td style="vertical-align:middle">@data.PO</td>
                                                    <td style="vertical-align:middle">@data.SiteName</td>
                                                    @if (designation != "5" && designation != "8" && designation != "9")
                                                    {
                                                        var type = "";
                                                        if (data.Type == 1)
                                                        {
                                                            type = "Field";
                                                            <td style="text-align:center;vertical-align:middle">
                                                                <a href="@Url.Action("DailyWorkUpdateIndex","Planning",new { planid=data.PlanningMasterId,siteid=data.SiteId})" target="_blank" class="btn btn-success">@type</a>
                                                            </td>
                                                        }
                                                        if (data.Type == 2)
                                                        {
                                                            type = "Report";
                                                            <td style="text-align:center;vertical-align:middle">
                                                                <a href="@Url.Action("ReportEngineerWorkStatusIndex","Status",new { planid=data.PlanningMasterId,siteid=data.SiteId})" target="_blank" class="btn btn-warning">@type</a>
                                                            </td>
                                                        }

                                                    }
                                                    @{
                                                        if (data.Type == 1 || designation == "5" || designation == "8" || designation == "9")
                                                        {

                                                            <td style="text-align:center;vertical-align:middle">
                                                                <a id="work_@data.PlanningMasterId@prefix@data.SiteId" onclick="showhide(@data.PlanningMasterId,@data.SiteId)" class="label label-default inactiveLink">Not Started Yet</a>
                                                                <select id="ddlwork_@data.PlanningMasterId@prefix@data.SiteId" class="work" style="display:none">
                                                                    @{
                                                                        foreach (var day in ViewBag.workstatuses as IEnumerable<SelectListItem>)
                                                                        {
                                                                            <option value="@day.Value">@day.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                        }
                                                        else
                                                        {

                                                            <td style="text-align:center;vertical-align:middle">
                                                                <span id="spanwork_@data.PlanningMasterId@prefix@data.SiteId" class="label label-default">Not Started Yet</span>
                                                            </td>
                                                        }

                                                        if (data.Type == 2 || designation == "5" || designation == "8" || designation == "9")
                                                        {

                                                            <td style="text-align:center;vertical-align:middle">
                                                                <a id="report_@data.PlanningMasterId@prefix@data.SiteId" onclick="showhider(@data.PlanningMasterId,@data.SiteId)" class="label label-default inactiveLink">Not Started Yet</a>
                                                                <select id="ddlreport_@data.PlanningMasterId@prefix@data.SiteId" class="report" style="display:none">
                                                                    @{
                                                                        foreach (var day in ViewBag.reportstatuses as IEnumerable<SelectListItem>)
                                                                        {
                                                                            <option value="@day.Value">@day.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                        }
                                                        else
                                                        {

                                                            <td style="text-align:center;vertical-align:middle">
                                                                <span id="spanreport_@data.PlanningMasterId@prefix@data.SiteId" class="label label-default">Not Started Yet</span>
                                                            </td>

                                                        }

                                                        if (designation == "5" || designation == "8" || designation == "9")
                                                        {
                                                            if (data.TeamLeaderStatus == 1)
                                                            {
                                                                <td style="text-align:center;vertical-align:middle">
                                                                    <input type="hidden" id="hidtr_@data.PlanningMasterId" value="@data.TeamLeaderStatus" />
                                                                    <a id="leader_@data.PlanningMasterId" onclick="showhidetr(@data.PlanningMasterId)" class="label label-primary">In Progress</a>
                                                                    <select id="ddlleader_@data.PlanningMasterId" class="leader" style="display:none">
                                                                        <option value="1">In Progress</option>
                                                                        <option value="2">Done</option>
                                                                    </select>
                                                                </td>
                                                            }
                                                            else if (data.TeamLeaderStatus == 2)
                                                            {
                                                                <td style="text-align:center;vertical-align:middle">
                                                                    <input type="hidden" id="hidtr_@data.PlanningMasterId" value="@data.TeamLeaderStatus" />
                                                                    <a id="leader_@data.PlanningMasterId" onclick="showhidetr(@data.PlanningMasterId)" class="label label-success">Done</a>
                                                                    <select id="ddlleader_@data.PlanningMasterId" class="leader" style="display:none">
                                                                        <option value="1">In Progress</option>
                                                                        <option value="2">Done</option>
                                                                    </select>
                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (data.TeamLeaderStatus == 1)
                                                            {
                                                                <td style="text-align:center;vertical-align:middle">
                                                                    <span class="label label-primary">In Progress</span>
                                                                </td>
                                                            }

                                                            else if (data.TeamLeaderStatus == 2)
                                                            {
                                                                <td style="text-align:center;vertical-align:middle">
                                                                    <span class="label label-success">Done</span>
                                                                </td>
                                                            }

                                                        }
                                                    }
                                                    <td style="text-align:center;vertical-align:middle">
                                                        <a href="@Url.Action("ViewWorkStatusesInDetails","Planning",new { planid=data.PlanningMasterId,siteid=data.SiteId})" target="_blank" class="glyphicon glyphicon-new-window"></a>
                                                    </td>
                                                </tr>
                                                sl += 1;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptFile
{
    <script>
               $(function () {

                   var workstatus =@Html.Raw(ViewBag.workstatus)
                       var reportstatus =@Html.Raw(ViewBag.reportstatus)
                           $.each(workstatus, function (index, row) {
                           $("#ddlwork_" + row.PlanningMasterFk +'-'+ row.SiteFk).val('' + row.WorkStatusFk + '').prop("selected", "selected");
                           $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).removeClass("inactiveLink");
                        if (row.WorkStatusFk === 1) {
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-primary');
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Start");

                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-primary');
                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Start");
                        }
                        else if (row.WorkStatusFk === 2) {
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-warning');
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Ongoing");

                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-warning');
                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Ongoing");
                        }
                        else if (row.WorkStatusFk === 5) {
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-success');
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Completed");

                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-success');
                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Completed");
                        }
                        else if (row.WorkStatusFk === 6) {
                            $("#work_" + row.PlanningMasterFk + '-' + row.SiteFk).addClass('label label-success');
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Done");

                            $("#spanwork_" + row.PlanningMasterFk + '-' + row.SiteFk).addClass('label label-success');
                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Done");
                        }
                        else if (row.WorkStatusFk === 7) {
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-danger');
                            $("#work_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Hold");

                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-danger');
                            $("#spanwork_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Hold");
                        }
                       });
                   $.each(reportstatus, function (index, row) {
                       $("#ddlreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).val('' + row.ReportStatusFk + '').prop("selected", "selected");
                       $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).removeClass("inactiveLink");
                       if (row.ReportStatusFk === 1) {
                           $("#report_" + row.PlanningMasterFk + '-' + row.SiteFk).addClass('label label-success');
                           $("#report_" + row.PlanningMasterFk + '-' + row.SiteFk).text("Done");

                           $("#spanreport_" + row.PlanningMasterFk + '-' + row.SiteFk).addClass('label label-success');
                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Done");
                       }
                       else if (row.ReportStatusFk === 3) {
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-warning');
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Pending");

                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-warning');
                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Pending");
                       }
                       else if (row.ReportStatusFk === 5) {
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-success');
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Completed");

                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-success');
                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Completed");
                       }
                       else if (row.ReportStatusFk === 4) {
                           $("#report_" + row.PlanningMasterFk+'-' + row.SiteFk).addClass('label label-info');
                           $("#report_" + row.PlanningMasterFk +'-'+ row.SiteFk).text("Ongoing");

                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-info');
                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("Ongoing");
                       }
                       else if (row.ReportStatusFk === 2) {
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-danger');
                           $("#report_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("On-Hold");

                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).addClass('label label-danger');
                           $("#spanreport_" + row.PlanningMasterFk + '-'+ row.SiteFk).text("On-Hold");
                       }
                   });
                   $('#test').DataTable();
});

        function showhide(planid,siteid) {
            $('#work_' + planid + '-' + siteid).hide();
            $('#ddlwork_' + planid + '-'+ siteid).show();

        }
        $(".work").change(function (e) {
            var id = e.target.id;
            var str = id.split("_").pop();
            var planmaster = str.split("-")[0];
            var siteid = id.split("-").pop();
            var v = $("#"+id).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeWorkStatus", "Helper")',
                    datatype: "Json",
                    async: false,
                    data: { planid: planmaster, status: v, sitefk:siteid },
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }
                });
        });

         function showhider(planid,siteid) {
             $('#report_' + planid +'-'+ siteid).hide();
             //$('#ddlreport_' + planid).val($('#hidr_' + planid).val());
             $('#ddlreport_' + planid +'-'+ siteid).show();

        }
        $(".report").change(function (e) {
            e.preventDefault();
            var str = id.split("_").pop();
            var planmaster = str.split("-")[0];
            var siteid = id.split("-").pop();
            var v = $("#"+id).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeReportStatus", "Helper")',
                    datatype: "Json",
                    data: { planid: planmaster, status: v, sitefk: siteid},
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }
                });
        });

         function showhidetr(planid) {
             $('#leader_' + planid).hide();
             $('#ddlleader_' + planid).val($('#hidtr_' + planid).val());
             $('#ddlleader_' + planid).show();

        }
        $(".leader").change(function (e) {
            var id = e.target.id;
            var planmaster = id.split("_").pop();
            var v = $("#"+id).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeTeamLeaderStatus", "Helper")',
                    datatype: "Json",
                    data: { planid: planmaster, status:v},
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }
                });
            });
    </script>
}

