﻿@using ONSJobTracker.Models
@model Planning
@{
    ViewBag.Title = "WorkPlanIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #tblDetailsShow th, td {
        text-align: center;
        vertical-align: middle;
    }

    #tblReportPlan th, td {
        text-align: center;
        vertical-align: middle;
    }

    #tblTransportPlan th, td {
        text-align: center;
        vertical-align: middle;
    }

    #tblOtherCostPlan th, td {
        text-align: center;
        vertical-align: middle;
    }

    #tblReportPlan td {
        text-align: center;
        vertical-align: middle;
    }
</style>
@using (Html.BeginForm("CreateWorkPlan", "Planning", FormMethod.Post, new { id = "workplan" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    <input type="hidden" id="jsonarray" name="PlanList" />
    <input type="hidden" id="transportjsonarray" name="TransportPlanList" />
    <input type="hidden" id="otherjsonarray" name="OtherCostPlanList" />
    <input type="hidden" id="hdnsite" name="Site" />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content-header">
        <h1>
            Work Plan
            <small>Planning</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">WorkPlanIndex</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Work Plan</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <i class="fa fa-file-text-o"></i>

                                        <h3 class="box-title">PO Description</h3>
                                        <h3 id="hPlanReference" style="font-weight: bold" class="box-title pull-right"></h3>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <h4 style="font-weight: bold; border-bottom: 1px solid gray">PO Details</h4>
                                        <br />
                                        <div class="clearfix"></div>
                                        <table style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 1%"></th>
                                                    <th style="width: 4%"></th>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 10%"></th>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 1%"></th>
                                                    <th style="width: 4%"></th>
                                                    <th style="width: 20%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="font-weight: bold">PO Number</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdponumber"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">Project Code</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdpocid"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold">Client Name</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdclient"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">End Client Name</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdendclient"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <h4 style="font-weight: bold; border-bottom: 1px solid gray">Site/Cluster Details</h4>
                                        <br />
                                        <div class="clearfix"></div>
                                        <table style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 1%"></th>
                                                    <th style="width: 4%"></th>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 10%"></th>
                                                    <th style="width: 20%"></th>
                                                    <th style="width: 1%"></th>
                                                    <th style="width: 4%"></th>
                                                    <th style="width: 20%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="font-weight: bold">Site ID</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdSiteID"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">Work Type</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdWorkType"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold">Site Name</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdSiteName"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">Region</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdRegion"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold">Cluster Id</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdClusterId"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">Address</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdAddress"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold">Cluster Name</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdClusterName"></td>
                                                    <td></td>
                                                    <td style="font-weight: bold">District</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdDistrict"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold">Option</td>
                                                    <td style="font-weight: bold">:</td>
                                                    <td></td>
                                                    <td id="tdOption" colspan="7"></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <br />
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Field Work Plan</h3>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered" id="tblDetailsShow">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Engineer Name</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Duration</th>
                                                    <th>I.Ta</th>
                                                    <th>I.Da</th>
                                                    <th>H.Da</th>
                                                    <th>O.Da</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Report Work Plan</h3>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered" id="tblReportPlan">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Engineer Name</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Duration</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Transport Plan</h3>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered" id="tblTransportPlan">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Type</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Duration</th>
                                                    <th>Fuel type</th>
                                                    <th>Est. KM</th>
                                                    <th>Cost/Day</th>
                                                    <th>Total</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Other Cost Plan</h3>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered" id="tblOtherCostPlan">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Cost Title</th>
                                                    <th>Amount</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <i class="fa fa-file-text-o"></i>

                                        <h3 class="box-title">Work Plan</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        @Html.HiddenFor(model=>model.PoDetailsFk,new { Value="0"})
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProjectFk) &nbsp;<i class="ion-star"></i>
                                            @Html.DropDownListFor(model => model.ProjectFk, ViewBag.allproject as SelectList,
                                                "---Select Project---", new { id = "ddlProjectFk", @class = "form-control select2", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.ProjectFk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PoMasterFk) &nbsp;<i class="ion-star"></i>
                                            @Html.DropDownListFor(model => model.PoMasterFk, new SelectList(string.Empty, "Value", "Text"), "---Select PO---", new { id = "ddlPoMasterFk", @class = "form-control select2", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.PoMasterFk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PoDetailsFk) &nbsp;<i class="ion-star"></i>
                                            @Html.DropDownListFor(model => model.SiteList, new SelectList(string.Empty, "Value", "Text"), "---Select Site/Task---", new { id = "ddlSiteFk", @class = "form-control select2", style = "width:100%", @multiple = "multiple" })
                                            @Html.ValidationMessageFor(model => model.PoDetailsFk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ResourceType) &nbsp;<i class="ion-star"></i>
                                            @Html.DropDownListFor(model => model.ResourceType, ViewBag.allresourcetype as SelectList, new { id = "ddlResourceType", @class = "form-control select2", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.ResourceType, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="divEngineer">
                                            <div class="form-group">

                                                @Html.LabelFor(model => model.Type) &nbsp;<i class="ion-star"></i>
                                                @Html.DropDownListFor(model => model.Type, ViewBag.allplanengineertype as SelectList, new { id = "ddlType", @class = "form-control select2", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">

                                                @Html.LabelFor(model => model.EmployeeInfoFk) &nbsp;<i class="ion-star"></i>
                                                @Html.DropDownListFor(model => model.EmployeeInfoFk, ViewBag.allengineer as SelectList, new { id = "ddlEmployeeInfoFk", @class = "form-control select2", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.EmployeeInfoFk, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div id="divDates">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.StartDate) &nbsp;<i class="ion-star"></i>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.StartDate, "{0:yyyy/MM/dd}", new { id = "txtStartDate", placeholder = "Start Date", @class = "form-control pull-right datepicker", autocomplete = "off" })
                                                </div>

                                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FinishDate) &nbsp;<i class="ion-star"></i>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    @*@Html.TextBoxFor(model => model.Date, "{0:yyyy/MM/dd}", new { id = "txtDate", placeholder = "Date", @class = "form-control pull-right datepicker" })*@
                                                    @Html.TextBoxFor(model => model.FinishDate, "{0:yyyy/MM/dd}", new { id = "txtFinishDate", placeholder = "Finish Date", @class = "form-control pull-right datepicker", autocomplete = "off" })
                                                    @*<input type="text" id="txtFinishDate" class="form-control pull-right datepicker"/>*@
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FinishDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Duration) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Duration, new { Value = "1", id = "txtDuration", placeholder = "PO NO", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div id="divOwnTransport" style="display: none">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transport.FuelType) &nbsp;<i class="ion-star"></i>
                                                @Html.DropDownListFor(model => model.Transport.FuelType, ViewBag.allfueltype as SelectList,
                                                    "---Select Fuel Type---", new {id = "ddlFuelType", @class = "form-control select2", style = "width:100%"})
                                                @Html.ValidationMessageFor(model => model.Transport.FuelType, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transport.EstimatedKm) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Transport.EstimatedKm, new { Value = 0, id = "txtEstimatedKm", placeholder = "Transport Reference", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Transport.EstimatedKm, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transport.TotalCarCost) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Transport.TotalCarCost, new { Value = 0, id = "txtTotalCarCost", placeholder = "Transport Reference", @class = "form-control txtTotalCarCost" })
                                                @Html.ValidationMessageFor(model => model.Transport.TotalCarCost, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div id="divInstantCar" style="display: none">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transport.DailyCost) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Transport.DailyCost, new { Value = 0.00, id = "txtDailyCost", placeholder = "Daily Cost", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Transport.DailyCost, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transport.TotalCarCost) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.Transport.TotalCarCost, new { Value = 0, id = "txtTotalCarCost", placeholder = "Transport Reference", @class = "form-control txtTotalCarCost" })
                                                @Html.ValidationMessageFor(model => model.Transport.TotalCarCost, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div id="divOtherCost" style="display: none">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OtherPlanCost.CostName) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.OtherPlanCost.CostName, new { id = "txtCostName", placeholder = "Cost Title", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.OtherPlanCost.CostName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OtherPlanCost.Amount) &nbsp;<i class="ion-star"></i>
                                                @Html.TextBoxFor(model => model.OtherPlanCost.Amount, new { Value = 0, id = "txtAmount", placeholder = "Amount", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.OtherPlanCost.Amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Remarks)
                                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", rows = "3", cols = "10" })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="checkbox icheck pull-left">
                                                <span id="divTDA">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.Ta, new { id = "cbTa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">I.T/A</span>
                                                    </label>
                                                    <label style="padding-left: 15px">
                                                        @Html.CheckBoxFor(model => model.Da, new { id = "cbDa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">I.D/A</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox icheck pull-left">
                                                <span id="divOTDA">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.OutsideTa, new { id = "cbOutsideTa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">H.D/A</span>
                                                    </label>
                                                    <label style="padding-left: 15px">
                                                        @Html.CheckBoxFor(model => model.OutsideDa, new { id = "cbOutsideDa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">O.D/A</span>
                                                    </label>
                                                </span>

                                                <label id="lblAdd" style="padding-left: 10px; font-weight: bold">Add&nbsp;</label>
                                                <a id="btnAdd" aria-controls="collapseOne" class="btn btn-primary btn-xs no-print"
                                                   data-tooltip="tooltip" title="Add" data-placement="top">
                                                    <i class='fa fa-plus'></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <br />
                                        <button id='btnreset' type='button' class="btn btn-success btn-xs"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<a id='btnreset' href="@Url.Action("WorkPlanIndex","Planning")" class="btn btn-success btn-xs"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</a>*@
                                        <input type="submit" id="btnSaveWorkPlan" value="Confirm Work Plan" class="btn btn-primary btn-xs pull-right" />
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile{
    <script type="text/javascript">
        var startdate;
        var finishdate;
        var objIndex;
        var total;
        var data = [];
        var trndata = [];
        var otherdata = [];
        var count = 1;
        //$(document).ready(function() {
        //    $('.datepicker1').datepicker({
        //        dateFormat: 'dd-mm-yy',
        //        numberOfMonths: 1,
        //        onSelect: function(selected,evnt) {
        //            updateAb(selected);
        //        }
        //    });
        //});
        //function updateAb(value) {
        //    alert(value);
        //    $('#txtStartDate').val(value);
        //}

        $('#ddlProjectFk').on("change",
            function(e) {
                if ($('#ddlProjectFk').val() !== "---Select Project---") {
                    $("#ddlPoMasterFk").empty();
                    $("#ddlSiteFk").empty();

                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetPoByProjectId", "Helper")",
                        data: { pid: $('#ddlProjectFk').val() },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {

                            $("#ddlPoMasterFk").append("<option value='0'>---Select PO---</option>");
                            $("#ddlSiteFk").append("<option value='0'>---Select Site/Task---</option>");
                            $.each(data,
                                function(index, row) {
                                    $("#ddlPoMasterFk")
                                        .append("<option value='" + row.Id + "'>" + row.Text + "</option>");
                                });
                        }
                    });
                }
            });

        $('#ddlPoMasterFk').on("change",
            function(e) {
                if ($('#ddlPoMasterFk').val() !== "---Select PO---") {
                    $('#tdponumber').empty();
                    $('#tdpocid').empty();
                    $('#tdclient').empty();
                    $('#tdendclient').empty();
                    var pid = $('#ddlPoMasterFk').val();

                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetMasterPo", "Helper")",
                        data: { poid: pid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {
                            //$('#tdponumber').append(data[0].PoNumber);
                            $('#tdpocid').append(data[0].ProjectCode);
                            $('#tdclient').html(data[0].ClientName);
                            $('#tdendclient').html(data[0].EndClientName);

                        }
                    });
                    $("#ddlSiteFk").empty();
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetSiteByPoId", "Helper")",
                        data: { poid: pid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {
                            $("#ddlSiteFk").append("<option value='0'>---Select Site/Task---</option>");
                            $.each(data,
                                function(index, row) {
                                    $("#ddlSiteFk")
                                        .append("<option value='" + row.Id + "'>" + row.Text + "</option>");
                                });
                        }
                    });
                }
            });

        $('#ddlResourceType').on("change",
            function(e) {
                var val = $('#ddlResourceType').val();
                if (val === "2") {
                    $("#divEngineer").hide();
                    $("#divOtherCost").hide();
                    $("#divInstantCar").hide();
                    $("#divTDA").hide();
                    $("#divOTDA").hide();
                    $("#divDates").show();
                    $("#divOwnTransport").show();

                } else if (val === "3") {
                    $("#divEngineer").hide();
                    $("#divOwnTransport").hide();
                    $("#divTDA").hide();
                    $("#divOTDA").hide();
                    $("#divOtherCost").hide();
                    $("#divDates").show();
                    $("#divDates").show();
                    $("#divInstantCar").show();


                } else if (val === "4") {
                    $("#divEngineer").hide();
                    $("#divOwnTransport").hide();
                    $("#divTDA").hide();
                    $("#divOTDA").hide();
                    $("#divInstantCar").hide();
                    $("#divDates").hide();
                    $("#divOtherCost").show();
                } else {
                    $("#divOwnTransport").hide();
                    $("#divInstantCar").hide();
                    $("#divOtherCost").hide();
                    $("#divEngineer").show();
                    $("#divDates").show();
                    $("#divTDA").show();
                    $("#divOTDA").show();
                }
            });

        $('#ddlSiteFk').on("change",
            function(e) {
                if ($('#ddlSiteFk').val() !== "---Select Site/Task---") {
                    $('#tdSiteID').empty();
                    $('#tdWorkType').empty();
                    $('#tdSiteName').empty();
                    $('#tdRegion').empty();
                    $('#tdClusterId').empty();
                    $('#tdAddress').empty();
                    $('#tdClusterName').empty();
                    $('#tdDistrict').empty();
                    $('#tdOption').empty();
                    var sid = $('#ddlSiteFk').val();
                    $('#hdnsite').val(sid);
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetSiteDetails", "Helper")",
                        data: { siteid: sid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {

                            $('#tdSiteID').html(data.SiteId);
                            $('#tdWorkType').html(data.WorkType);
                            $('#tdSiteName').html(data.SiteName);
                            $('#tdRegion').html(data.Region);
                            $('#tdClusterId').html(data.ClusterId);
                            $('#tdAddress').html(data.Address);
                            $('#tdClusterName').html(data.ClusterName);
                            $('#tdDistrict').html(data.District);
                            $('#tdOption').html(data.Option);
                        }
                    });
                    @*$.ajax({
                        type: "post",
                        url: "@Url.Action("GetWorkPlanbyId", "Helper")",
                        data: { siteid: sid },
                        datatype: "json",
                        traditional: true,
                        success: function(d) {
                            if (d.length > 0) {
                                $.each(d,
                                    function(index, row) {
                                        data.push({
                                            CounterId: count,
                                            PoNo: row.PoNo,
                                            PoDetailsFk: row.PoDetailsFk,
                                            Sitename: row.Sitename,
                                            EmployeeInfoFk: row.EmployeeInfoFk,
                                            Engineername: row.Engineername,
                                            StartDate: moment(row.StartDate).format('MM-DD-YYYY'),
                                            FinishDate: moment(row.FinishDate).format('MM-DD-YYYY'),
                                            Remarks: row.Remarks,
                                            Ta: row.Ta,
                                            Da: row.Da,
                                            Duration: row.Duration
                                        });
                                        count++;
                                        showtabledetailsdata(data);
                                    });

                        }
                    }
                    });*@
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetPlanReferenceBySite", "Helper")",
                        data: { siteid: sid },
                        datatype: "json",
                        traditional: true,
                        success: function(d) {
                            $("#hPlanReference").text(d.Reference);
                        }
                    });
                    //$('#ddlProjectFk').attr("disabled", "disabled");
                    //$('#ddlSiteFk').attr("disabled", "disabled");
                   //$('#ddlPoMasterFk').attr("disabled", "disabled");

                }
            });

        //$('#txtStartDate').datepicker().on('changeDate',
        //    function(ev) {
        //        datedifferenece();
        //    });
        //$('#txtFinishDate').datepicker().on('changeDate',
        //    function(ev) {
        //        datedifferenece();
        //    });


        $('body').on('change', '#txtStartDate', function (e) {
            // $("txtStartDate").change(function () {
            datedifferenece();
        });
        $('body').on('change', '#txtFinishDate', function (e) {
            datedifferenece();
        });

        function datedifferenece() {
            var sdate = $('#txtStartDate').val();
            startdate = moment(sdate).format('YYYYMMDD');
            var fdate = $('#txtFinishDate').val();
            finishdate = moment(fdate).format('YYYYMMDD');

            var date1 = moment(startdate, "YYYYMMDD");
            var date2 = moment(finishdate, "YYYYMMDD");
            if (date2 >= date1) {
                $("#txtDuration").val((date2.diff(date1, "days")) + 1);
            }
        }

        $("#btnAdd").click(function() {
            btnaddclick();
            $('#ddlEmployeeInfoFk').focus();
        });

        function btnaddclick() {
            var title = $('#btnAdd').attr("title");
            var poid = $('#ddlPoMasterFk').val();
            var pono = $('#ddlPoMasterFk option:selected').text();
            //var siteid = $('#ddlSiteFk').val();
            //var sitename = $('#ddlSiteFk option:selected').text();
            var siteid = 0;
            var sitename ="Dummy";
            var stdate = $('#txtStartDate').val();
            var ftdate = $('#txtFinishDate').val();
            var duration = $("#txtDuration").val();
            var remarks = $("#txtRemarks").val();
            var resourcetype = $('#ddlResourceType').val();

            if (resourcetype === "1") {
                var engineertype = $('#ddlType').val();
                var engineerid = $('#ddlEmployeeInfoFk').val();
                var engineername = $('#ddlEmployeeInfoFk option:selected').text();
                var ta = $('#cbTa').iCheck('update')[0].checked;
                var da = $('#cbDa').iCheck('update')[0].checked;
                var ota = $('#cbOutsideTa').iCheck('update')[0].checked;
                var oda = $('#cbOutsideDa').iCheck('update')[0].checked;

                if (poid === "" || poid === null || pono === "" || pono === "---Select PO---" || pono === null) {
                    $('#ddlPoMasterFk').focus();
                } else if (siteid === "" ||
                    siteid === null ||
                    sitename === "" ||
                    sitename === "---Select Site/Task---" ||
                    sitename === null) {
                    $('#ddlSiteFk').focus();
                } else if (engineerid === "" ||
                    engineerid === null ||
                    engineername === "" ||
                    engineername === "---Select Engineer---" ||
                    engineername === null) {
                    $('#ddlEmployeeInfoFk').focus();
                } else if (stdate === "" || stdate === null) {
                    $('#txtStartDate').focus();
                } else if (ftdate === "" || ftdate === null) {
                    $('#txtFinishDate').focus();
                } else if (duration === "" || duration === null) {
                    $('#txtDuration').focus();
                } else {
                    if (title === 'Update') {
                        data[objIndex].EmployeeInfoFk = engineerid;
                        data[objIndex].Engineername = engineername;
                        data[objIndex].StartDate = stdate;
                        data[objIndex].FinishDate = ftdate;
                        data[objIndex].Ta = ta;
                        data[objIndex].Da = da;
                        data[objIndex].OutsideTa = ota;
                        data[objIndex].OutsideDa = oda;
                        data[objIndex].Duration = duration;
                        data[objIndex].Remarks = remarks;
                    } else {
                        data.push({
                            CounterId: count,
                            PoMasterFk: poid,
                            PoNo: pono,
                            Type: engineertype,
                            PoDetailsFk: siteid,
                            Sitename: sitename,
                            EmployeeInfoFk: engineerid,
                            Engineername: engineername,
                            StartDate: stdate,
                            FinishDate: ftdate,
                            Remarks: remarks,
                            Ta: ta,
                            Da: da,
                            OutsideTa: ota,
                            OutsideDa: oda,
                            Duration: duration,
                            ResourceType: resourcetype
                        });
                        count++;
                        console.log(data);
                    }
                }
            } else if (resourcetype === "2") {
                var fueltype = $("#ddlFuelType").val();
                var estimatedkm = $("#txtEstimatedKm").val();
                var totalcarcost = $("#txtTotalCarCost").val();
                if (fueltype === "" ||
                    fueltype === null ||
                    fueltype === "" ||
                    fueltype === "---Select Fuel Type---" ||
                    fueltype === null) {
                    $('#ddlFuelType').focus();
                } else if (estimatedkm === "" || estimatedkm === null) {
                    $('#txtEstimatedKm').focus();
                } else if (duration === "" || duration === null) {
                    $('#txtDuration').focus();
                } else {
                    if (title === 'Update') {
                        trndata[objIndex].StartDate = stdate;
                        trndata[objIndex].FinishDate = ftdate;
                        trndata[objIndex].Duration = duration;
                        trndata[objIndex].DailyCost = 0;
                        trndata[objIndex].CarInfo = 1;
                        trndata[objIndex].FuelType = fueltype;
                        trndata[objIndex].EstimatedKm = estimatedkm;
                        trndata[objIndex].TotalCarCost = totalcarcost;
                        trndata[objIndex].Remarks = remarks;
                        trndata[objIndex].ResourceType = resourcetype;
                    } else {
                        trndata.push({
                            CounterId: count,
                            StartDate: stdate,
                            FinishDate: ftdate,
                            Duration: duration,
                            DailyCost: 0,
                            CarInfo: 1,
                            FuelType: fueltype,
                            EstimatedKm: estimatedkm,
                            TotalCarCost: totalcarcost,
                            Remarks: remarks,
                            ResourceType: resourcetype
                        });
                        count++;
                    }
                }
            } else if (resourcetype === "3") {
                var perdaycost = $("#txtDailyCost").val();
                var totalcarcost = $("#txtTotalCarCost").val();
                if (perdaycost === "" || perdaycost === null) {
                    $('#txtDailyCost').focus();
                } else if (duration === "" || duration === null) {
                    $('#txtDuration').focus();
                } else {
                    if (title === 'Update') {
                        trndata[objIndex].StartDate = stdate;
                        trndata[objIndex].FinishDate = ftdate;
                        trndata[objIndex].Duration = duration;
                        trndata[objIndex].DailyCost = perdaycost;
                        trndata[objIndex].CarInfo = 2;
                        trndata[objIndex].FuelType = "";
                        trndata[objIndex].EstimatedKm = 0;
                        trndata[objIndex].TotalCarCost = totalcarcost;
                        trndata[objIndex].Remarks = remarks;
                        trndata[objIndex].ResourceType = resourcetype;
                    } else {


                        trndata.push({
                            CounterId: count,
                            StartDate: stdate,
                            FinishDate: ftdate,
                            Duration: duration,
                            DailyCost: perdaycost,
                            CarInfo: 2,
                            FuelType: "",
                            EstimatedKm: 0,
                            TotalCarCost: totalcarcost,
                            Remarks: remarks,
                            ResourceType: resourcetype
                        });
                        count++;
                    }
                }
            } else if (resourcetype === "4") {

                var costtile = $("#txtCostName").val();
                var amount = $("#txtAmount").val();
                otherdata.push({
                    CounterId: count,
                    CostName: costtile,
                    Amount: amount,
                    Remarks: remarks,
                    ResourceType: resourcetype
                });
            }
            showtabledetailsdata(data);
            $('#btnAdd').attr('title', 'Add');
            $('#btnAdd').html("<i class='fa fa-plus'></i>");
            $('#lblAdd').html("Add");
            $('#ddlEmployeeInfoFk').prop('selectedIndex', 0).trigger('change');
            $("#txtRemarks").val("");
            $('#cbTa').iCheck('uncheck');
            $('#cbDa').iCheck('uncheck');
            $('#cbOutsideTa').iCheck('uncheck');
            $('#cbOutsideDa').iCheck('uncheck');
        }


        function showtabledetailsdata(data) {
            if (data.length > 0) {
                $("#jsonarray").val(JSON.stringify(data));
                var len = 0;
                var txt = "";
                var rpttxt = "";
                var taicon = "";
                var daicon = "";
                var otaicon = "";
                var odaicon = "";
                $(data).each(function(index) {

                    if (data[len].Type === '2') {
                        rpttxt += "<tr><td>" +
                            data[len].CounterId +
                            "</td><td>" +
                            data[len].Engineername +
                            "</td><td>" +
                            data[len].StartDate +
                            "</td>" +
                            "<td>" +
                            data[len].FinishDate +
                            "</td><td>" +
                            data[len].Duration +
                            "</td><td>" +
                            data[len].Remarks +
                            "</td>" +
                            "<td style='text-align:center; cursor:pointer'><a id='btnDlt' class='glyphicon glyphicon-trash no-print' data-tooltip='tooltip' title='Delete'" +
                            "onclick='deletejosnarray(" +
                            data[len].CounterId +
                            ");'></a>" +
                            "<a style='padding-left:5px;' id='btnEdit' title='Edit' data-placement='top'" +
                            "onclick='editjosnarray(" +
                            data[len].CounterId +
                            ");'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a></td></tr>";
                    } else {

                        if (data[len].Ta) {
                            taicon = " <i class='fa fa-check' aria-hidden='true'></i>";
                        } else {
                            taicon = " <i class='fa fa-times' aria-hidden='true'></i>";
                        }
                        if (data[len].Da) {
                            daicon = " <i class='fa fa-check' aria-hidden='true'></i>";
                        } else {
                            daicon = " <i class='fa fa-times' aria-hidden='true'></i>";
                        }
                        if (data[len].OutsideTa) {
                            otaicon = " <i class='fa fa-check' aria-hidden='true'></i>";
                        } else {
                            otaicon = " <i class='fa fa-times' aria-hidden='true'></i>";
                        }
                        if (data[len].OutsideDa) {
                            odaicon = " <i class='fa fa-check' aria-hidden='true'></i>";
                        } else {
                            odaicon = " <i class='fa fa-times' aria-hidden='true'></i>";
                        }
                        txt += "<tr><td>" +
                            data[len].CounterId +
                            "</td><td>" +
                            data[len].Engineername +
                            "</td><td>" +
                            data[len].StartDate +
                            "</td>" +
                            "<td>" +
                            data[len].FinishDate +
                            "</td><td>" +
                            data[len].Duration +
                            "</td>" +
                            "<td>" +
                            taicon +
                            "</td><td>" +
                            daicon +
                            "</td><td>" +
                            otaicon +
                            "</td><td>" +
                            odaicon +
                            "</td><td>" +
                            data[len].Remarks +
                            "</td>" +
                            "<td style='text-align:center; cursor:pointer'><a id='btnDlt' class='glyphicon glyphicon-trash no-print' data-tooltip='tooltip' title='Delete'" +
                            "onclick='deletejosnarray(" +
                            data[len].CounterId +
                            ");'></a>" +
                            "<a style='padding-left:5px;' id='btnEdit' title='Edit' data-placement='top'" +
                            "onclick='editjosnarray(" +
                            data[len].CounterId +
                            ");'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a></td></tr>";
                    }

                    len++;
                });
                if (txt !== "") {
                    $("#tblDetailsShow tbody").empty();
                    $("#tblDetailsShow tbody").append(txt);
                } else {
                    $("#tblDetailsShow tbody").empty();
                }
                if (rpttxt !== "") {
                    $("#tblReportPlan tbody").empty();
                    $("#tblReportPlan tbody").append(rpttxt);
                } else {
                    $("#tblReportPlan tbody").empty();
                }
            } else {
                $("#tblDetailsShow tbody").empty();
            }

            if (trndata.length > 0) {
                $("#transportjsonarray").val(JSON.stringify(trndata));
                var len2 = 0;
                var txt2 = "";
                var carinfo = "";
                var fueltype = "";
                $(trndata).each(function(index) {
                    if (trndata[len2].CarInfo === 1) {
                        carinfo = "Own Car";
                    } else if (trndata[len2].CarInfo === 2) {
                        carinfo = "Instant Basis";
                    }
                    if (trndata[len2].FuelType === "") {
                        fueltype = "N/A";
                    } else if (trndata[len2].FuelType === "1") {
                        fueltype = "Gas";
                    } else if (trndata[len2].FuelType === "2") {
                        fueltype = "Oil";
                    } else if (trndata[len2].FuelType === "3") {
                        fueltype = "Gas + Oil";
                    }
                    txt2 += "<tr><td>" +
                        trndata[len2].CounterId +
                        "</td><td>" +
                        carinfo +
                        "</td><td>" +
                        trndata[len2].StartDate +
                        "</td>" +
                        "<td>" +
                        trndata[len2].FinishDate +
                        "</td><td>" +
                        trndata[len2].Duration +
                        "</td><td>" +
                        fueltype +
                        "</td><td>" +
                        trndata[len2].EstimatedKm +
                        "</td><td>" +
                        trndata[len2].DailyCost +
                        "</td><td>" +
                        trndata[len2].TotalCarCost +
                        "</td><td>" +
                        trndata[len2].Remarks +
                        "</td>" +
                        "<td style='text-align:center; cursor:pointer'><a id='btnDlt' class='glyphicon glyphicon-trash no-print' data-tooltip='tooltip' title='Delete'" +
                        "onclick='deletejosnarray(" +
                        trndata[len2].CounterId +
                        ");'></a>" +
                        "<a style='padding-left:5px;' id='btnEdit' title='Edit' data-placement='top'" +
                        "onclick='edittransportjosnarray(" +
                        trndata[len2].CounterId +
                        ");'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a></td></tr>";
                    len2++;
                });
                if (txt2 !== "") {
                    $("#tblTransportPlan tbody").empty();
                    $("#tblTransportPlan tbody").append(txt2);
                } else {
                    $("#tblTransportPlan tbody").empty();
                }
            }

            if (otherdata.length > 0) {
                $("#otherjsonarray").val(JSON.stringify(otherdata));
                var len3 = 0;
                var txt3 = "";
                console.log(otherdata);
                $(otherdata).each(function(index) {
                    txt3 += "<tr><td>" +
                        otherdata[len3].CounterId +
                        "</td><td>" +
                        otherdata[len3].CostName +
                        "</td><td style='text-align:right'>" +
                        otherdata[len3].Amount +
                        "</td><td>" +
                        otherdata[len3].Remarks +
                        "</td>" +
                        "<td style='text-align:center; cursor:pointer'><a id='btnDlt' class='glyphicon glyphicon-trash no-print' data-tooltip='tooltip' title='Delete'" +
                        "onclick='deletejosnarray(" +
                        otherdata[len3].CounterId +
                        ");'></a>" +
                        "<a style='padding-left:5px;' id='btnEdit' title='Edit' data-placement='top'" +
                        "onclick='editotherjosnarray(" +
                        otherdata[len3].CounterId +
                        ");'><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a></td></tr>";

                    len3++;
                });
                //tblOtherCostPlan
                if (txt3 !== "") {
                    $("#tblOtherCostPlan tbody").empty();
                    $("#tblOtherCostPlan tbody").append(txt3);
                } else {
                    $("#tblOtherCostPlan tbody").empty();
                }
            }
        }

        //Delete from Json Array

        function deletejosnarray(id) {
            data = $.grep(data,
                function(e) {
                    return e.CounterId !== id;
                });
            trndata = $.grep(trndata,
                function(e) {
                    return e.CounterId !== id;
                });
            otherdata = $.grep(otherdata,
                function(e) {
                    return e.CounterId !== id;
                });
            showtabledetailsdata(data);
        }

        //Edit workplan array
        function editjosnarray(cnt) {
            objIndex = data.findIndex((obj => obj.CounterId === cnt));
            var val = data[objIndex].ResourceType;
            var employeeInfoFk = data[objIndex].EmployeeInfoFk;
            var startDate = data[objIndex].StartDate;
            var finishDate = data[objIndex].FinishDate;
            var durations = data[objIndex].Duration;
            var remark = data[objIndex].Remarks;
            var type = data[objIndex].Type;
            var ta = data[objIndex].Ta;
            var da = data[objIndex].Da;
            var ota = data[objIndex].OutsideTa;
            var oda = data[objIndex].OutsideDa;
            $('#ddlEmployeeInfoFk').val(employeeInfoFk).trigger('change');
            $('#ddlResourceType').val(val).trigger('change');
            $('#ddlType').val(type).trigger('change');
            $('#txtStartDate').val(startDate);
            $('#txtFinishDate').val(finishDate);
            $('#txtDuration').val(durations);
            $('#txtRemarks').val(remark);
            if (ta) {
                $('#cbTa').iCheck('check');
            } else {
                $('#cbTa').iCheck('uncheck');
            }
            if (da) {
                $('#cbDa').iCheck('check');
            } else {
                $('#cbDa').iCheck('uncheck');
            }
            if (ota) {
                $('#cbOutsideTa').iCheck('check');
            } else {
                $('#cbOutsideTa').iCheck('uncheck');
            }
            if (oda) {
                $('#cbOutsideDa').iCheck('check');
            } else {
                $('#cbOutsideDa').iCheck('uncheck');
            }
            $('#btnAdd').attr('title', 'Update');
            $('#btnAdd').html("<i class='fa fa-edit'></i>");
            $('#lblAdd').html("Edit");
            $("#divEngineer").show();
            $("#divTDA").show();
            $("#divOwnTransport").hide();
            $("#divInstantCar").hide();

        }

        //Edit Transport array
        function edittransportjosnarray(cnt) {
            objIndex = trndata.findIndex((obj => obj.CounterId === cnt));
            var val = trndata[objIndex].ResourceType;
            var startDate = trndata[objIndex].StartDate;
            var finishDate = trndata[objIndex].FinishDate;
            var durations = trndata[objIndex].Duration;
            var remark = trndata[objIndex].Remarks;

            if (val === "2") {
                var fueltype = trndata[objIndex].FuelType;
                var estimatedkm = trndata[objIndex].EstimatedKm;
                var totalcost = trndata[objIndex].TotalCarCost;
                $('#ddlFuelType').val(fueltype).trigger('change');
                $('#txtEstimatedKm').val(estimatedkm);
                $('#txtTotalCarCost').val(totalcost);
            } else if (val === "3") {
                var perdaycost = trndata[objIndex].DailyCost;
                var totalcost = trndata[objIndex].TotalCarCost;
                $('#txtDailyCost').val(perdaycost);
                $('#txtTotalCarCost').val(totalcost);
            } else {
                $("#divEngineer").show();
                $("#divTDA").show();
                $("#divOwnTransport").hide();
                $("#divInstantCar").hide();
            }
            $('#ddlResourceType').val(val).trigger('change');
            $('#txtStartDate').val(startDate);
            $('#txtFinishDate').val(finishDate);
            $('#txtDuration').val(durations);
            $('#txtRemarks').val(remark);

            $('#btnAdd').attr('title', 'Update');
            $('#btnAdd').html("<i class='fa fa-edit'></i>");
            $('#lblAdd').html("Edit");

        }

        //Edit Other Cost array
        function editotherjosnarray(cnt) {
            objIndex = otherdata.findIndex((obj => obj.CounterId === cnt));
            var val = otherdata[objIndex].ResourceType;
            var remark = otherdata[objIndex].Remarks;

            if (val === "4") {
                var costtitle = otherdata[objIndex].CostName;
                var amount = otherdata[objIndex].Amount;
                $('#txtCostName').val(costtitle);
                $('#txtAmount').val(amount);
            } else {
                $("#divEngineer").show();
                $("#divTDA").show();
                $("#divOwnTransport").hide();
                $("#divInstantCar").hide();
            }
            $('#ddlResourceType').val(val).trigger('change');
            $('#txtRemarks').val(remark);

            $('#btnAdd').attr('title', 'Update');
            $('#btnAdd').html("<i class='fa fa-edit'></i>");
            $('#lblAdd').html("Edit");

        }

        $('#txtDailyCost').on('input',
            function() {

                var dailycost = $('#txtDailyCost').val();
                var duration = $('#txtDuration').val();
                total = dailycost * duration;
                $('.txtTotalCarCost').val(total);
            });

        $('#txtDuration').on('input',
            function() {
                var dailycost = $('#txtDailyCost').val();
                var duration = $('#txtDuration').val();
                total = dailycost * duration;
                $('.txtTotalCarCost').val(total);
            });

        $(document).off("click", "#btnreset");
        $(document).on("click",
            "#btnreset",
            function(e) {
                e.preventDefault();
                $('#btnAdd').attr('title', 'Add');
                $('#btnAdd').html("<i class='fa fa-plus'></i>");
                $('#lblAdd').html("Add");
                $('#ddlType').prop('selectedIndex', 0).trigger('change');
                $('#ddlResourceType').prop('selectedIndex', 0).trigger('change');
                $('#ddlEmployeeInfoFk').prop('selectedIndex', 0).trigger('change');

                $("#txtRemarks").val("");
                $('#cbTa').iCheck('uncheck');
                $('#cbDa').iCheck('uncheck');

                $('#txtEstimatedDuration').val(0);
                $('#txtEstimatedKm').val(0);
                $('#txtTotalCarCost').val(0);
                $('#txtDailyCost').val(0);
                $('#txtCostName').val("");
                $('#txtAmount').val(0);

                $('#ddlFuelType').val("").trigger('change');

            });
    </script>
}
