﻿@model List<ONSJobTracker.ViewModels.Work_Plan.PlanListViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Planning
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Work Plan List</li>
    </ol>
</section>
<section class="content">
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Work Plan List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center">#</th>
                                    <th style="text-align: center">Site</th>
                                    <th style="text-align: center">Project</th>
                                    <th style="text-align: center">Action</th>
                             
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        int sl = 1;
                                        foreach (var data in Model.GroupBy(x=>new{x.Project,x.Site,x.SiteId}))
                                        {
                                            <tr>
                                              
                                                <td style="font-weight: bold;text-align: center"> @sl </td>
                                                <td style="font-weight: bold"> @data.Key.Site </td>
                                                <td style="font-weight: bold"> @data.Key.Project </td>
                                               
                                              
                                                @*<td style="text-align: center; cursor: pointer;vertical-align:middle">
                                                    <a id="@data.Id" href="@Url.Action("UpdateUser", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteUser", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="User Deleting"
                                                       data-swal-text="Are you sure to Delete this User?">
                                                    </a>
                                                </td>*@
                                            </tr>
                                            sl += 1;
                                        }
                                                        }


                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>