﻿@model ONSJobTracker.Models.PlanApproval
@{
    ViewBag.Title = "WorkPlanViewForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tdtype = "tdtype";
    var tdstartdate = "tdstartdate";
    var tdfinishdate = "tdfinishdate";
    var tdfueltype = "tdfueltype";
    var tdtotalcost = "tdtotalcost";
    var tddailycost = "tddailycost";
    var tdremarks = "tdremarks";
    var tdduration = "tdduration";
    var tdkm = "tdkm";
    var tdcostname = "tdcostname";
    var tdotheramount = "tdotheramount";
    var tdotherremarks = "tdotherremarks";

    var tdemployeeId = "tdemployeeId";
    var tdtypes = "tdtypes";
    var tdestartdate = "tdestartdate";
    var tdefinishdate = "tdefinishdate";
    var tdplanduration = "tdplanduration";
    var tdplanremarks = "tdplanremarks";
    var tdTa = "tdTa";
    var tdDa = "tdDa";
    var tdOTa = "tdOTa";
    var tdODa = "tdODa";
}

@{
    var designation = HttpContext.Current.Request.Cookies["UserInfo"]?["UserDesignationId"];
}

<section class="content-header">
    <h1>
        Plans
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Plan List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Work Plan</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">PO Description</h3>
                                    <h3 id="hPlanReference" style="font-weight: bold" class="box-title pull-right"></h3>

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">PO Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    <table style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 10%"></th>
                                                <th style="width: 20%"></th>
                                                <th style="width: 1%"></th>
                                                <th style="width: 4%"></th>
                                                <th style="width: 20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="font-weight: bold">Project Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdponumber">
                                                    @{
                                                        foreach (var project in Model.ApprovalMaster.GroupBy(x => x.Projectname))
                                                        {
                                                            <span>@project.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">PO Number</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdpocid">
                                                    @{
                                                        foreach (var po in Model.ApprovalMaster.GroupBy(x => x.PoNo))
                                                        {
                                                            <span>@po.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdclient">
                                                    @{
                                                        foreach (var client in Model.ApprovalMaster.GroupBy(x => x.ClientName))
                                                        {
                                                            <span>@client.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                                <td style="font-weight: bold">End Client Name</td>
                                                <td style="font-weight: bold">:</td>
                                                <td></td>
                                                <td id="tdendclient">
                                                    @{
                                                        foreach (var endclient in Model.ApprovalMaster.GroupBy(x => x.EndClientName))
                                                        {
                                                            <span>@endclient.Key</span><span>.</span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <h4 style="font-weight: bold; border-bottom: 1px solid gray">Site/Cluster Details</h4>
                                    <br />
                                    <div class="clearfix"></div>
                                    @{
                                        foreach (var site in Model.PoDetailsView)
                                        {
                                            <table style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 10%"></th>
                                                        <th style="width: 20%"></th>
                                                        <th style="width: 1%"></th>
                                                        <th style="width: 4%"></th>
                                                        <th style="width: 20%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-weight: bold">Site ID</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteID">@site.SiteId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Work Type</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdWorkType">@site.WorkType</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Site Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdSiteName">@site.SiteName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Region</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdRegion">@site.Region</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Id</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterId">@site.ClusterId</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">Address</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdAddress">@site.Address</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Cluster Name</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdClusterName">@site.ClusterName</td>
                                                        <td></td>
                                                        <td style="font-weight: bold">District</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdDistrict">@site.District</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold">Option</td>
                                                        <td style="font-weight: bold">:</td>
                                                        <td></td>
                                                        <td id="tdOption" colspan="7">@site.Option</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br />
                                        }
                                    }

                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>


                    @using (Html.BeginForm("WorkPlanCreateEdit", "Planning", FormMethod.Post, new { id = "frmworkplan" }))
                    {
                        @Html.HiddenFor(model => model.Planning.Action, new { Value = "Save", id = "hidplanAction" })
                        @Html.HiddenFor(model => model.Planning.Id, new { Value = "", id = "hidplanId" })
                        @Html.HiddenFor(model => model.Planning.PlanningMasterFk)
                        <div class="modal fade" id="divCreatePlanning">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Creat/Edit Work Plan</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.Type) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.Planning.Type, ViewBag.allplanengineertype as SelectList, new { id = "ddlTypes", @class = "form-control select2", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Planning.Type, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.EmployeeInfoFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.Planning.EmployeeInfoFk, ViewBag.allengineer as SelectList, new { id = "ddlEmployeeInfoFk", @class = "form-control select2", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Planning.EmployeeInfoFk, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.StartDate) &nbsp;<i class="ion-star"></i>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(model => model.Planning.StartDate, new { id = "txtStartDate", placeholder = "yyyy/MM/dd", @class = "form-control datepicker" })
                                                        @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new {id="txtStartDate", @class = "datepicker form-control" } })*@
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Planning.StartDate, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.FinishDate) &nbsp;<i class="ion-star"></i>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(model => model.Planning.FinishDate, new { id = "txtFinishDate", placeholder = "yyyy/MM/dd", @class = "datepicker form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Planning.FinishDate, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.Duration) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.Planning.Duration, new { Value = "1", id = "txtDuration", placeholder = "Estimated Duration", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Planning.Duration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Planning.Remarks)
                                                    @Html.TextAreaFor(model => model.Planning.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.Planning.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox icheck pull-left">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.Planning.Ta, new { id = "cbTa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">I.T/A</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox icheck pull-left">
                                                            <label style="padding-left: 15px">
                                                                @Html.CheckBoxFor(model => model.Planning.Da, new { id = "cbDa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">I.D/A</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox icheck pull-left">
                                                            <label style="padding-left: 15px">
                                                                @Html.CheckBoxFor(model => model.Planning.OutsideTa, new { id = "cbOutsideTa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">H.D/A</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox icheck pull-left">
                                                            <label style="padding-left: 15px">
                                                                @Html.CheckBoxFor(model => model.Planning.OutsideDa, new { id = "cbOutsideDa" })&nbsp;&nbsp; <span style="font-weight: bold; font-size: 12px">O.D/A</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnplansave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>
                                    <h3 class="box-title">Work Description</h3>
                                    @{
                                        if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                        {
                                            if (designation == "5" || designation == "9")
                                            {
                                                @:(&nbsp; <a href="#" onclick="CreatePlan()" id="lnkOtherCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                                            }
                                        }

                                    }

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Engineer Name</th>
                                                <th class="hidden">Engineer Id</th>
                                                <th>Type</th>
                                                <th class="hidden">TypeId</th>
                                                <th>Start Date</th>
                                                <th class="hidden">Start Date</th>
                                                <th>Finish Date</th>
                                                <th class="hidden">Finish Date</th>
                                                <th>Duration</th>
                                                <th class="hidden">Ta</th>
                                                <th class="hidden">Da</th>
                                                <th style="text-align:center">Ta</th>
                                                <th style="text-align:center">Da</th>
                                                @if (designation != "8" && designation != "5")
                                                {
                                                    <th style="text-align:center">H.Ta</th>
                                                    <th style="text-align:center">O.Da</th>
                                                    <th class="hidden">H.Ta</th>
                                                    <th class="hidden">O.Da</th>
                                                }
                                                <th>Remarks</th>
                                                @if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                {
                                                    if (designation == "9")
                                                    {
                                                        <th style="text-align:center">Action</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var sl = 1;
                                                foreach (var data in Model.ApprovalDetails.OrderBy(x => x.EmployeeInfo.Id))
                                                {
                                                    <tr>
                                                        <td>@sl</td>
                                                        <td>@data.EmployeeInfo.Name</td>
                                                        <td class="hidden" id="@tdemployeeId@data.Planning.Id">@data.EmployeeInfo.Id</td>
                                                        @{
                                                            if (data.Planning.Type == 1)
                                                            {
                                                                <td>Field</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Report</td>
                                                            }
                                                        }
                                                        <td class="hidden" id="@tdtypes@data.Planning.Id">@data.Planning.Type</td>
                                                        <td>@data.Planning.StartDate.ToString("dd MMM yyyy")</td>
                                                        <td class="hidden" id="@tdestartdate@data.Planning.Id">@data.Planning.StartDate</td>
                                                        <td>@data.Planning.FinishDate.ToString("dd MMM yyyy")</td>
                                                        <td class="hidden" id="@tdefinishdate@data.Planning.Id">@data.Planning.FinishDate</td>
                                                        <td id="@tdplanduration@data.Planning.Id">@data.Planning.Duration</td>
                                                        <td class="hidden" id="@tdTa@data.Planning.Id">@data.Planning.Ta</td>
                                                        <td class="hidden" id="@tdDa@data.Planning.Id">@data.Planning.Da</td>
                                                        @if (designation == "8" || designation == "5")
                                                        {
                                                            <td><span id="Ta_@data.Planning.Id" class="editable">@data.Planning.TaAmount</span></td>
                                                            <td><span id="Da_@data.Planning.Id" class="editable">@data.Planning.DaAmount</span></td>
                                                        }
                                                        else
                                                        {
                                                            if (data.Planning.Ta)
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-check' aria-hidden='true'></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-times' aria-hidden='true'></i></td>
                                                            }
                                                            if (data.Planning.Da)
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-check' aria-hidden='true'></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-times' aria-hidden='true'></i></td>
                                                            }
                                                            if (data.Planning.OutsideTa)
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-check' aria-hidden='true'></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-times' aria-hidden='true'></i></td>
                                                            }
                                                            if (data.Planning.OutsideDa)
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-check' aria-hidden='true'></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center"><i class='fa fa-times' aria-hidden='true'></i></td>
                                                            }
                                                            <td class="hidden" id="@tdOTa@data.Planning.Id">@data.Planning.OutsideTa</td>
                                                            <td class="hidden" id="@tdODa@data.Planning.Id">@data.Planning.OutsideDa</td>
                                                        }

                                                        @if (designation == "8" || designation == "5")
                                                        {

                                                            <td><span id="Remarks_@data.Planning.Id" class="editable">&nbsp;@data.Planning.Remarks</span></td>
                                                        }
                                                        else
                                                        {
                                                            <td id="@tdplanremarks@data.Planning.Id">@data.Planning.Remarks</td>
                                                        }
                                                        @if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                        {
                                                            if (designation == "9")
                                                            {
                                                                <td style="text-align:center">
                                                                    <a id="@data.Planning.Id" onclick="planinginfo(this);" style="cursor: pointer" title="Edit" ;
                                                                       data-placement="top">
                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a href="@Url.Action("DeletePlanningItem", "Planning", new RouteValueDictionary(new { planid = data.Planning.Id, masterid = data.Planning.PlanningMasterFk }))" id="@data.Planning.Id" class="glyphicon glyphicon-trash no-print"
                                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Employee Deleting From Plan"
                                                                       data-swal-text="Are you sure to delete this employee from plan?">
                                                                    </a>
                                                                </td>

                                                            }
                                                        }
                                                    </tr>

                                                    sl += 1;

                                                }
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("CreateTransportPlan", "Planning", FormMethod.Post, new { id = "workplan" }))
                    {
                        @Html.HiddenFor(model => model.Transport.Action, new { Value = "Save", id = "hidAction" })
                        @Html.HiddenFor(model => model.Transport.Id, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.Transport.PlanningMasterFk)
                        <div class="modal fade" id="divCreateTransport">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Creat/Edit Transport Order</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.CarInfo) &nbsp;<i class="ion-star"></i>
                                                        @Html.DropDownListFor(model => model.Transport.CarInfo, ViewBag.allCarInfo as SelectList,
"---Select Car Type---", new { id = "ddlCarInfo", @class = "form-control select2", style = "width:100%" })
                                                        @Html.ValidationMessageFor(model => model.Transport.CarInfo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.StartDate) &nbsp;<i class="ion-star"></i>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.EditorFor(model => model.Transport.StartDate, new { htmlAttributes = new { id = "txttrStartDate", @class = "datepicker form-control" } })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.Transport.StartDate, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.FinishDate) &nbsp;<i class="ion-star"></i>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.EditorFor(model => model.Transport.FinishDate, new { htmlAttributes = new { id = "txttrFinishDate", @class = "datepicker form-control" } })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.Transport.FinishDate, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.EstimatedDuration) &nbsp;<i class="ion-star"></i>
                                                        @Html.TextBoxFor(model => model.Transport.EstimatedDuration, new { Value = "1", id = "txttrDuration", placeholder = "Estimated Duration", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Transport.EstimatedDuration, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="divOwnCar" style="display: none">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Transport.FuelType) &nbsp;<i class="ion-star"></i>
                                                            @Html.DropDownListFor(model => model.Transport.FuelType, ViewBag.allfueltype as SelectList,
"---Select Fuel Type---", new { id = "ddlFuelType", @class = "form-control select2", style = "width:100%" })
                                                            @Html.ValidationMessageFor(model => model.Transport.FuelType, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Transport.EstimatedKm) &nbsp;<i class="ion-star"></i>
                                                            @Html.TextBoxFor(model => model.Transport.EstimatedKm, new { id = "txtEstimatedKm", placeholder = "Estimated Km", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Transport.EstimatedKm, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divHiredCar" style="display: none">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Transport.DailyCost) &nbsp;<i class="ion-star"></i>
                                                            @Html.TextBoxFor(model => model.Transport.DailyCost, new { Value = "0", id = "txtDailyCost", placeholder = "Daily Cost", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Transport.DailyCost, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.TotalCarCost) &nbsp;<i class="ion-star"></i>
                                                        @Html.TextBoxFor(model => model.Transport.TotalCarCost, new { Value = "0", placeholder = "Total Car Cost", @class = "form-control txtTotalCarCost" })
                                                        @Html.ValidationMessageFor(model => model.Transport.TotalCarCost, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transport.Remarks)
                                                        @Html.TextAreaFor(model => model.Transport.Remarks, new { id = "txttrRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                                        @Html.ValidationMessageFor(model => model.Transport.Remarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btntrsave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @using (Html.BeginForm("AssignCars", "Planning", FormMethod.Post, new { id = "assigncar" }))
                    {
                        @Html.HiddenFor(model => model.Transport.Id, new { Value = "", id = "hidtransportId" })
                        @Html.HiddenFor(model => model.Transport.PlanningMasterFk)
                        <div class="modal fade" id="divAssigncar">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Assign Car</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Transport.VendorFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.Transport.VendorFk, ViewBag.allvendor as SelectList,
"---Select Vendor---", new { id = "ddlVendorFk", @class = "form-control select2", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Transport.VendorFk, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Transport.CarFk) &nbsp;<i class="ion-star"></i>
                                                    @Html.DropDownListFor(model => model.Transport.CarFk, new SelectList(string.Empty, "Value", "Text"), "---Select Car---", new { id = "ddlCarFk", @class = "form-control select2", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Transport.CarFk, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btntrsave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">Transport Description</h3>
                                    @{
                                        if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                        {
                                            @:(&nbsp; <a href="#" onclick="CreateTransportOrder()" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                                        }
                                    }
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Type</th>
                                                <th class="hidden">TypeId</th>
                                                <th>Start Date</th>
                                                <th>Finish Date</th>
                                                <th>Duration</th>
                                                <th>Fuel Type</th>
                                                <th class="hidden">FuelTypeId</th>
                                                <th>Est.KM</th>
                                                <th>Cost/Day</th>
                                                <th>Total</th>
                                                <th>Remarks</th>
                                                @if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                {
                                                    <th>Action</th>
                                                }

                                            </tr>
                                        </thead>
                                        @if (Model.TransportList != null)
                                        {
                                            string type = string.Empty;
                                            <tbody>
                                                @{
                                                    var i = 1;
                                                    foreach (var transport in Model.TransportList)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            @{

                                                                if (transport.Transport.CarInfo == 1)
                                                                {
                                                                    type = "Own Car";

                                                                }
                                                                else if (transport.Transport.CarInfo == 2)
                                                                {
                                                                    type = "Instant Basis";
                                                                }

                                                                string fueltype;
                                                                if (transport.Transport.FuelType == "1")
                                                                {
                                                                    fueltype = "Gas";
                                                                }
                                                                else if (transport.Transport.FuelType == "2")
                                                                {
                                                                    fueltype = "Oil";
                                                                }
                                                                else if (transport.Transport.FuelType == "3")
                                                                {
                                                                    fueltype = "Gas + Oil";
                                                                }
                                                                else
                                                                {
                                                                    fueltype = "N/A";
                                                                }
                                                            }
                                                            <td>@type</td>
                                                            <td class="hidden" id="@tdtype@transport.Transport.Id">@transport.Transport.CarInfo</td>
                                                            <td id="@tdstartdate@transport.Transport.Id">@transport.Transport.StartDate.ToString("dd MMM yyyy")</td>
                                                            <td id="@tdfinishdate@transport.Transport.Id">@transport.Transport.FinishDate.ToString("dd MMM yyyy")</td>
                                                            <td id="@tdduration@transport.Transport.Id">@transport.Transport.EstimatedDuration</td>
                                                            <td>@fueltype</td>
                                                            <td class="hidden" id="@tdfueltype@transport.Transport.Id">@transport.Transport.FuelType</td>
                                                            <td id="@tdkm@transport.Transport.Id">@transport.Transport.EstimatedKm</td>
                                                            <td id="@tddailycost@transport.Transport.Id">@transport.Transport.DailyCost</td>
                                                            <td id="@tdtotalcost@transport.Transport.Id">@transport.Transport.TotalCarCost</td>
                                                            <td id="@tdremarks@transport.Transport.Id">@transport.Transport.Remarks</td>
                                                            <td style="text-align: center">

                                                                @{
                                                                    if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                                    {

                                                                        if (designation == "5" || designation == "8")
                                                                        {

                                                                            if (transport.Transport.Status)
                                                                            {
                                                                                <a href="@Url.Action("AcceptOrDeniedTransportPlan", "Planning", new RouteValueDictionary(new { transportid = transport.Transport.Id, status = false, planid = transport.Transport.PlanningMasterFk }))" title="Denied"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="@Url.Action("AcceptOrDeniedTransportPlan", "Planning", new RouteValueDictionary(new { transportid = transport.Transport.Id, status = true, planid = transport.Transport.PlanningMasterFk }))" title="Accept"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                                                </a>

                                                                            }
                                                                            <a id="@transport.Transport.Id" onclick=" transportinfo(this);" style="cursor: pointer" title="Edit" ;
                                                                               data-placement="top">
                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        }

                                                                        if (transport.Transport.CarInfo == 1 && transport.Transport.CarFk==0)
                                                                        {
                                                                            <a id="assign_@transport.Transport.Id" onclick=" assigncar(@transport.Transport.Id);" style="cursor: pointer" title="Car Assign" ;
                                                                               data-placement="top">
                                                                                <i class="fa fa-car" aria-hidden="true"></i>
                                                                            </a>
                                                                        }
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                        i = i + 1;
                                                    }
                                                }
                                            </tbody>
                                        }

                                    </table>
                                    @*<div class="text-right">
                            <a href="@Url.Action("TransportPlanEdit", "Planning", new RouteValueDictionary(new {id = Model.Transport.Id, planid= Model.ApprovalMaster.PlanningMaster.Id}))" id="btnplanupdate" class="btn btn-warning text-right"><i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Update</a>
                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("CreateOthersCost", "Planning", FormMethod.Post, new { id = "frmother" }))
                    {
                        @Html.HiddenFor(model => model.OtherPlanCost.Action, new { Value = "Save", id = "hidOtherAction" })
                        @Html.HiddenFor(model => model.OtherPlanCost.Id, new { Value = "", id = "hidOtherId" })
                        @Html.HiddenFor(model => model.OtherPlanCost.PlanningMasterFk)
                        <div class="modal fade" id="divOther">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Creat/Edit Other Cost</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OtherPlanCost.CostName) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.OtherPlanCost.CostName, new { id = "txtCostName", placeholder = "Cost Name", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OtherPlanCost.CostName, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OtherPlanCost.Amount) &nbsp;<i class="ion-star"></i>
                                                    @Html.TextBoxFor(model => model.OtherPlanCost.Amount, new { Value = "0", id = "txtotherAmount", placeholder = "Estimated Duration", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OtherPlanCost.Amount, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OtherPlanCost.Remarks)
                                                    @Html.TextAreaFor(model => model.OtherPlanCost.Remarks, new { id = "txtotherRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                                    @Html.ValidationMessageFor(model => model.OtherPlanCost.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                                        @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                        <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3 class="box-title">Other Cost Description</h3>
                                    @if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                    {
                                        @:(&nbsp; <a href="#" onclick="CreateOtherOrder()" id="lnkOtherCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                                    }

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Resource Title</th>
                                                <th>Amount</th>
                                                <th>Remarks</th>
                                                @if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                {
                                                    <th>Action</th>
                                                }

                                            </tr>
                                        </thead>
                                        @{
                                            if (Model.OtherPlanCostList != null)
                                            {
                                                <tbody>
                                                    @{
                                                        var n = 1;

                                                        foreach (var other in Model.OtherPlanCostList)
                                                        {
                                                            <tr>
                                                                <td>@n</td>
                                                                <td id="@tdcostname@other.OtherPlanCost.Id">@other.OtherPlanCost.CostName</td>
                                                                <td id="@tdotheramount@other.OtherPlanCost.Id">@other.OtherPlanCost.Amount</td>
                                                                <td id="@tdotherremarks@other.OtherPlanCost.Id">@other.OtherPlanCost.Remarks</td>
                                                                <td>
                                                                    @{
                                                                        if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                                                                        {
                                                                            if (designation == "5" || designation == "8")
                                                                            {
                                                                                if (other.OtherPlanCost.Status)
                                                                                {
                                                                                    <a href="@Url.Action("AcceptOrDeniedOtherPlan", "Planning", new RouteValueDictionary(new { otherid = other.OtherPlanCost.Id, status = false, planid = other.OtherPlanCost.PlanningMasterFk }))" title="Denied"
                                                                                       data-placement="top">
                                                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a href="@Url.Action("AcceptOrDeniedOtherPlan", "Planning", new RouteValueDictionary(new { otherid = other.OtherPlanCost.Id, status = true, planid = other.OtherPlanCost.PlanningMasterFk }))" title="Accept"
                                                                                       data-placement="top">
                                                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                                                    </a>

                                                                                }
                                                                            }
                                                                            <a id="@other.OtherPlanCost.Id" onclick=" otherfo(this);" style="cursor: pointer" title="Edit" ;
                                                                               data-placement="top">
                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                            n = n + 1;
                                                        }
                                                    }
                                                </tbody>
                                            }
                                        }


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    if (Model.ApprovalMaster.Select(x => x.PlanApproval).First() == false)
                    {
                        if (designation == "5" || designation == "8" || designation == "9")
                        {
                            <div class="box-footer">
                                <div style="text-align: center">
                                    <a href="@Url.Action("ApprovePlan", "Planning", new RouteValueDictionary(new { status = true, id = Model.ApprovalMaster.Select(x => x.PlanningMasterId).First() }))" id="btnsave" class="btn btn-primary"><i class="fa fa-address-book"></i>&nbsp;&nbsp;&nbsp;Approve</a>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>
</section>
@section ScriptFile
{
    <script>
        var startdate;
        var finishdate;
        var tstartdate;
        var tfinishdate;
        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function(e) {
                    $(this).removeData();
                });
            $('#divOther').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
            $('#divCreatePlanning').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
            $('#divAssigncar').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        }); 


        function CreateTransportOrder() {
            $('#btntrsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divCreateTransport').modal('show');
        }
        function CreateOtherOrder() {
            $('#btnothersave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divOther').modal('show');
        }

        function CreatePlan() {
            $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#divCreatePlanning').modal('show');
        } 

        function assigncar(id) {
            $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Save changes");
            $('#hidtransportId').val(id);
            $('#divAssigncar').modal('show');
        } 
        $('#ddlCarInfo').on("change",
            function(e) {
                var val = $('#ddlCarInfo').val();
                if (val==="1") {
                    $("#divOwnCar").show();
                    $("#divHiredCar").hide();
                }
                else if (val === "2") {
                    $("#divOwnCar").hide();
                    $("#divHiredCar").show();
                } else {
                    $("#divOwnCar").hide();
                    $("#divHiredCar").hide();
                }
            });

        //$('#txtStartDate').datepicker({ dateFormat: 'yyyy-mm-dd' }).bind("change", function ()
        //{
        //        datedifferenece();
        //    });
        //$('#txtFinishDate').datepicker().on('changeDate',
        //    function (ev) {
        //        datedifferenece();
        //    });
        //
        $('body').on('change', '#txtStartDate', function (e) {
       // $("txtStartDate").change(function () {
            datedifferenece();
        });
        $('body').on('change', '#txtFinishDate', function (e) {
            datedifferenece();
        });

        function datedifferenece() {
            var sdate = $('#txtStartDate').val();
            startdate = moment(sdate).format('YYYYMMDD');
            var fdate = $('#txtFinishDate').val();
            finishdate = moment(fdate).format('YYYYMMDD');

            var date1 = moment(startdate, "YYYYMMDD");
            var date2 = moment(finishdate, "YYYYMMDD");
            if (date2 >= date1) {
                $("#txtDuration").val((date2.diff(date1, "days")) + 1);
            }
        }


        //$('#txttrStartDate').datepicker().on('changeDate',
        //    function (ev) {

        //        tdatedifferenece();
        //    });
        //$('#txttrFinishDate').datepicker().on('changeDate',
        //    function (ev) {
        //        tdatedifferenece();
        //    });

        $('body').on('change', '#txttrStartDate', function (e) {
            // $("txtStartDate").change(function () {
            tdatedifferenece();
        });
        $('body').on('change', '#txttrFinishDate', function (e) {
            tdatedifferenece();
        });
        function tdatedifferenece() {
            var tsdate = $('#txttrStartDate').val();
            tstartdate = moment(tsdate).format('YYYYMMDD');
            var tfdate = $('#txttrFinishDate').val();
            tfinishdate = moment(tfdate).format('YYYYMMDD');

            var tdate1 = moment(tstartdate, "YYYYMMDD");
            var tdate2 = moment(tfinishdate, "YYYYMMDD");
            if (tdate2 >= tdate1) {
                $("#txttrDuration").val((tdate2.diff(tdate1, "days")) + 1);
            }
        }

        function planinginfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidplanId').val(r);
                $('#hidplanAction').val('Update');
                $('#btnplansave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#ddlTypes').val($('#tdtypes' + r).text().trim()).trigger('change');
                $('#ddlEmployeeInfoFk').val($('#tdemployeeId' + r).text().trim()).trigger('change');
                $('#txtStartDate').val($('#tdestartdate' + r).text().trim());
                $('#txtFinishDate').val($('#tdefinishdate' + r).text().trim());
                $('#txtDuration').val($('#tdplanduration' + r).text().trim());
                $('#txtRemarks').val($('#tdplanremarks' + r).text().trim());

                var ta = ($('#tdTa' + r)).text().trim();
                var da = ($('#tdDa' + r)).text().trim();
                var ota = ($('#tdOTa' + r)).text().trim();
                var oda = ($('#tdODa' + r)).text().trim();

                if (ta === 'True') {
                    $('#cbTa').iCheck('check');
                } else {
                    $('#cbTa').iCheck('uncheck');
                }

                if (da === 'True') {
                    $('#cbDa').iCheck('check');
                } else {
                    $('#cbDa').iCheck('uncheck');
                }

                if (ota === 'True') {
                    $('#cbOutsideTa').iCheck('check');
                } else {
                    $('#cbOutsideTa').iCheck('uncheck');
                }

                if (oda === 'True') {
                    $('#cbOutsideDa').iCheck('check');
                } else {
                    $('#cbOutsideDa').iCheck('uncheck');
                }

                $('#divCreatePlanning').modal('show');
            }
        }

        function transportinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btntrsave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#ddlCarInfo').val($('#tdtype' + r).text().trim()).trigger('change');
                $('#txttrStartDate').val($('#tdstartdate' + r).text().trim());
                $('#txttrFinishDate').val($('#tdfinishdate' + r).text().trim());
                $('#txttrDuration').val($('#tdduration' + r).text().trim());
                $('#ddlFuelType').val($('#tdfueltype' + r).text().trim()).trigger('change');
                $('#txtEstimatedKm').val($('#tdkm' + r).text().trim());
                $('.txtTotalCarCost').val($('#tdtotalcost' + r).text().trim());
                $('#txtDailyCost').val($('#tddailycost' + r).text().trim());
                $('#txttrRemarks').val($('#tdremarks' + r).text().trim());
                $('#divCreateTransport').modal('show');
            }
        }

        function otherfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidOtherId').val(r);
                $('#hidOtherAction').val('Update');
                $('#btnothersave').html("<i class='fa fa-edit'></i>&nbsp;Update");

                $('#txtCostName').val($('#tdcostname' + r).text().trim());
                $('#txtotherAmount').val($('#tdotheramount' + r).text().trim());
                $('#txtotherRemarks').val($('#tdotherremarks' + r).text().trim());
                $('#divOther').modal('show');
            }
        }
        // Callback function
        const doAjax = (ev) => {
            var strid = ev.parent.lastChild.id;
            var type = strid.split('_')[0];
            var id = strid.split('_')[1];
            var amount = ev.newValue;
            $.ajax({
                type: "post",
                url: "@Url.Action("UpdateTaDaAmount", "Helper")",
                data: { type: type, id: id, amount: amount },
                datatype: "json",
                traditional: true,
                success: function(data) {
                    if (!data) {
                        location.reload(true);
                    }
                }
            });
        }

        // Attach the editable function
        $('.editable').editable({
            onChange: doAjax
        });


        $('#ddlVendorFk').on("change",
            function(e) {
                if ($('#ddlVendorFk').val() !== "---Select Vendor---") {
                    $("#ddlCarFk").empty();

                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetCarByVendorsstId", "Helper")",
                        data: { vid: $('#ddlVendorFk').val() },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {
                            $.each(data,
                                function(index, row) {
                                    $("#ddlCarFk")
                                        .append("<option value='" + row.Id + "'>" + row.Text + "</option>");
                                });
                        }
                    });
                }
            });
    </script>
}
