﻿@using ONSJobTracker.Models
@model EmployeeInfo
@{
    ViewBag.Title = "EmployeeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateEmployee", "UserAccess", FormMethod.Post, new { id = "SaveEmployee", data_server = "true", enctype = "multipart/form-data" }))
{
    <!-- form start -->
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(x=>x.Action,new {Value="Save"})
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">EmployeeIndex</li>
        </ol>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Employee</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-3" style="text-align: center;padding-top: 35px">
                        <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/No_Image.png" alt="User profile picture" style="width: 150px; height: 150px;cursor: pointer;" title="Upload Image">
                        <input type="file" id="my_file" name="files" accept="image/x-png,image/jpg,image/jpeg" style="display: none;" />
                        <br/>
                        <div id="divMessage" style="color: gray">
                            <small>Maximum image size 200 KB.</small>
                            <small>Please upload image(jpg/jpeg/png) less than 200 KB</small>
                        </div>
                     
                    </div>
                    
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name)&nbsp;<i class="ion-star"></i>
                                        @Html.TextBoxFor(model => model.Name, new {id = "txtName", placeholder = "Name", @class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CId)&nbsp;<i class="ion-star"></i>
                                        @Html.TextBoxFor(model => model.CId, new {id = "txtCId", placeholder = "Employee ID", @class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.CId, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeDesignationFk)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.EmployeeDesignationFk, ViewBag.alldesignation as SelectList, "---Select Designation---", new { id = "ddlDesignation", @class = "form-control select2",style="width:100%" })
                                        @Html.ValidationMessageFor(model => model.EmployeeDesignationFk, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeDepartmentFk)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.EmployeeDepartmentFk, ViewBag.alldepartment as SelectList, "---Select Department---", new { id = "ddlDepartment", @class = "form-control select2", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.EmployeeDepartmentFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile)&nbsp;<i class="ion-star"></i>
                                        @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", placeholder = "Mobile", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email)&nbsp;<i class="ion-star"></i>
                                        @Html.EditorFor(x=> x.Email, new { htmlAttributes = new { id = "txtEmail", placeholder = "Email", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextAreaFor(model => model.Address, new {id = "txtAddress", placeholder = "Address", @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
}
@section ScriptFile
    {
    <script type="text/javascript">
        $('#imgUser').click(function() {
            $('#my_file').click();
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgUser').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#my_file').bind('change', function () {
            var filesize = this.files[0].size / 1024; //KB
            if (filesize > 200) {
                $("#divMessage").css("color", "red");
                $('#my_file').val('');
            } else {
                $("#divMessage").css("color", "gray");
                readURL(this);
            }            
        });
    </script>
  
}