﻿@using ONSJobTracker.Models
@model EmployeeDesignation
@{
    ViewBag.Title = "Designation";
    var tdname = "tdname";
    var tdta = "tdta";
    var tdda = "tdda";
    var tdoda = "tdoda";
    var tdota = "tdota";
    var tdremarks = "tdremarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- form start -->
@using (Html.BeginForm("CreateEmployeeDesignation", "UserAccess", FormMethod.Post, new { id = "employeedesignation" }))
{
    @Html.HiddenFor(model => model.Action, new { Value = "Save", id = "hidAction" })
    @Html.HiddenFor(model => model.Id, new { Value = "", id = "hidId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee Designation
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">EmployeeDesignationIndex</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New Employee Designation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name) &nbsp;<i class="ion-star"></i>
                            @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Designation", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
               
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Inside Dhaka TA/DA</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ta) &nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.Ta, new { id = "txtTa", placeholder = "Travel Allowance", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Ta, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Da)&nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.Da, new {id = "txtDa", placeholder = "Dinning Allowance", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Da, "", new {@class = "text-danger"})
                                </div>

                            </div>
                        </div>
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Outside Dhaka TA/DA</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OutsideTa) &nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.OutsideTa, new { id = "txtOutsideTa", placeholder = "Outside Travel Allowance", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OutsideTa, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OutsideDa)&nbsp;<i class="ion-star"></i>
                                    @Html.TextBoxFor(model => model.OutsideDa, new { id = "txtOutsideDa", placeholder = "Outside Dinning Allowance", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OutsideDa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                     
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks)
                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        <button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Employee Designation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">Id</th>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 20%">Name</th>
                                    <th style="width: 10%">Inside Ta</th>
                                    <th style="width: 10%">Inside Da</th>
                                    <th style="width: 10%">Outside Ta</th>
                                    <th style="width: 10%">Outside Da</th>
                                    <th style="width: 20%">Remarks</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<EmployeeDesignation> designations = ViewBag.alldesignation as List<EmployeeDesignation>;
                                    int sl = 0;
                                    if (designations != null)
                                    {

                                        foreach (var designation in designations)
                                        {
                                            sl += 1;
                                            <tr>
                                                <td class="hidden">@designation.Id</td>
                                                <td>@sl</td>
                                                <td id="@tdname@designation.Id">@designation.Name</td>
                                                <td id="@tdta@designation.Id">@designation.Ta</td>
                                                <td id="@tdda@designation.Id">@designation.Da</td>
                                                <td id="@tdota@designation.Id">@designation.OutsideTa</td>
                                                <td id="@tdoda@designation.Id">@designation.OutsideDa</td>
                                                <td id="@tdremarks@designation.Id">@designation.Remarks</td>
                                                <td style="text-align: center;cursor: pointer">
                                                    <a id="@designation.Id" onclick=" designationinfo(this);" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteEmployeeDesignation", "UserAccess", new RouteValueDictionary(new {id = designation.Id}))" id="@designation.Id" class="glyphicon glyphicon-trash no-print"
                                                       data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                       data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Employee Designation Deleting"
                                                       data-swal-text="Are you sure to Delete this Employee Designation?">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    }

@section ScriptFile {
    <script type="text/javascript">
        function designationinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#hidAction').val('Update');
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtName').val($('#tdname' + r).text().trim());
                $('#txtTa').val($('#tdta' + r).text().trim());
                $('#txtDa').val($('#tdda' + r).text().trim());
                $('#txtOutsideTa').val($('#tdota' + r).text().trim());
                $('#txtOutsideDa').val($('#tdoda' + r).text().trim());
                $('#txtRemarks').val($('#tdremarks' + r).text().trim());

            }
        }
        $(document).off("click", "#btnreset");
        $(document).on("click", "#btnreset", function (e) {
            e.preventDefault();
            var act = $('#hidAction').val();
            if (act === "Update") {
                $('#hidAction').val("Save");
                $('#hidId').val('');
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#txtName').val("");
                $('#txtTa').val("");
                $('#txtDa').val("");
                $('#txtRemarks').val("");
            }
        });
    </script>

}