﻿@model IEnumerable<ONSJobTracker.ViewModels.UserEmployee.EmployeeViewModel>
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Employee
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Employee List</li>
    </ol>
</section>
<section class="content">
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Employee List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="hidden">Id</th>
                                <th style="width: 20%; text-align: center"></th>
                                <th style="width: 35%; text-align: center">Employee Particulars</th>
                                <th style="width: 35%; text-align: center">Contact Details</th>
                                <th style="width: 5%; text-align: center">Status</th>                                
                                <th style="width: 5%; text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var data in Model)
                                    {
                                        <tr>
                                            <td class="hidden">1</td>
                                            <td style="text-align: center">
                                                <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/@data.ImageLink" alt="User profile picture" style="width: 75px; height: 75px;">
                                            </td>
                                            <td style="font-weight: bold">
                                                <table>
                                                    <tr>
                                                        <td style="width: 10%">Name</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.Name</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 10%">ID</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.CId</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 10%">Designation</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.EmployeeDesignation</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 10%">Department</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.EmployeeDepartment</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-weight: bold">
                                                <table>
                                                    <tr>
                                                        <td style="width: 10%">Email</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.Email</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 10%">Mobile</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.Mobile</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 10%">Address</td>
                                                        <td style="width: 5%">:</td>
                                                        <td style="width: 39%">@data.Address</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-weight: bold; text-align: center;vertical-align: middle">
                                                @{
                                                    if (data.Status)
                                                    {
                                                        <span class="label label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">Resigned</span>
                                                    }
                                                }
                             
                                            </td>
                                            <td style="text-align: center; cursor: pointer;vertical-align:middle">
                                                <a id="@data.Id" href="@Url.Action("UpdateEmployee", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" title="Edit"
                                                   data-placement="top">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteEmployee", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" class="glyphicon glyphicon-trash no-print"
                                                   data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                   data-swal-confirm-button-text="Yes, delete it!" data-swal-title="Employee Deleting"
                                                   data-swal-text="Are you sure to Delete this Employee?">
                                                </a>
                                                <a href="@Url.Action("ResignEmployee", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" class="fa fa-fw fa-user-times no-print"
                                                   data-tooltip="tooltip" title="Resign" data-placement="top" data-delconfirm="true"
                                                   data-swal-confirm-button-text="Yes, Resigned!" data-swal-title="Employee Resigning"
                                                   data-swal-text="Are you sure to this employee is resigning from this company?">
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }


                            }                      
                            </tbody>
                        </table>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
</section>
