﻿@using ONSJobTracker.Models
@model User
@{
    ViewBag.Title = "EmployeeProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateEmployeeProfile", "UserAccess", FormMethod.Post, new { id = "UpdateEmployee", data_server = "true", enctype = "multipart/form-data" }))
{
    <!-- form start --> 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.Id,new{Value= ViewBag.EmployeeProfile.Id})
    @Html.HiddenFor(x => x.LoginId,new{Value= ViewBag.EmployeeProfile.LoginId })
    @*@Html.HiddenFor(x => x.Action, new { Value = "Update" })*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee Profile
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Employee Profile </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Employee Profile</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-3" style="text-align: center;padding-top: 35px">
                            <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/@ViewBag.EmployeeProfile.ImageLink" alt="User profile picture" style="width: 150px; height: 150px;cursor: pointer;" title="Upload Image">
                            @*<input type="file" id="my_file" accept="image/x-png,image/jpg,image/jpeg" name="files" style="display: none;" />*@
                            <br />
                            @*<div id="divMessage" style="color: gray">
                                <small>Maximum image size 200 KB.</small>
                                <small>Please upload image(jpg/jpeg/png) less than 200 KB</small>
                            </div>*@

                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-md-4">
                                                @*<div class="form-group">
                                                    @Html.Label("Address")
                                                    @Html.TextArea("Address", new { id = "txtAddress", placeholder = "Address", @class = "form-control", value = "@ViewBag.EmployeeProfile.Address" })
                                                    @Html.ValidationMessage("", "", new { @class = "text-danger"})
                                                </div>*@
                                                <label style="font-weight: bolder"> Name</label>
                                                <input class="form-control" readonly="readonly" value="@ViewBag.EmployeeProfile.Name"/>
                                            </div>
                                            <div class="col-md-4">
                                                <label style="font-weight: bolder"> CId</label>
                                                <input class="form-control"readonly="readonly" value="@ViewBag.EmployeeProfile.CId" />
                                            </div>
                                            <div class="col-md-4">
                                                <label style="font-weight: bolder"> Employee Designation</label>
                                                <input class="form-control" readonly="readonly" value="@ViewBag.EmployeeProfile.EmployeeDesignation" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        <label style="font-weight: bolder"> Employee Department</label>
                                        <input class="form-control" readonly="readonly" value="@ViewBag.EmployeeProfile.EmployeeDepartment"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label style="font-weight: bolder"> Mobile</label>
                                        <input class="form-control"readonly="readonly" value="@ViewBag.EmployeeProfile.Mobile" />
                                    </div>
                                    <div class="col-md-4">
                                        <label style="font-weight: bolder">Email</label>
                                        <input class="form-control" readonly="readonly" value="@ViewBag.EmployeeProfile.Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.Label("Address")
                                    @Html.TextArea("Address", new { id = "txtAddress", placeholder = "Address", @class = "form-control", value = "@ViewBag.EmployeeProfile.Address", @readonly= "readonly"})
                                    @Html.ValidationMessage("", "", new { @class = "text-danger"})
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer">
                        <div style="margin-left: 50px">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-caret-square-o-up"></i>&nbsp;&nbsp;&nbsp;Update Password
                            </button>
                        </div>
                    </div>

                    @*  Modal   *@
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Change/Update Your Password</h4>
                                </div>
                                <div class="modal-body row ">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password)&nbsp;<i class="ion-star"></i>
                                            @Html.PasswordFor(model => model.Password, new { id = "txtCId", placeholder = "Enter Password", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword)&nbsp;<i class="ion-star"></i>
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { id = "txtCId", placeholder = "Confirm Password", @class = "form-control " })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile
    {
    <script type="text/javascript">
        $('#imgUser').click(function() {
            $('#my_file').click();
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgUser').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#my_file').bind('change', function () {
            var filesize = this.files[0].size / 1024; //KB
            if (filesize > 200) {
                $("#divMessage").css("color", "red");
                $('#my_file').val('');
            } else {
                $("#divMessage").css("color", "gray");
                readURL(this);
            }
        });
    </script>

}