﻿@using ONSJobTracker.Models
@model User
@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateUser", "UserAccess", FormMethod.Post, new { id = "updateuser" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Action, new { Value = "Update" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Password)
    <section class="content-header">
        <h1>
            User Update
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">UpdateUser</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/@ViewBag.sidebar.ImageLink" style="height: 100px;width: 100px" alt="User profile picture">

                        <h3 id="hname" class="profile-username text-center">@ViewBag.sidebar.Name</h3>

                        <p id="pdesignantion" class="text-muted text-center">@ViewBag.sidebar.EmployeeDesignation</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>ID</b> <p id="pid" class="pull-right" style="font-weight: bold">@ViewBag.sidebar.CId</p>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <p id="pemail" class="pull-right">@ViewBag.sidebar.Email</p>
                            </li>
                            <li class="list-group-item">
                                <b>Mobile</b> <p id="pmobile" class="pull-right">@ViewBag.sidebar.Mobile</p>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b> <p id="pdepartment" class="pull-right">@ViewBag.sidebar.EmployeeDepartment</p>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update User</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeInfoFk)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.EmployeeInfoFk, ViewBag.allemployee as SelectList, "---Select Employee---", new { id = "ddlEmployee", @class = "form-control select2", style = "width:100%",disabled=true})
                                        @Html.ValidationMessageFor(model => model.EmployeeInfoFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserType)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.UserType, ViewBag.allusertype as SelectList, "---Select User Type---", new { id = "ddlUserType", @class = "form-control select2", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LoginId)&nbsp;<i class="ion-star"></i>
                                        @Html.TextBoxFor(model => model.LoginId, new { id = "txtLoginId", placeholder = "Login Id", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>                 
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Update</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">
        $('#ddlEmployee').on("change",
            function (e) {
                var empid = $('#ddlEmployee').val();
                if (empid !== '') {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetEmployeeDetails", "Helper")",
                        data: { employeeid: empid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {
                            $("#hname").text(data.Name);
                            $("#pdesignantion").text(data.EmployeeDesignation);
                            $("#pid").text(data.CId);
                            $("#pemail").text(data.Email);
                            $("#pmobile").text(data.Mobile);
                            $("#pdepartment").text(data.EmployeeDepartment);
                            $("#imgUser").attr("src", "~/Content/Image/"+data.ImageLink);
                        }
                    });
                } else {
                    $("#hname").empty();
                    $("#pdesignantion").empty();
                    $("#pid").empty();
                    $("#pemail").empty();
                    $("#pmobile").empty();
                    $("#pdepartment").empty();
                    $("#imgUser").attr("src", "~/Content/Image/No_Image.png");
                }
            });
    </script>
}