﻿@using ONSJobTracker.Models
@model User
@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateUser", "UserAccess", FormMethod.Post, new { id = "user" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=>model.Action,new {Value="Save"})
    <section class="content-header">
        <h1>
            User
            <small>Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">UserIndex</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/No_Image.png" style="height: 100px;width: 100px" alt="User profile picture">

                        <h3 id="hname" class="profile-username text-center"></h3>

                        <p id="pdesignantion" class="text-muted text-center"></p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>ID</b> <p id="pid" class="pull-right" style="font-weight: bold"></p>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <p id="pemail" class="pull-right"></p>
                            </li>
                            <li class="list-group-item">
                                <b>Mobile</b> <p id="pmobile" class="pull-right"></p>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b> <p id="pdepartment" class="pull-right"></p>
                            </li>
                        </ul>                      
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add New User</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeInfoFk)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.EmployeeInfoFk, ViewBag.allemployee as SelectList, "---Select Employee---", new {id = "ddlEmployee", @class = "form-control select2", style = "width:100%"})
                                        @Html.ValidationMessageFor(model => model.EmployeeInfoFk, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserType)&nbsp;<i class="ion-star"></i>
                                        @Html.DropDownListFor(model => model.UserType, ViewBag.allusertype as SelectList, "---Select User Type---", new {id = "ddlUserType", @class = "form-control select2", style = "width:100%"})
                                        @Html.ValidationMessageFor(model => model.UserType, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LoginId)&nbsp;<i class="ion-star"></i>
                                        @Html.TextBoxFor(model => model.LoginId, new { id = "txtLoginId", placeholder = "Login Id", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LoginId, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password)&nbsp;<i class="ion-star"></i>
                                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { id = "txtPassword", placeholder = "Password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword)&nbsp;<i class="ion-star"></i>
                                        @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { id = "txtConfirmPassword", placeholder = "Confirm Password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section ScriptFile
{
    <script type="text/javascript">
        $('#ddlEmployee').on("change",
            function (e) {
                var empid = $('#ddlEmployee').val();
                if (empid !== '') {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetEmployeeDetails", "Helper")",
                        data: { employeeid: empid },
                        datatype: "json",
                        traditional: true,
                        success: function(data) {
                            $("#hname").text(data.Name);
                            $("#pdesignantion").text(data.EmployeeDesignation);
                            $("#pid").text(data.CId);
                            $("#pemail").text(data.Email);
                            $("#pmobile").text(data.Mobile);
                            $("#pdepartment").text(data.EmployeeDepartment);
                            $("#imgUser").attr("src", "~/Content/Image/"+data.ImageLink);
                        }
                    });
                } else {
                    $("#hname").empty();
                    $("#pdesignantion").empty();
                    $("#pid").empty();
                    $("#pemail").empty();
                    $("#pmobile").empty();
                    $("#pdepartment").empty();
                    $("#imgUser").attr("src", "~/Content/Image/No_Image.png");
                }
            });
    </script>
}
