﻿@model IEnumerable<ONSJobTracker.ViewModels.UserEmployee.UserViewModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        User
        <small>Setting</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">User List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden">Id</th>
                                        <th style="width: 20%; text-align: center"></th>
                                        <th style="width: 35%; text-align: center">User Details</th>
                                        <th style="width: 17%; text-align: center">Login ID</th>
                                        <th style="width: 17%; text-align: center">User Type</th>
                                        <th style="width: 6%; text-align: center">Status</th>
                                        <th style="width: 5%; text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            foreach (var data in Model)
                                            {
                                                <tr>
                                                    <td class="hidden">1</td>
                                                    <td style="text-align: center">
                                                        <img id="imgUser" class="profile-user-img img-responsive img-circle" src="~/Content/Image/@data.ImageLink" alt="User profile picture" style="width: 75px; height: 75px;">
                                                    </td>
                                                    <td style="font-weight: bold">
                                                        <table>
                                                            <tr>
                                                                <td style="width: 10%">Name</td>
                                                                <td style="width: 5%">:</td>
                                                                <td style="width: 39%">@data.Name</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 10%">ID</td>
                                                                <td style="width: 5%">:</td>
                                                                <td style="width: 39%">@data.CId</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td style="font-weight: bold; text-align: center;vertical-align: middle">
                                                        @data.LoginId
                                                    </td>
                                                    <td style="font-weight: bold; text-align: center;vertical-align: middle">
                                                        @{
                                                            if (data.UserType == "Admin")
                                                            {
                                                                <span class="label label-success">@data.UserType</span>
                                                            }
                                                            else if (data.UserType == "User Admin")
                                                            {
                                                                <span class="label label-primary">@data.UserType</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-info">@data.UserType</span>
                                                            }
                                                        }

                                                    </td>
                                                    @{
                                                        string classname = "";
                                                        string un = "";


                                                        <td style="font-weight: bold; text-align: center;vertical-align: middle">

                                                            @{
                                                                if (data.Status)
                                                                {
                                                                    classname = "fa fa-fw fa-unlock no-print";
                                                                    un = "";
                                                                    <span class="label label-success">Active</span>
                                                                }
                                                                else
                                                                {
                                                                    classname = "fa fa-fw fa-lock no-print";
                                                                    un = "Un-";
                                                                    <span class="label label-danger">On-Hold</span>
                                                                }
                                                            }


                                                        </td>
                                                        <td style="text-align: center; cursor: pointer;vertical-align:middle">
                                                            <a id="@data.Id" href="@Url.Action("UpdateUser", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" title="Edit"
                                                               data-placement="top">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a href="@Url.Action("DeleteUser", "UserAccess", new RouteValueDictionary(new {id = data.Id}))" id="@data.Id" class="glyphicon glyphicon-trash no-print"
                                                               data-tooltip="tooltip" title="Delete" data-placement="top" data-delconfirm="true"
                                                               data-swal-confirm-button-text="Yes, delete it!" data-swal-title="User Deleting"
                                                               data-swal-text="Are you sure to Delete this User?">
                                                            </a>
                                                            <a href="@Url.Action("HoldUserAccount", "UserAccess", new RouteValueDictionary(new {uid = data.Id,status=!data.Status}))" id="@data.Id" class="@classname"
                                                               data-tooltip="tooltip" title="@un Hold Account" data-placement="top" data-delconfirm="true"
                                                               data-swal-confirm-button-text="Yes, @un Hold it!" data-swal-title="User Account @un Holding"
                                                               data-swal-text="Are you sure to @un hold this user Account?">
                                                            </a>
                                                        </td>
                                                    }
                                                </tr>
                                                                    }
                                                                }


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
